input[type="text"]
{
    background: #0f6fc6;
    border: none;
    color: white;
    font-size: 30px;
    text-align: center;

}
textarea
{
    background: transparent;
    border: none;
    color: black;
    font-size: 30px;
    text-align: center;
    line-height: 30px;

}