
@font-face {
    font-family: hackers;
    src: url("hackers.ttf") format("truetype");
}
@font-face {
    font-family: caviar;
    src: url("CaviarDreams.ttf") format("truetype");
}
@font-face {
    font-family: crown;
    src: url("IntellectaCrowns.ttf") format("truetype");
}
@font-face {
    font-family: mouse;
    src: url("Mouse.ttf") format("truetype");
}
@font-face {
    font-family: black-list;
    src: url("The Blacklist.ttf") format("truetype");
}
@font-face {
    font-family: black-clover;
    src: url("Black Clover Font.ttf") format("truetype");
}
@font-face {
    font-family: cherolina;
    src: url("Cherolina.ttf") format("truetype");
}
@font-face {
    font-family: fire;
    src: url("fire.ttf") format("truetype");
}
@font-face {
    font-family: CreamCake;
    src: url("CreamCake.ttf") format("truetype");
}
@font-face {
    font-family: LinLibertine_R;
    src: url("LinLibertine_R.ttf") format("truetype");
}


// serif
@font-face {
    font-family: code;
    src: url("CODE Light.otf") format("truetype");
}
@font-face {
    font-family: coture;
    src: url("couture-bld.otf") format("truetype");
}
@font-face {
    font-family: Camaro;
    src: url("Camaro Sans.otf") format("truetype");
}
@font-face {
    font-family: Chelsea;
    src: url("Chelsea.ttf") format("truetype");
}
@font-face {
    font-family: Gacor;
    src: url("Gacor.ttf") format("truetype");
}
@font-face {
    font-family: NyataFTR;
    src: url("NyataFTR-Regular.otf") format("truetype");
}
@font-face {
    font-family: Pinkerston;
    src: url("Pinkerston.otf") format("truetype");
}
@font-face {
    font-family: Quicksand_Book;
    src: url("Quicksand_Book.otf") format("truetype");
}
@font-face {
    font-family: Quicksand_Light;
    src: url("Quicksand_Light.otf") format("truetype");
}
@font-face {
    font-family: Miami;
    src: url("20db.otf") format("truetype");
}
@font-face {
    font-family: babyScript;
    src: url("Baby sweet Script.otf") format("truetype");
}



// san serif
@font-face {
    font-family: Cruncho;
    src: url("Cruncho Font by Dreamink (7NTypes).otf") format("truetype");
}
@font-face {
    font-family: Leonetta;
    src: url("Leonetta-Serif.otf") format("truetype");
}
@font-face {
    font-family: LilacBlockDemo;
    src: url("LilacBlockDemo-Regular.ttf") format("truetype");
}
@font-face {
    font-family: Medhurst;
    src: url("Medhurst-regular.ttf") format("truetype");
}
@font-face {
    font-family: NewYork;
    src: url("NewYork.otf") format("truetype");
}
