// 😀 😃 😄 😁 😆 😅 🤣 😂 🙂 🙃 😉 😊 😇 🥰 😍 🤩 😘 😗 😚 😙 😋 😛 😜 🤪 😝 🤑 🤗 🤭 🤫 🤔 🤐 🤨 😐 😑 😶 😏
// 😒 🙄 😬 🤥 😌 😔 😪 🤤 😴 😷 🤒 🤕 🤢 🤮 🤧 🥵
// 🥶 🥴 😵 🤯 🤠 🥳 😎 🤓 🧐 😕 😟 🙁 😮 😯 😲 😳 🥺 😦 😧 😨 😰 😥 😢 😭 😱 😖 😣 😞 😓 😩 😫 😤 😡 😠 🤬 😈 👿

@mixin BoxShadow($dp) {
    @if $dp==0 {
        box-shadow: none;
    } @else if $dp==1 {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    } @else if $dp==2 {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    } @else if $dp==3 {
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    } @else if $dp==4 {
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    } @else if $dp==6 {
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
            0 3px 5px -1px rgba(0, 0, 0, 0.2);
    } @else if $dp==8 {
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12),
            0 5px 5px -3px rgba(0, 0, 0, 0.2);
    } @else if $dp==9 {
        box-shadow: 0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12),
            0 5px 6px -3px rgba(0, 0, 0, 0.2);
    } @else if $dp==12 {
        box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12),
            0 7px 8px -4px rgba(0, 0, 0, 0.2);
    } @else if $dp==16 {
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12),
            0 8px 10px -5px rgba(0, 0, 0, 0.2);
    } @else if $dp==24 {
        box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12),
            0 11px 15px -7px rgba(0, 0, 0, 0.2);
    }
}

.landingScreenTextContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: -webkit-fill-available;
}

.disable-text-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slideToLoginBoundary {
    width: 288px;
    height: 44px;
    // border: black solid 1px;
    position: relative;
    left: 11px;
}

.slideInput {
    position: relative;
    top: -64px;
    width: 249px;
    height: 62px;
    left: -2px;
    text-align: end;
    font-size: 30px;
    color: darkgray;
    border-radius: 10px;
    padding: 10px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.39), 0 -1px 1px #fff, 0 1px 0 #fff;
}

.GO {
    width: 70px;
    height: 70px;
    border: 5px solid darkblue;
    position: relative;
    left: -108px;
    // top: -2px;
    outline: none;
    font-size: 45px;
    line-height: 31px;
    background-color: white;
    color: darkblue;
    font-family: auto;
    z-index: 2;
    // animation: heartBeat 10000ms ease-in-out 1ms infinite;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    box-shadow: inset inset 0px 0px 5px #c1c1c1;
    // -webkit-box-reflect: below 8px -webkit-gradient(linear, right top, right bottom, from(transparent), to(rgba(255, 255, 255, 0.4)));
    @include BoxShadow(6);
}

//desktop
@media (min-width: 576px) {
    .mainContainerPresent {
        background-color: white;
        /* border: solid 5px darkblue; */
        width: 665px;
        height: 90vh;
        // height: calc(var(--vh, 1vh) * 90);
        margin: 0;
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -53%);
        border-radius: 10px;
        text-align: center;

        // background-image: url("http://bipresents.com/nw2/nw_slides/Test_WELL_PLATFORM/thumbnails/014.jpg");

        @include BoxShadow(6);

        .logo {
            width: 80px;
        }

        .title {
            font-size: 20px;
            margin: -17px 0 0px 0;
        }

        .instructionsText {
            color: #6c757d;
            font-size: 14px;
            padding: 0 7px;
            text-align: center;
            margin: 0 10px;
        }

      
    }
    .mainContainerPresent1 {
        background-color: white;
        border: solid 5px darkblue;
        width: 355px;
        height: 90vh; /* Fallback for browsers that do not support Custom Properties */
        // height: calc(var(--vh, 1vh) * 90);
        margin: 0;
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -53%);
        border-radius: 10px;
        text-align: center;

        // background-image: url("http://bipresents.com/nw2/nw_slides/Test_WELL_PLATFORM/thumbnails/014.jpg");

        @include BoxShadow(6);

        .logo {
            width: 80px;
        }

        .title {
            font-size: 20px;
            margin: -17px 0 0px 0;
        }

        .instructionsText {
            color: #6c757d;
            font-size: 14px;
            padding: 0 7px;
            text-align: center;
        }

       
    }
}
//mobile
@media (max-width: 576px) {
    .mainContainerPresent {
        background-color: white;
        // border: solid 5px darkblue;
        width: 355px;
        height: 90vh; /* Fallback for browsers that do not support Custom Properties */
        // height: calc(var(--vh, 1vh) * 90);
        margin: 0;
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -53%);
        border-radius: 10px;
        text-align: center;

        // background-image: url("http://bipresents.com/nw2/nw_slides/Test_WELL_PLATFORM/thumbnails/014.jpg");

        // @include BoxShadow(6);

        .logo {
            width: 80px;
            margin: 10px 0px;
        }

        .title {
            font-size: 20px;
            margin: -17px 0 0px 0;
        }

        .instructionsText {
            color: #6c757d;
            font-size: 17px;
            padding: 0 7px;
            text-align: center;
        }

      
    }
}
// small mobile
@media (max-width: 400px) {
    .mainContainerPresent {
        background-color: white;
        // border: solid 5px darkblue;
        height: 90vh; /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 80);
        margin: 0;
        // position: absolute;
        // top: 52%;
        // left: 50%;
        text-align: center;
        max-width: 500px;
        min-height: 100%;
        overflow-y: hidden;
        text-align: center;

        // background-image: url("http://bipresents.com/nw2/nw_slides/Test_WELL_PLATFORM/thumbnails/014.jpg");

        // @include BoxShadow(6);

        .logo {
            width: 80px;
            margin: 10px 0px;
        }

        .title {
            font-size: 20px;
            margin: -17px 0 0px 0;
        }

        .instructionsText {
            color: #6c757d;
            font-size: 17px;
            padding: 0 7px;
            text-align: center;
        }

        
    }
}

.help {
    outline: none;
    color: darkgrey;;
    .mat-icon {
        font-size: 26px;
    }
}

// Helper claases
.names-list-card::-webkit-scrollbar {
    display: none;
}

