<!-- ➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗  SETTINGS ICONS  ➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗ -->
<div *ngIf="bmxClientPageOverview">
    <button (click)="selectedIndex = ''" class="add-column" matTooltip="cancel" matTooltipPosition="above"
        style=" margin: -50px 29px;" *ngIf="i === selectedIndex" mat-icon-button>
        <mat-icon style="font-size: 25px;" class="full-icon">check_circle</mat-icon>
    </button>
    <button (click)="selectedIndex = i" class="add-column" matTooltip="edit table content & settings"
        matTooltipPosition="above" style=" margin: -50px 29px;" *ngIf="i !== selectedIndex" mat-icon-button>
        <mat-icon style="font-size: 25px;" class="full-icon">edit</mat-icon>
    </button>
    <button (click)="insertTextColumn()" class="add-column" style=" margin: -50px 65px;" matTooltip="add Text column"
        matTooltipPosition="above" mat-icon-button aria-label="ranking">
        <mat-icon style="font-size: 26px;" class="full-icon">view_list</mat-icon>
    </button>
    <button (click)="insertRadioColumn()" class="add-column" style="margin: -50px 95px;" matTooltip="add radio column"
        matTooltipPosition="above" mat-icon-button aria-label="ranking">
        <mat-icon style="font-size: 26px;" class="full-icon">radio_button_checked</mat-icon>
    </button>
    <button (click)="insertCommentBoxColumn()" class="add-column" style="margin: -50px 125px;"
        matTooltip="add a Comment box column" matTooltipPosition="above" mat-icon-button aria-label="ranking">
        <mat-icon style="font-size: 26px;" class="full-icon">wysiwyg</mat-icon>
    </button>
    <button (click)="insertRow()" class="add-column" style="margin: -50px 155px;" matTooltip="insert row"
        matTooltipPosition="above" mat-icon-button aria-label="ranking">
        <mat-icon style="font-size: 26px;" class="full-icon">vertical_distribute</mat-icon>
    </button>
    <button (click)="editSingleTableCells = !editSingleTableCells"
        [ngClass]="(!editSingleTableCells)?'add-column':'add-column-active'" style="margin: -50px 195px;"
        matTooltip="edit tabel cells" matTooltipPosition="above" mat-icon-button aria-label="ranking">
        <mat-icon style="font-size: 26px;" class="full-icon">explicit</mat-icon>
    </button>
    <button (click)="dragRows = !dragRows" [ngClass]="(!dragRows)?'add-column':'add-column-active'"
        style="margin: -50px  225px;" matTooltip="drag rows" matTooltipPosition="above" mat-icon-button
        aria-label="ranking">
        <mat-icon style="font-size: 26px;" class="full-icon">drag_indicator</mat-icon>
    </button>
    <button (click)="deleteRows = !deleteRows" [ngClass]="(!deleteRows)?'add-column':'add-column-active'"
        style="margin: -50px 255px;" matTooltip="delete rows" matTooltipPosition="above" mat-icon-button
        aria-label="ranking">
        <mat-icon style="font-size: 26px;" class="full-icon">delete_outline</mat-icon>
    </button>
    <button (click)="isColumnResizerOn = !isColumnResizerOn"
        [ngClass]="(!isColumnResizerOn)?'add-column':'add-column-active'" style="margin: -50px 290px;"
        matTooltip="columns width" matTooltipPosition="above" mat-icon-button aria-label="ranking">
        <mat-icon style="font-size: 26px;" class="full-icon">swap_horizontal_circle</mat-icon>
    </button>

</div>
<!-- ➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗  END  ➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗ -->


<!-- 🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧 CONFIG BOX 🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧 -->
<div *ngIf="i === selectedIndex" class="mat-elevation-z4" cdkDrag
    style="position: absolute;width: 62vw;background: #fafafa;z-index: 1;top: -8px;left: 15%;border: lightgrey 3px solid;">
    <div style="position: absolute;
    top: 10px;
    right: 10px;
    color: #ccc;
    cursor: move;
    width: 1024px;
    height: 54px;" cdkDragHandle> </div>
    <div style="text-align: center;">
        <div style="font-size: 16px;margin: 20px;color: #48535e;">PASTE TEST NAMES</div>
        <!-- <div style="font-size: 14px;margin-bottom: 20px;color: lightgray;">Brief Description Here</div> -->
    </div>
    <div>
        <mat-form-field style="width: 90%;margin-left: 20px;" appearance="outline">
            <mat-label>Copy & Paste TEST NAMES</mat-label>
            <textarea matInput rows="4" cols="50" [(ngModel)]="testNamesInput"
                placeholder="ENHANCE,Hance, En-,EVOLVE,Evo,GUARD,Gard, Guard,INVEST,In, Inv,OMNI,Omni,OPTIMAL"></textarea>
        </mat-form-field>
    </div>

    <hr>
    <div style="display: flex;flex-direction: row;justify-content: space-around;gap: 30px;">

        <input type="text" [(ngModel)]="bmxItem.componentSettings[0].categoryName"
            [value]="bmxItem.componentSettings[0].categoryName"
            style="font-size: 20px;color: #324395;padding-bottom: 10px;">
        <input type="text" [(ngModel)]="bmxItem.componentSettings[0].categoryDescription"
            [value]="bmxItem.componentSettings[0].categoryDescription"
            style="font-size: 20px;color: #ee7f25;padding-bottom: 20px;">


        MIN<input type="number" [(ngModel)]="bmxItem.componentSettings[0].minRule" style="width: 50px;"
            [value]="bmxItem.componentSettings[0].minRule">
        MAX<input type="number" [(ngModel)]="bmxItem.componentSettings[0].maxRule" style="width: 50px;"
            [value]="bmxItem.componentSettings[0].maxRule">

    </div>

    <hr>
    <div style="display: flex;flex-direction: row;justify-content: space-between;gap: 30px;">
        <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload style="display: none;"
            multiple accept="image/*">


        <button mat-raised-button style="background-color: #003180;color:white;margin: -3px -173px 0px 29px;"
            (click)="fileUpload.click()">
            Select files to upload
        </button>
        <button *ngIf="IMAGES_UPLOADED.length > 0" mat-raised-button
            style="background-color: #ee7f25;color:white; margin-right: 33px;" (click)="uploadAllImages()">
            Upload Files
        </button>
    </div>
    <div style="display: flex;flex-direction: row; gap:10; padding-top: 10px;">

        <div class="template-list" [dragula]="'draggableBag'" [(dragulaModel)]="IMAGES_UPLOADED"
            style="display: flex;flex-direction: column; overflow-y: scroll;width: 100%;justify-content: center;">
            <div *ngFor="let template of IMAGES_UPLOADED; let imgIndex = index" [ngClass]="(imgIndex%2==0)?'red':'blue'"
                class="image-row">

                <div class="image-cell">
                    <div style="font-size: 25px;color: #003180;width: 40px;">{{imgIndex + 1}}</div>
                    <img [src]="template.FileContent" [width]="logoWidth">
                </div>

                <input type="text" [value]="template.FileName">
                <p>{{template.FileType}}</p>
                <button (dblclick)="deleteImage(imgIndex)" mat-icon-button style="background-color: #ffffff;"
                    matTooltip="double click to delete " matTooltipPosition="above">
                    <mat-icon style="color: #e20000;">delete</mat-icon>
                </button>

            </div>
        </div>
    </div>



    <hr>
    <div style="text-align: center;display: flex;flex-direction: row;justify-content: space-around;">
        <div>
            <div style="font-size: 16px;margin-top: 10px;color: #48535e;">SELECT RATING RANGE</div>
            <br>

            <div style="text-align: center;display: flex;flex-direction: row;justify-content: space-around;">
                5 <input [(ngModel)]="rankingScaleValue" type="range" id="volume" name="volume" min="5" max="10">
                10 <br>
            </div>
            <label for="volume">{{rankingScaleValue}}</label>
            <hr>

        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>choose criteria</mat-label>
                <mat-select multiple [(ngModel)]="selectedCriteria"
                    (selectionChange)="criteriaSelection(selectedCriteria)">
                    <mat-option *ngFor="let cirteriaItem of CRITERIA" [value]="cirteriaItem">{{cirteriaItem.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <div style="font-size: 16px;margin-top: 10px;color: #48535e;">CHOOSE RATING ICON</div>
            <br>
            <mat-radio-group aria-label="Select an option" [(ngModel)]="ratingScaleIcon">
                <mat-icon style="color:#76d354;">grade</mat-icon>
                <mat-radio-button value="grade">
                </mat-radio-button>
                <mat-icon style="color:#e6ad11;">settings_cell</mat-icon>
                <mat-radio-button value="settings_cell">
                </mat-radio-button>
            </mat-radio-group>
            <hr>
        </div>

        <button style="outline: none;color:#76d354;margin-bottom: 50px;" mat-icon-button
            (click)="selectedIndex = '';upLoadNamesAndRationales(testNamesInput)" aria-label="ranking">
            <mat-icon>check_circle</mat-icon><br> DONE
        </button>
    </div>
</div>
<!-- 🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧END CONFIG BOX 🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧 -->



<!--🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑 RATING TABLE 🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑-->


<!-- ⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺RAGE INPUTS FOR COLUMN SETTINGS ⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺ -->
<div *ngIf="isColumnResizerOn && bmxClientPageOverview" class="" style="display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    position: absolute;
    top: -50px;
    left: 40px;
    border-radius: 15px;">

    <div style="display: flex;flex-direction: column;align-items: center;">
        <p style="margin: 0 0 -12px;color: grey;">columns width: {{bmxItem.componentSettings[0].columnWidth}} px</p>
        <input type="range" style="margin: 20px;width: 140px;" [(ngModel)]="bmxItem.componentSettings[0].columnWidth"
            class="slider-font-size" tickInterval="1" min="50" max="1000"
            [value]="bmxItem.componentSettings[0].columnWidth">
    </div>
    <div style="display: flex;flex-direction: column;align-items: center;">
        <p style="margin: 0 0 -12px;color: grey;">ratinale width: {{bmxItem.componentSettings[0].rationalewidth}} px</p>
        <input type="range" style="margin: 20px;width: 140px;" [(ngModel)]="bmxItem.componentSettings[0].rationalewidth"
            class="slider-font-size" tickInterval="1" min="50" max="1000"
            [value]="bmxItem.componentSettings[0].rationalewidth">
    </div>
    <div style="display: flex;flex-direction: column;align-items: center;">
        <p style="margin: 0 0 -12px;color: grey;">font size: {{bmxItem.componentSettings[0].fontSize}} px</p>
        <input type="range" style="margin: 20px;width: 140px;" [(ngModel)]="bmxItem.componentSettings[0].fontSize"
            class="slider-font-size" tickInterval="1" min="2" max="40" [value]="bmxItem.componentSettings[0].fontSize">
    </div>
    <div style="display: flex;flex-direction: column;align-items: center;">
        <p style="margin: 0 0 -12px;color: grey;">row height: {{bmxItem.componentSettings[0].rowHeight}} px</p>
        <input type="range" style="margin: 20px;width: 140px;" [(ngModel)]="bmxItem.componentSettings[0].rowHeight"
            class="slider-font-size" tickInterval="1" min="2" max="20" [value]="bmxItem.componentSettings[0].rowHeight">
    </div>
</div>
<!-- <mat-slider min="200" max="500" step="10" value="200" [(value)]="bmxItem.componentSettings[0].columnWidth"></mat-slider><p>{{bmxItem.componentSettings[0].columnWidth}}</p> -->
<!-- ⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺  END  ⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺ -->



<!--💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲 TABLE GENERATOR 💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲-->
<div class="desktop">
    <div style="display: flex;flex-direction: column;padding-left: 40px;">

        <div style="font-size: 25px;color: #324395;padding-bottom: 10px;">{{bmxItem.componentSettings[0].categoryName}}
        </div>
        <div style="font-size: 18px;color: #ee7f25;padding-bottom: 20px;">
            {{bmxItem.componentSettings[0].categoryDescription}}</div>

    </div>
    <div class="scroller-style main-container" style="margin-bottom: 45px;" [dragula]="(dragRows)?'DRAGGABLE_ROW':''"
        [(dragulaModel)]="bmxItem.componentText" (dragulaModelChange)="checkDragEvetn($event);">

        <div *ngFor="let testName of bmxItem.componentText; let y = index">

            <!-- <div *ngIf="(y !== 0)" style="color: white;font-size: xx-small;">.</div> -->
            <div class="test-name-table">
                <div *ngFor="let columnName of columnsNames; let e =  index"
                    style="display: flex;align-items: center;justify-content: center;" [ngClass]="(e%2==0)?'red':'blue'"
                    [style.width]="(columnName == 'rationale' )?bmxItem.componentSettings[0].rationalewidth + 'px':bmxItem.componentSettings[0].columnWidth +'px'">

                    <div *ngIf="(y == 0)" class="header-title" (mouseenter)="selectedColumn = e"
                        (mouseleave)="selectedColumn = ''">

                        <!-- IF YOU WANT TO DELET ALL COLUMNS PASS THE COLUMN NAME  NOT testName[columnName]-->
                        <span *ngIf="selectedColumn === e && bmxClientPageOverview" class="header-delete-icon"
                            matTooltip="double click to delete column" matTooltipPosition="above"
                            (dblclick)="deleteColumn(columnName)">x</span>

                        <!-- 🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢 HEADER TEXT AREA 🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢 -->

                        <textarea *ngIf="y == 0 && editSingleTableCells"
                            [style.font-size]="bmxItem.componentSettings[0].fontSize +'px'"
                            style="text-align: center; font-weight: bold;color: #324395;" class="row-box"
                            [(ngModel)]="testName[columnName]" value="testName[columnName]"></textarea>

                        <!-- <textarea *ngIf=" editSingleTableCells " 
                        [style.width]="bmxItem.componentSettings[0].rationalewidth + 'px'" 
                            [style.font-size]="bmxItem.componentSettings[0].fontSize +'px'" cdkTextareaAutosize
                            [cdkAutosizeMinRows]="(testName[columnName].length > 50)?bmxItem.componentSettings[0].rowHeight:2"
                            style="outline: none;text-align: center;" class="row-box"
                            [(ngModel)]="testName[columnName]"></textarea>cev -->




                        <p style="text-align: center; font-weight: bold;color: #324395;margin: 0 0 0px;"
                            [style.font-size]="bmxItem.componentSettings[0].fontSize +'px'"
                            *ngIf=" !editSingleTableCells">
                            {{testName[columnName]}}
                        </p>
                    </div>

                    <!-- 🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢 END HEADER TEXT AREA  🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢 -->


                    <!-- 🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡 TABLE CELLS  🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡 -->
                    <div>

                        <!-- IF ELSE TEMPLATE INPUTS  -->
                        <input *ngIf="y !== 0  &&  columnName.includes('RadioColumn') == true" type="radio"
                            [name]="'rate' + y" [checked]="testName[columnName]"
                            (change)="saveRadioColumValue(columnName, y)">


                        <!-- TEXT_AREA COLUMN-->
                        <textarea *ngIf="y !== 0  && columnName.includes('Comments') == true"
                            [style.width]="(bmxItem.componentSettings[0].columnWidth - 20) +'px'"
                            [style.font-size]="bmxItem.componentSettings[0].fontSize +'px'" cdkTextareaAutosize
                            [cdkAutosizeMinRows]="bmxItem.componentSettings[0].rowHeight"
                            style="text-align: center;height: 32px;width: 358px;font-size: 16px;border: 1px solid #dddddd;"
                            class="row-box" [(ngModel)]="testName[columnName]" rows="4" cols="50"></textarea>


                        <img class="row-box" style="width: 300px;" [src]="testName[columnName]"
                            *ngIf="(y !== 0) && (columnName == 'name' || columnName == 'nameCandidates')">

                        <!-- TEXT AREA TO EDIT TABLE CELL CONTENT -->
                        <textarea
                            *ngIf="y !== 0  && editSingleTableCells && (columnName.includes('RadioColumn') != true) &&  columnName.includes('Comments') != true"
                            [style.width]="(columnName == 'rationale')?bmxItem.componentSettings[0].rationalewidth + 'px':bmxItem.componentSettings[0].columnWidth +'px'"
                            [style.font-size]="bmxItem.componentSettings[0].fontSize +'px'" cdkTextareaAutosize
                            [cdkAutosizeMinRows]="bmxItem.componentSettings[0].rowHeight"
                            style="outline: none;text-align: center;" class="row-box"
                            [(ngModel)]="testName[columnName]"></textarea>

                        <p *ngIf="y !== 0  && !editSingleTableCells && (columnName.includes('name') != true) && (columnName.includes('RadioColumn') != true) &&  columnName.includes('Comments') != true"
                            [style.font-size]="bmxItem.componentSettings[0].fontSize +'px'"
                            [style.width]="(columnName == 'rationale')?bmxItem.componentSettings[0].rationalewidth + 'px':bmxItem.componentSettings[0].columnWidth +'px'"
                            style="text-align: center;margin: 0 0 0px;">{{testName[columnName]}}</p>
                    </div>
                    <!-- 🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡 END TABLE CELLS 🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡 -->
                </div>
                <!--⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️ STARS RENDERER ⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️ -->
                <div style="display: flex;align-items: center;
                justify-content: center;border-left: rgb(231, 230, 230) 1px solid;min-width: 260px;background-color:white;
                border-right: rgb(231, 230, 230) 1px solid;border-top: rgb(231, 230, 230) 1px solid;">
                    <div *ngIf="(y !== 0)">
                        <div *ngIf="testName.CRITERIA; else elseBlock">
                            <div *ngFor="let criteria of testName.CRITERIA  let x =  index"
                                style="display: flex;flex-direction: column;justify-content: space-between;text-align: center;">
                                <span [style.font-size]="bmxItem.componentSettings[0].fontSize +'px'"
                                    style="padding-top:6px;max-width: 200px;">{{criteria.name}}</span>
                                <div style="min-width: 200px;padding-bottom:6px">
                                    <mat-icon matRipple *ngFor="let star of  criteria.STARS;"
                                        (click)="setCriteriaRating(star.id,x,y)" [ngClass]="star.styleClass"
                                        (mouseenter)="selectCriteriaStar(star.id,x,y)"
                                        (mouseleave)="leaveCriteriaStar(y,x)"
                                        style="outline: none;margin:1px -1px;cursor: pointer;">{{star.icon}}</mat-icon>
                                </div>
                            </div>
                        </div>
                        <ng-template #elseBlock>
                            <div style="position: relative;">
                                <mat-icon matRipple *ngFor="let star of  testName.STARS; let x =  index"
                                    (click)="setRating(star.id,y)" [ngClass]="star.styleClass"
                                    (mouseenter)="selectStar(star.id , y)" (mouseleave)="leaveStar(y)"
                                    style="outline: none;margin:1px -1px;cursor: pointer;">{{star.icon}}</mat-icon>
                            </div>
                        </ng-template>
                    </div>

                    <!-- 🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸 RATE BUTTONS 🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸 -->
                    <div style="display: flex;">
                        <button (click)="maxRuleCounterMinus();bmxItem.componentText[y]['RATE'] = 0;leaveStar(y)"
                            *ngIf="bmxItem.componentText[y]['RATE']>0 && y != 0 " style="background-color: #ee7f25;    
                            color: white;
                            min-width: 20px;
                            line-height: 19px;
                            padding: 2px 0px;
                            margin: -17px 9px;
                            position: absolute;
                            animation: rubberBand 700ms ease-in  forwards;"
                            mat-button>{{bmxItem.componentText[y]['RATE']}}</button>
                    </div>

                    <div style="display: flex;gap: 60px;flex-direction: column;">
                        <div *ngFor="let criteria of testName.CRITERIA  let x =  index">
                            <button (click)="criteria.RATE = 0;leaveCriteriaStar(y,x)"
                                *ngIf="criteria.RATE>0 && y != 0 " style="background-color: #ee7f25;    
                             color: white;
                             min-width: 20px;
                             line-height: 19px;
                             padding: 2px 0px;
                             margin: -3px 7px;
                             position: absolute;
                             animation: rubberBand 700ms ease-in  forwards;" mat-button>{{criteria.RATE}}</button>
                        </div>
                    </div>
                    <!-- 🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸 END RATE BUTTONS 🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸 -->

                    <textarea *ngIf="y == 0 && editSingleTableCells"
                        [style.font-size]="bmxItem.componentSettings[0].fontSize +'px'"
                        style="text-align: center; font-weight: bold;color: #324395;" class="row-box"
                        [(ngModel)]="bmxItem.componentSettings[0].ratingScaleTitle"
                        value="bmxItem.componentSettings[0].ratingScaleTitle"></textarea>
                    <div [style.font-size]="bmxItem.componentSettings[0].fontSize +'px'" class="rating-text"
                        *ngIf="y == 0 && !editSingleTableCells">{{bmxItem.componentSettings[0].ratingScaleTitle}}</div>
                </div>
                <!--⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️ END STARS ⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️ -->

                <!--♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️ TABLE ROW ICONS ♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️-->
                <!-- <div style="min-width: 100px">
                <button *ngIf="(y !== 0)" style="outline: none;margin:-5px -8px;" (click)="deletRow(y)" mat-icon-button
                    aria-label="ranking">
                    <mat-icon>online_prediction</mat-icon>
                </button>
            </div> -->
                <div *ngIf="(y !== 0) && bmxClientPageOverview && deleteRows"
                    style="min-width: 100px; position: absolute;right: 0px;">
                    <button style="outline: none;margin:3px -8px;" (dblclick)="deletRow(y)" mat-icon-button
                        matTooltip="doble click to delete row" matTooltipPosition="left" aria-label="ranking">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </div>
                <!--♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️ END TABLE ROW ICONS ♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️♦️-->
            </div>
        </div>
        <!-- <button *ngIf="i === selectedIndex" class="cancel" (click)="selectedIndex = ''" mat-icon-button>
        <mat-icon style="font-size: 25px;">cancel</mat-icon>
    </button>
    <button *ngIf="i !== selectedIndex" mat-icon-button class="edit-icon" (click)="selectedIndex = i">
        <mat-icon style="font-size: 25px;">edit</mat-icon>
    </button> -->
    </div>
</div>
<!--💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲 END TABLE GENERATOR 💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲-->


<!--📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱 TABLE 📱 MOBILE 📱 GENERATOR 📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱-->
<div class="mobile">
    <div style="display: flex;flex-direction: column;text-align: center;">

        <div style="font-size: 25px;color: #324395;padding-bottom: 10px;">{{bmxItem.componentSettings[0].categoryName}}
        </div>
        <div style="font-size: 18px;color: #ee7f25;padding-bottom: 20px;">
            {{bmxItem.componentSettings[0].categoryDescription}}</div>

    </div>
    <div class="scroller-style main-container">

        <div *ngFor="let testName of bmxItem.componentText; let y = index" style="margin-bottom: 10px;">

            <div class="test-name-table" *ngIf="(y != 0)" [style.height]="(selectedCard == y)?'':'100px'">
                <!-- 🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸 RATE BUTTONS 🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸 -->
                <button (click)="maxRuleCounterMinus();bmxItem.componentText[y]['RATE'] = 0;leaveStar(y)"
                    *ngIf="bmxItem.componentText[y]['RATE']>0 && y != 0 " style="background-color: #ee7f25;color: white;margin: 5px;width: 30px;
                    height: 30px;
                    line-height: 30px;right: 7px;
                    position: absolute;animation: rubberBand 700ms ease-in  forwards;"
                    mat-icon-button>{{bmxItem.componentText[y]['RATE']}}</button>
                <!-- 🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢 HEADER TEXT AREA 🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢 -->


                <div style="display: flex;gap: 23px;padding-top: 10px;position: absolute;right: 24px;">
                    <div *ngFor="let criteria of testName.CRITERIA  let x =  index">
                        <button (click)="criteria.RATE = 0;leaveCriteriaStar(y,x)" *ngIf="criteria.RATE>0 && y != 0 "
                            style="background-color: #ee7f25;    
                             color: white;
                             min-width: 20px;
                             line-height: 19px;
                             padding: 2px 0px;
                             position: absolute;
                             animation: rubberBand 700ms ease-in  forwards;" mat-button>{{criteria.RATE}}</button>
                    </div>
                </div>
                <!-- 🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸 END RATE BUTTONS 🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸🩸 -->
                <div *ngFor="let columnName of columnsNames; let e =  index">
                    <!-- <div *ngIf="(y == 0)" class="header-title " >
                        <p style="text-align: center; font-weight: bold;color: #324395;margin: 0 0 0px;"
                            [style.font-size]="bmxItem.componentSettings[0].fontSize +'px'"
                            *ngIf=" !editSingleTableCells">{{testName[columnName]}}
                        </p>
                    </div> -->


                    <!-- 🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢 END HEADER TEXT AREA  🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢 -->


                    <!-- 🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡 TABLE CELLS  🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡 -->
                    <div>

                        <!-- IF ELSE TEMPLATE INPUTS  -->
                        <input type="radio" *ngIf="y !== 0  &&  columnName.includes('RadioColumn') == true"
                            [name]="'rate' + y" [checked]="testName[columnName]"
                            (change)="saveRadioColumValue(columnName, y)">

                        <img (click)="(selectedCard == y)?selectedCard = '':selectedCard = y" class="row-box"
                            style="width: 300px;" [src]="testName[columnName]"
                            *ngIf="(y !== 0) && (columnName == 'name' || columnName == 'nameCandidates')">

                        <!-- TEXT_AREA COLUMN-->
                        <div style="display: flex;
                        justify-content: center;">
                            <textarea *ngIf="y !== 0  && columnName.includes('Comments') == true && selectedCard == y"
                                [style.width]="'95%'" [style.font-size]="bmxItem.componentSettings[0].fontSize +'px'"
                                cdkTextareaAutosize [cdkAutosizeMinRows]="bmxItem.componentSettings[0].rowHeight" style="text-align: center;height: 32px;width: 358px;font-size: 16px;border: 1px solid grey;
                            animation: bounceIn 500ms ease-in forwards;padding: 0 4px" class="row-box"
                                [(ngModel)]="testName[columnName]" placeholder="comments" rows="4" cols="50"></textarea>
                        </div>

                        <!-- <p (click)="(selectedCard == y)?selectedCard = '':selectedCard = y" *ngIf="y !== 0  && !editSingleTableCells && (columnName.includes('RadioColumn') != true) &&
                              columnName.includes('Comments') != true &&
                              columnName.includes('kata') != true &&
                              columnName.includes('ratio') != true"
                            [style.font-size]=" (columnName.includes('name') == true)?'27px':'20px'"
                            [style.color]="(columnName.includes('name') == true)?'#324395':'#bababa'"
                            style="text-align: center;padding: 10px 4px;">{{testName[columnName]}}</p> -->

                        <p *ngIf="y !== 0  && !editSingleTableCells && (columnName.includes('RadioColumn') != true) &&
                              columnName.includes('Comments') != true && selectedCard == y &&
                              columnName.includes('name') != true"
                            [style.font-size]=" (columnName.includes('name') == true)?'27px':'20px'"
                            [style.color]="(columnName.includes('name') == true)?'#324395':'#bababa'"
                            style="text-align: center;padding: 5px 4px;">{{testName[columnName]}}</p>


                    </div>
                    <!-- 🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡 END TABLE CELLS 🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡🟡 -->
                </div>
                <!--⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️ STARS RENDERER ⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️ -->
                <div *ngIf="selectedCard == y" style="min-width: 230px;background-color:white;display: flex;align-items: center;
                justify-content: center;animation: bounceIn 500ms ease-in  forwards;padding-top: 10px;">
                    <div *ngIf="(y !== 0)">
                        <div *ngIf="testName.CRITERIA; else elseBlock">
                            <div *ngFor="let criteria of testName.CRITERIA  let x =  index"
                                style="display: flex;flex-direction: column;justify-content: space-between;text-align: center;">
                                <span [style.font-size]="bmxItem.componentSettings[0].fontSize +'px'"
                                    style="padding-top:6px;max-width: 200px;">{{criteria.name}}</span>
                                <div style="min-width: 200px;padding-bottom:6px">
                                    <mat-icon *ngFor="let star of  criteria.STARS;"
                                        (click)="setCriteriaRating(star.id,x,y)" [ngClass]="star.styleClass"
                                        (mouseenter)="selectCriteriaStar(star.id,x,y)"
                                        (mouseleave)="leaveCriteriaStar(y,x)"
                                        style="outline: none;margin:1px 5px;font-size: 40px;">{{star.icon}}</mat-icon>
                                </div>
                            </div>
                        </div>
                        <ng-template #elseBlock>
                            <div style="position: relative;top: -5px;">
                                <mat-icon *ngFor="let star of  testName.STARS; let x =  index"
                                    (click)="setRating(star.id,y)" [ngClass]="star.styleClass"
                                    (mouseenter)="selectStar(star.id , y)" (mouseleave)="leaveStar(y)"
                                    style="outline: none;margin:1px 5px;font-size: 40px;">{{star.icon}}</mat-icon>
                            </div>
                        </ng-template>
                    </div>
                    <textarea *ngIf="y == 0 && editSingleTableCells"
                        [style.font-size]="bmxItem.componentSettings[0].fontSize +'px'"
                        style="text-align: center; font-weight: bold;color: #324395;" class="row-box"
                        [(ngModel)]="bmxItem.componentSettings[0].ratingScaleTitle"
                        value="bmxItem.componentSettings[0].ratingScaleTitle"></textarea>
                    <div [style.font-size]="bmxItem.componentSettings[0].fontSize +'px'" class="rating-text"
                        *ngIf="y == 0 && !editSingleTableCells">{{bmxItem.componentSettings[0].ratingScaleTitle}}</div>
                </div>
                <!--⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️ END STARS ⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️ -->

            </div>

        </div>

    </div>
</div>

<!--📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱 END TABLE GENERATOR 📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱-->