<!-- <div class="test-name-table" style="margin-top: 20px;border-bottom: solid 1px grey;height: 30px;">
    <div style="width: 33%;text-align: center; font-size: 20px;   font-weight: bold;color: #324395;margin-left: 20px;">
        NAME</div>
    <div style="width: 33%;text-align: center; font-size: 20px;  font-weight: bold;color: #324395;margin-left: 50px;">
        RATIONALE</div>
    <div style="width: 33%;text-align: center; font-size: 20px;  font-weight: bold;color: #324395;margin-left: 20px;">
        RATING</div>

        <div *ngFor="let columnName of columnsNamesHeader" style="width: 33%;text-align: center;margin-left: 10px;">

            <div >{{columnName}}</div>

        </div>

</div>
<hr> -->

<!-- CONFIG BOX -->
<div *ngIf="i === selectedIndex" class="mat-elevation-z4">
    <div style="text-align: center;">
        <div style="font-size: 16px;margin: 20px;color: #48535e;">PASTE TEST NAMES</div>
        <!-- <div style="font-size: 14px;margin-bottom: 20px;color: lightgray;">Brief Description Here</div> -->
    </div>
    <div>
        <mat-form-field style="width: 90%;margin-left: 20px;" appearance="outline">
            <mat-label>Copy & Paste TEST NAMES</mat-label>
            <textarea matInput rows="4" cols="50" [(ngModel)]="testNamesInput"
                placeholder="ENHANCE,Hance, En-,EVOLVE,Evo,GUARD,Gard, Guard,INVEST,In, Inv,OMNI,Omni,OPTIMAL"></textarea>
        </mat-form-field>
    </div>
    <hr>
    <div style="text-align: center;">
        <div style="font-size: 16px;margin-top: 10px;color: #48535e;">SELECT RATING RANGE</div>
        <br>
        <br>
        <br>
        <div>
            5 <input [(ngModel)]="rankingScaleValue" type="range" id="volume" name="volume" min="5" max="10">
            10 <br>
            <label for="volume">{{rankingScaleValue}}</label>
        </div>
        <hr>
        <button style="outline: none;color:#76d354;margin-bottom: 50px;" mat-icon-button
            (click)="selectedIndex = '';upLoadNamesAndRationales(testNamesInput)" aria-label="ranking">DONE <br>
            <mat-icon>check_circle</mat-icon>
        </button>
    </div>
</div>


<!-- RATING TABLE -->
<div class="odd-style" *ngFor="let testName of bmxItem.componentText; let y = index">
    <div class="test-name-table">
        <div *ngFor="let columnName of columnsNames" style="width: 33%;text-align: start;margin:10px 10px;">
            <div *ngIf="(y === 0)">{{testName[columnName]}}</div>
            <input *ngIf="(y !== 0)" [(ngModel)]="testName[columnName]" style="border: none;" value="testName[columnName]">
        </div>
        <div style="min-width: 250px">
            <button *ngFor="let star of  testName.STARS; let x =  index" (click)="setRating(star.id,y)" [ngClass]="star.class"
                (mouseenter)="selectStar(star.id , y)" (mouseleave)="selectStar(star.id , y)"
                style="outline: none;margin:-5px -8px;" mat-icon-button aria-label="ranking">
                <mat-icon *ngIf="(y !== 0)">{{star.icon}}</mat-icon>
                
                <!-- <mat-icon *ngIf="(y !== 0)" style="transform: rotate(0deg);">{{'crop_din'}}</mat-icon> -->
                <div class="rating-text"  *ngIf="(y === 0 && x === 0)"  >RATING</div>
            </button>
        </div>
        <div style="min-width: 100px" >
            <button *ngIf="(y !== 0)" style="outline: none;margin:-5px -8px;" (click)="deletPart(y)" mat-icon-button aria-label="ranking">
                <mat-icon >delete_outline</mat-icon>               
            </button>
        </div>
    </div>
</div>
<button *ngIf="i === selectedIndex" class="cancel" (click)="selectedIndex = ''" mat-icon-button>
    <mat-icon style="font-size: 25px;">cancel</mat-icon>
</button>
<button *ngIf="i !== selectedIndex" mat-icon-button class="edit-icon" (click)="selectedIndex = i">
    <mat-icon style="font-size: 25px;">edit</mat-icon>
</button>