<mat-toolbar class="toolbar mat-elevation-z2">
    <div class="col-1">
    </div>
    <div class="col-10">
        <div class="text-center vvcream">VV FIRE & ICE</div>
    </div>
    <div class="col-1">
    </div>
</mat-toolbar>

<div class="container-fluid">

    <div class="row">
        <video  (click)="toggleVideo($event)" #videoPlayer width="100%" height="100%" autoplay loop muted playsinline>
            <source src="assets/img/fcast/fcast.mp4" type="video/mp4">
            Your browser does not support HTML video.
        </video>
    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="col-4">
            <div class="text-center fc">FC</div>
        </div>
    </div>
    <br>

    <section>
        <div class="comofunciona text-center">Como Funciona?</div>
        <div>Las dos tienen la misma función, crema blanca para personas de piel sensible o  pieles muy blancas, y crema negra para piel normal. O tolerante a la crema blanca. </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10" fxLayoutAlign="center center">
                <img class="featureimg" src="assets/img/fcast/2dos.jpg" width="90%" alt="">
            </div>
            <div class="col-1"></div>
        </div>
    </section>

    <section>
        <div class="row">


                <div class="col-1 "></div>

                <div class="col-10  story">
                    <div >
                        Esta
                        crema fue fabricada hace 2 años pensando, en las personas que necesitan una ayuda
                        extra para quemar la grasa localizada del abdomen, ojo no hace milagros, tienes que ser
                        constante
                        para
                        ver resultados, por lo Menos aplicarla antes de hacer tu deporte favorito, en mi caso la uso 10
                        minutos
                        antes de empezar mi entrenamiento en el gym, 5 veces por semana ayuda a tonificar la zona a
                        tratar.
                    </div>
                    <br>
                    <div >
                        Aplique en poca cantidad en todo tu abdomen especialmente la parte baja y la parte de atrás de
                        la
                        espalda baja, o según tus necesidades, inmediatamente después de aplicarla lavarse las manos con
                        abundante agua y jabón, esto es para prevenir que toques tus ojos o tu cara puesto que la crema
                        tiene
                        mentol y no queremos una reacción alérgica en tu cara. Ahora aprovecha tu crema y combínala con
                        tu
                        rutina de ejercicio y verás los cambios que tendrás. 🍫👌🏾🔥
                    </div>

                </div>
                <div class="col-1"></div>
            
        </div>

    </section>


<br>

    <section>
        <div class="comofunciona text-center">Quien la usa?</div>
        
        <video width="100%" height="100%" autoplay loop muted playsinline>
            <source src="assets/img/fcast/van.mp4" type="video/mp4"> Your browser
            does not support HTML video. </video>
        <div class="comofunciona text-center">ORDENA YA $34.99</div>
        <!-- <p class="mat-body-strong text-center">si tienes preguntas no dudes en llamarnos
        </p> -->

        <div class="col-12 text-center">
            <div id="paypal-button-container">
            </div>
        </div>


    </section>

</div>

<mat-toolbar class="toolbar mat-elevation-z2">
    <div class="col-5">
    </div>
    <div class="col-2 text-center">
        <button mat-icon-button>
            <!-- <mat-icon>share</mat-icon> -->
        </button>
    </div>
    <div class="col-5">
    </div>
</mat-toolbar>