.toolbar {
  background-color: black;
  color: rgba(255, 255, 255, 0.87);
  height: 56px;
  max-height: 56px;
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  flex: 1 1 auto;
}

#myVideo {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 100%;
}

.fc {
  margin-top: -35px;
  font-size: 50px;
  color: white;
  font-family: cherolina;
  background-color: rgba(0, 0, 0, 0.5);
}

.vvcream {
  text-align: center !important;
  font-family: sans-serif;
  font-size: 40px;
}

.comofunciona {
  font-family: caviar;
  font-size: 30px;
  margin: 24px 0 35px 30px;
}

.story {
  font-size: 17px;
  line-height: 25px;
  text-align: center;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .fc {
    margin-top: -350px;
    font-size: 200px;
    color: white;
    font-family: cherolina;
  }
  .vvcream {
    text-align: center !important;
    font-family: caviar;
    font-size: 40px;
  }
  .comofunciona {
    font-family: caviar;
    font-size: 40px;
    margin: 24px 0px 35px 50px;
  }
  .featureimg {
    width: 400px;
  }

  .center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }
  .story {
    font-size: 24px;
    line-height: 41px;
  }
}
