<div *ngIf="!isDarkMode">
    <mat-toolbar class="toolbar mat-elevation-z2">
        <div class="col-1">
        </div>
        <div class="col-10">
            <div class="text-center vvcream">MRVR APPS</div>
        </div>
        <div class="col-1">

        </div>
    </mat-toolbar>

    <div class="container-fluid">
        <br>


        <div class="row">
            <video  #videoPlayer width="100%" height="100%" autoplay loop [muted]="isMute" playsinline>
                <source src="./assets/img/payment/Secuencia 01_2.gif" type="video/mp4">
                Your browser does not support HTML video.
            </video>
            <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/3hOeI0f-3BM?rel=0;controls=0;&autoplay=1&mute=1&loop=1&playlist=PZ4MgNmDbaI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        </div>

        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4">
                <div class="text-center fc">MRVR</div>
            </div>
        </div>
        <br>

        <section *ngIf="!isSpanish">

            <div class="comofunciona text-center">Vende en todos lados en línea</div>
            <div class="story">Administra todo en un solo lugar y configurare tu tienda online en con pagos
                minutos.</div>
            <br>


            <div class="row">
                <video #videoPlayer width="100%" height="100%" autoplay loop [muted]="isMute" playsinline>
                    <source src="./assets/img/payment/Secuencia 01_1.mp4" type="video/mp4">
                    Your browser does not support HTML video.
                </video>
            </div>


            <div class="comofunciona text-center">Ofrece la mejor experiencia de compra</div>
            <div class="story">Creación de tiendas online con poderosas herramientas de venta y
                opciones flexibles de pagos y envíos.</div>
            <br>
            <div class="row">
                <video #videoPlayer width="100%" height="100%" autoplay loop [muted]="isMute" playsinline>
                    <source src="./assets/img/payment/Secuencia 01_5.mp4" type="video/mp4">
                    Your browser does not support HTML video.
                </video>
            </div>
            <div class="comofunciona text-center">Pon tu página de Facebook e Instagram a trabajar
            </div>
            <div class="story">Tu Tienda en línea te permite promover y vender
                productos en tu página de Facebook e Instagrams para empresas, fácilmente y en minutos.</div>
            <br>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10" fxLayoutAlign="center center">
                    <img class="featureimg" src="./assets/img/payment/face.jpg" width="90%" alt="">
                </div>
                <div class="col-1"></div>
            </div>
            <br>
            <div class="comofunciona text-center">Llega a los clientes con mayor facilidad</div>
            <div class="story">Cierra tu primera venta más rápido gracias a las herramientas de pago
                para atraer nuevos clientes de tu página de ventas en línea.</div>

            <br>
            <div class="row">
                <video #videoPlayer width="100%" height="100%" autoplay loop [muted]="isMute" playsinline>
                    <source src="./assets/img/payment/Secuencia 01_6.mp4" type="video/mp4">
                    Your browser does not support HTML video.
                </video>
            </div>
            <!-- <div class="row">
                <div class="col-1"></div>
                <div class="col-10" fxLayoutAlign="center center">
                    <img class="featureimg" src="./assets/img/payment/business.jpg" width="90%" alt="">
                </div>
                <div class="col-1"></div>
            </div>
            <br> -->

            <br>
            <div class="comofunciona text-center">Creada para teléfonos inteligentes</div>
            <div class="story">La mayoría de las personas compran desde sus dispositivos móviles.
                Asegúrate de que tu tienda esté lista para ellos.</div>
            <br>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10" fxLayoutAlign="center center">
                    <img class="featureimg" src="./assets/img/payment/bit.jpg" width="90%" alt="">
                </div>
                <div class="col-1"></div>
            </div>
            <br>
            <div class="comofunciona text-center">Vende lo que quieras</div>
            <div class="story">Es tu tienda. Vende lo que quieras, de la forma que quieras.
                Desde productos y servicios hasta material digital como videos o documentos técnicos, la Tienda en línea
                te ayuda a mostrar,
                promocionar, vender y enviar tus productos con facilidad.</div>
            <br>

            <!-- <div class="row">
                <div class="col-1"></div>
                <div class="col-10" fxLayoutAlign="center center">
                    <img class="featureimg" src="./assets/img/payment/business.jpg" width="90%" alt="">
                </div>
                <div class="col-1"></div>
            </div>
            <br> -->
            <div class="comofunciona text-center">Ofrece la mejor experiencia de compra.</div>
            <div class="story"> Creación de tiendas online con poderosas herramientas
                de venta y opciones flexibles de pagos y envíos
            </div>
            <div class="row">
                <video #videoPlayer width="100%" height="100%" autoplay loop [muted]="isMute" playsinline>
                    <source src="./assets/img/payment/Secuencia 01_4.mp4" type="video/mp4">
                    Your browser does not support HTML video.
                </video>
            </div>

        </section>
        <!-- ENGLISH -->
        <section *ngIf="isSpanish">

            <div class="comofunciona text-center">Sell everywhere online</div>
            <div class="story">Manage it all in one place, Set up your online store in minutes</div>
            <br>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10" fxLayoutAlign="center center">
                    <img class="featureimg" src="./assets/img/payment/business.jpg" width="90%" alt="">
                </div>
                <div class="col-1"></div>
            </div>
            <br>




            <div class="comofunciona text-center">Build the ultimate shopping experience</div>
            <div class="story">A sleek online store, powerful selling tools and flexible
                shipping and payment options—Online Store has it all. </div>

            <!-- <br>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10" fxLayoutAlign="center center">
                    <img class="featureimg" src="./assets/img/payment/business.jpg" width="90%" alt="">
                </div>
                <div class="col-1"></div>
            </div> -->

            <br>
            <div class="comofunciona text-center">Put your Facebook & Instagram page to work
            </div>
            <div class="story">Online Store lets you easily promote and
                sell products on your Facebook business page in minutes. Plus, whenever you make changes to your
                website,
                you’ll get a friendly reminder to update your social media channels, too. </div>
            <br>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10" fxLayoutAlign="center center">
                    <img class="featureimg" src="./assets/img/payment/face.jpg" width="90%" alt="">
                </div>
                <div class="col-1"></div>
            </div>
            <br>


            <div class="comofunciona text-center">Sell on the world’s largest marketplaces</div>
            <div class="story">Online Store lets you list your products on Amazon,
                eBay, Etsy, Walmart, Jet and more in minutes and sync your inventory across all of them in just a few
                clicks.
                The best part? You can manage all your orders from one, simple dashboard</div>

            <!-- <br>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10" fxLayoutAlign="center center">
                    <img class="featureimg" src="./assets/img/payment/business.jpg" width="90%" alt="">
                </div>
                <div class="col-1"></div>
            </div> -->
            <br>


            <div class="comofunciona text-center">Built for a smartphone world</div>
            <div class="story">Most people shop on mobile. Make sure your store is ready for them, Check out fast.</div>
            <br>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10" fxLayoutAlign="center center">
                    <img class="featureimg" src="./assets/img/payment/bit.jpg" width="90%" alt="">
                </div>
                <div class="col-1"></div>
            </div>
            <br>

            <div class="comofunciona text-center">Sell what you want</div>
            <div class="story">It’s your store. Sell what you want, the way you want.
                From products and services to digital stuff like videos or white papers,
                Online Store helps you easily display, promote, sell and ship your goods.</div>
            <br>
            <!-- <div class="row">
                <div class="col-1"></div>
                <div class="col-10" fxLayoutAlign="center center">
                    <img class="featureimg" src="./assets/img/payment/business.jpg" width="90%" alt="">
                </div>
                <div class="col-1"></div>
            </div>==]
            <br> -->
            <div class="comofunciona text-center">Book appointments 24/7 Today
            </div>

        </section>



        <br>
        <section>

            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="col-12 text-center" fxLayoutAlign="center center">


                        <mat-card class="example-card" style="max-width: 400px;">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image" style="background-size: cover;"></div>
                                <mat-card-title *ngIf="isSpanish">$49.99</mat-card-title>
                                <mat-card-subtitle *ngIf="isSpanish">PAGA 1 HORA DE CONSULTA</mat-card-subtitle>
                                <mat-card-title *ngIf="!isSpanish">$49.99</mat-card-title>
                                <mat-card-subtitle *ngIf="!isSpanish">PAY 1 HOUR CONSULT</mat-card-subtitle>
                                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                            </mat-card-header>
                            <img mat-card-image src="./assets/img/payment/calendar.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <div id="paypal-button-container">
                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <!-- <button mat-button>LIKE</button>
                          <button mat-button>SHARE</button> -->
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
                <br>
                <div class="col-12 col-md-6">

                    <div class="col-12 text-center" fxLayoutAlign="center center">
                        <mat-card class="example-card" style="    max-width: 400px;


                    width: 400px;">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image" style="background-size: cover;"></div>
                                <mat-card-title *ngIf="isSpanish">CASH APP</mat-card-title>
                                <mat-card-subtitle *ngIf="isSpanish">PAGA 1 HORA DE CONSULTA $39</mat-card-subtitle>
                                <mat-card-title *ngIf="!isSpanish">CASH APP</mat-card-title>
                                <mat-card-subtitle *ngIf="!isSpanish">PAY 1 HOUR CONSULT $39</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="./assets/img/payment/cashAppMrvr.jpg" style="width: 270px;"
                                alt="cash">
                            <mat-card-content>
                                <div *ngIf="!isSpanish" id="paypal-button-container">
                                </div>
                                <div *ngIf="isSpanish" id="paypal-button-container">
                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <!-- <button mat-button>LIKE</button>
                          <button mat-button>SHARE</button> -->
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>

        </section>
        <br>
        <mat-toolbar class="toolbar mat-elevation-z2" style="position: fixed; bottom: 0px; 
    position: fixed;bottom: 0px; margin-left: -15px;">
            <div class="col-5">
                <button mat-mini-fab (click)="mute()" color="" style="outline: none;" aria-label="mute">
                    <mat-icon>volume_up</mat-icon>
                </button>
            </div>
            <div class="col-2 text-center">
                <!-- <button  mat-fab color="white" style="bottom:1px; z-index: 9999;outline: none;
                        font-size: 0px;">
                    <mat-icon>language</mat-icon>
                </button> -->
                <button (click)="changeLanguage()" mat-fab color="white" style="bottom:1px; z-index: 9999;outline: none;
                        font-size: 0px;">
                    <mat-icon>language</mat-icon>
                </button>
            </div>
            <div class="col-5" fxLayoutAlign="end end">
                <button mat-mini-fab (click)="darkMode()" color="" style="outline: none;" aria-label="dark mode">
                    <mat-icon>nights_stay</mat-icon>
                </button>
            </div>
        </mat-toolbar>
    </div>
</div>

<!-- *ngIf="isDarkMode" style="background-color: black;color: white;" -->
<div *ngIf="isDarkMode" style="background-color: black;color: white;">
    <mat-toolbar class="toolbar mat-elevation-z2">
        <div class="col-1">
        </div>
        <div class="col-10">
            <div class="text-center vvcream">MRVR APPS</div>
        </div>
        <div class="col-1">

        </div>
    </mat-toolbar>

    <div class="container-fluid">
        <br>


        <div class="row">
            <video #videoPlayer width="100%" height="100%" autoplay loop [muted]="isMute" playsinline>
                <source src="./assets/img/payment/Secuencia 01_2.mp4" type="video/mp4">
                Your browser does not support HTML video.
            </video>
        </div>

        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4">
                <div class="text-center fc">MRVR</div>
            </div>
        </div>
        <br>

        <section *ngIf="!isSpanish">

            <div class="comofunciona text-center">Vende en todos lados en línea</div>
            <div class="story">Administra todo en un solo lugar y configurare tu tienda online en con pagos
                minutos.</div>
            <br>


            <div class="row">
                <video #videoPlayer width="100%" height="100%" autoplay loop [muted]="isMute" playsinline>
                    <source src="./assets/img/payment/Secuencia 01_1.mp4" type="video/mp4">
                    Your browser does not support HTML video.
                </video>
            </div>


            <div class="comofunciona text-center">Ofrece la mejor experiencia de compra</div>
            <div class="story">Creación de tiendas online con poderosas herramientas de venta y
                opciones flexibles de pagos y envíos.</div>
            <br>
            <div class="row">
                <video #videoPlayer width="100%" height="100%" autoplay loop [muted]="isMute" playsinline>
                    <source src="./assets/img/payment/Secuencia 01_5.mp4" type="video/mp4">
                    Your browser does not support HTML video.
                </video>
            </div>
            <div class="comofunciona text-center">Pon tu página de Facebook e Instagram a trabajar
            </div>
            <div class="story">Tu Tienda en línea te permite promover y vender
                productos en tu página de Facebook e Instagrams para empresas, fácilmente y en minutos.</div>
            <br>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10" fxLayoutAlign="center center">
                    <img class="featureimg" src="./assets/img/payment/face.jpg" width="90%" alt="">
                </div>
                <div class="col-1"></div>
            </div>
            <br>
            <div class="comofunciona text-center">Llega a los clientes con mayor facilidad</div>
            <div class="story">Cierra tu primera venta más rápido gracias a las herramientas de pago
                para atraer nuevos clientes de tu página de ventas en línea.</div>

            <br>
            <div class="row">
                <video #videoPlayer width="100%" height="100%" autoplay loop [muted]="isMute" playsinline>
                    <source src="./assets/img/payment/Secuencia 01_6.mp4" type="video/mp4">
                    Your browser does not support HTML video.
                </video>
            </div>
            <!-- <div class="row">
                <div class="col-1"></div>
                <div class="col-10" fxLayoutAlign="center center">
                    <img class="featureimg" src="./assets/img/payment/business.jpg" width="90%" alt="">
                </div>
                <div class="col-1"></div>
            </div>
            <br> -->

            <br>
            <div class="comofunciona text-center">Creada para teléfonos inteligentes</div>
            <div class="story">La mayoría de las personas compran desde sus dispositivos móviles.
                Asegúrate de que tu tienda esté lista para ellos.</div>
            <br>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10" fxLayoutAlign="center center">
                    <img class="featureimg" src="./assets/img/payment/bit.jpg" width="90%" alt="">
                </div>
                <div class="col-1"></div>
            </div>
            <br>
            <div class="comofunciona text-center">Vende lo que quieras</div>
            <div class="story">Es tu tienda. Vende lo que quieras, de la forma que quieras.
                Desde productos y servicios hasta material digital como videos o documentos técnicos, la Tienda en línea
                te ayuda a mostrar,
                promocionar, vender y enviar tus productos con facilidad.</div>
            <br>

            <!-- <div class="row">
                <div class="col-1"></div>
                <div class="col-10" fxLayoutAlign="center center">
                    <img class="featureimg" src="./assets/img/payment/business.jpg" width="90%" alt="">
                </div>
                <div class="col-1"></div>
            </div>
            <br> -->
            <div class="comofunciona text-center">Ofrece la mejor experiencia de compra.</div>
            <div class="story"> Creación de tiendas online con poderosas herramientas
                de venta y opciones flexibles de pagos y envíos
            </div>
            <div class="row">
                <video #videoPlayer width="100%" height="100%" autoplay loop [muted]="isMute" playsinline>
                    <source src="./assets/img/payment/Secuencia 01_4.mp4" type="video/mp4">
                    Your browser does not support HTML video.
                </video>
            </div>

        </section>
        <!-- ENGLISH -->
        <section *ngIf="isSpanish">

            <div class="comofunciona text-center">Sell everywhere online</div>
            <div class="story">Manage it all in one place, Set up your online store in minutes</div>
            <br>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10" fxLayoutAlign="center center">
                    <img class="featureimg" src="./assets/img/payment/business.jpg" width="90%" alt="">
                </div>
                <div class="col-1"></div>
            </div>
            <br>




            <div class="comofunciona text-center">Build the ultimate shopping experience</div>
            <div class="story">A sleek online store, powerful selling tools and flexible
                shipping and payment options—Online Store has it all. </div>

            <!-- <br>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10" fxLayoutAlign="center center">
                    <img class="featureimg" src="./assets/img/payment/business.jpg" width="90%" alt="">
                </div>
                <div class="col-1"></div>
            </div> -->

            <br>
            <div class="comofunciona text-center">Put your Facebook & Instagram page to work
            </div>
            <div class="story">Online Store lets you easily promote and
                sell products on your Facebook business page in minutes. Plus, whenever you make changes to your
                website,
                you’ll get a friendly reminder to update your social media channels, too. </div>
            <br>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10" fxLayoutAlign="center center">
                    <img class="featureimg" src="./assets/img/payment/face.jpg" width="90%" alt="">
                </div>
                <div class="col-1"></div>
            </div>
            <br>


            <div class="comofunciona text-center">Sell on the world’s largest marketplaces</div>
            <div class="story">Online Store lets you list your products on Amazon,
                eBay, Etsy, Walmart, Jet and more in minutes and sync your inventory across all of them in just a few
                clicks.
                The best part? You can manage all your orders from one, simple dashboard</div>

            <!-- <br>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10" fxLayoutAlign="center center">
                    <img class="featureimg" src="./assets/img/payment/business.jpg" width="90%" alt="">
                </div>
                <div class="col-1"></div>
            </div> -->
            <br>


            <div class="comofunciona text-center">Built for a smartphone world</div>
            <div class="story">Most people shop on mobile. Make sure your store is ready for them, Check out fast.</div>
            <br>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10" fxLayoutAlign="center center">
                    <img class="featureimg" src="./assets/img/payment/bit.jpg" width="90%" alt="">
                </div>
                <div class="col-1"></div>
            </div>
            <br>

            <div class="comofunciona text-center">Sell what you want</div>
            <div class="story">It’s your store. Sell what you want, the way you want.
                From products and services to digital stuff like videos or white papers,
                Online Store helps you easily display, promote, sell and ship your goods.</div>
            <br>
            <!-- <div class="row">
                <div class="col-1"></div>
                <div class="col-10" fxLayoutAlign="center center">
                    <img class="featureimg" src="./assets/img/payment/business.jpg" width="90%" alt="">
                </div>
                <div class="col-1"></div>
            </div>
            <br> -->
            <div class="comofunciona text-center">Book appointments 24/7 Today
            </div>

        </section>



        <br>
        <section>

            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="col-12 text-center" fxLayoutAlign="center center">


                        <mat-card class="example-card" style="max-width: 400px;">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image" style="background-size: cover;"></div>
                                <mat-card-title *ngIf="isSpanish">$49.99</mat-card-title>
                                <mat-card-subtitle *ngIf="isSpanish">PAGA 1 HORA DE CONSULTA</mat-card-subtitle>
                                <mat-card-title *ngIf="!isSpanish">$49.99</mat-card-title>
                                <mat-card-subtitle *ngIf="!isSpanish">PAY 1 HOUR CONSULT</mat-card-subtitle>
                                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                            </mat-card-header>
                            <img mat-card-image src="./assets/img/payment/calendar.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <div id="paypal-button-container">
                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <!-- <button mat-button>LIKE</button>
                          <button mat-button>SHARE</button> -->
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
                <br>
                <div class="col-12 col-md-6">

                    <div class="col-12 text-center" fxLayoutAlign="center center">
                        <mat-card class="example-card" style="    max-width: 400px;
                    width: 400px;">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image" style="background-size: cover;"></div>
                                <mat-card-title *ngIf="isSpanish">CASH APP</mat-card-title>
                                <mat-card-subtitle *ngIf="isSpanish">PAGA 1 HORA DE CONSULTA $39</mat-card-subtitle>
                                <mat-card-title *ngIf="!isSpanish">CASH APP</mat-card-title>
                                <mat-card-subtitle *ngIf="!isSpanish">PAY 1 HOUR CONSULT $39</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="./assets/img/payment/cashAppMrvr.jpg" style="width: 270px;"
                                alt="cash">
                            <mat-card-content>
                                <div *ngIf="!isSpanish" id="paypal-button-container">
                                </div>
                                <div *ngIf="isSpanish" id="paypal-button-container">
                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <!-- <button mat-button>LIKE</button>
                          <button mat-button>SHARE</button> -->
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>

        </section>
        <br>
        <mat-toolbar class="toolbar mat-elevation-z2" style="position: fixed; bottom: 0px; 
    position: fixed;bottom: 0px; margin-left: -15px;">
            <div class="col-5">
                <button mat-mini-fab (click)="mute()" color="" style="outline: none;" aria-label="mute">
                    <mat-icon>volume_up</mat-icon>
                </button>
            </div>
            <div class="col-2 text-center">
                <!-- <button  mat-fab color="white" style="bottom:1px; z-index: 9999;outline: none;
                        font-size: 0px;">
                    <mat-icon>language</mat-icon>
                </button> -->
                <button (click)="changeLanguage()" mat-fab color="white" style="bottom:1px; z-index: 9999;outline: none;
                        font-size: 0px;">
                    <mat-icon>language</mat-icon>
                </button>
            </div>
            <div class="col-5" fxLayoutAlign="end end">
                <button mat-mini-fab (click)="darkMode()" color="" style="outline: none;" aria-label="dark mode">
                    <mat-icon>nights_stay</mat-icon>
                </button>
            </div>
        </mat-toolbar>
    </div>
</div>

<!-- *ngIf="isDarkMode" style="background-color: black;color: white;" -->