

<div *ngIf="!isDarkMode">
    <mat-toolbar class="toolbar mat-elevation-z2">
        <div class="col-1">
        </div>
        <div class="col-10">
            <div class="text-center vvcream">MRVR APPS</div>
        </div>
        <div class="col-1">
         
        </div>
    </mat-toolbar>

    <div class="container-fluid">

        <div class="row">
            <video #videoPlayer width="100%" height="100%" autoplay loop muted playsinline>
                <source src="assets/img/fcast/fcast.mp4" type="video/mp4">
                Your browser does not support HTML video.
            </video>
        </div>

        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4">
                <div class="text-center fc">FC</div>
            </div>
        </div>
        <br>

        <section>

            <div *ngIf="!isSpanish" class="comofunciona text-center">HOW DOES IT WORK? </div>
            <div *ngIf="!isSpanish" class="story">The WHITE VV FIRE & ICE and the BLACK VV FIRE & ICE creams
                accomplish the same results. The WHITE VV FIRE & ICE cream was developed for people with
                sensitive and light-colored skin and the BLACK VV FIRE & ICE cream was developed for
                people with non-sensitive and darker skin.

            </div>
            <br>
            <div *ngIf="!isSpanish" class="story">VV FIRE & ICE cream was researched and developed two years ago (2018).
                The goal was to help people reduce subcutaneous fat in localized anatomic locations, for example your
                abdominal area.
                It is not a miracle cream. You must be consistent and persistent when applying the cream to those areas
                to accomplish
                the reduction of your subcutaneous fat. The best results will occur when applied before exercising or
                playing your
                favorite sports. Personally, I apply the cream ten minutes before training in my gym. Additionally,
                I train five times per week to maximize the toning of my localized zone (abdominals).

            </div>




            <div *ngIf="isSpanish" class="comofunciona text-center">¿COMO FUNCIONA?</div>

            <div *ngIf="isSpanish" class="story"> Las cremas WHITE VV FIRE & ICE y BLACK VV FIRE & ICE logran los mismos
                resultados.
                La crema WHITE VV FIRE & ICE se desarrolló para personas con piel sensible
                y de color claro y la crema BLACK VV FIRE & ICE se desarrolló para personas con piel no sensible y más
                oscura.
            </div>
            <br>
            <div *ngIf="isSpanish" class="story"> La crema VV FIRE & ICE fue investigada y desarrollada hace dos años
                (2018).
                El objetivo era ayudar a las personas a reducir la grasa subcutánea en ubicaciones anatómicas
                localizadas,
                por ejemplo, su área abdominal. No es una crema milagrosa. Debe ser constante y persistente al aplicar
                la
                crema en esas áreas para lograr la reducción de su grasa subcutánea. Los mejores resultados ocurrirán
                cuando
                se apliquen antes de hacer ejercicio o practicar sus deportes favoritos.
                Personalmente, aplico la crema diez minutos antes de entrenar en mi gimnasio.
                Además, entreno cinco veces por semana para maximizar la tonificación de mi zona localizada
                (abdominales).
            </div>
            <br>


            <div class="row">
                <div class="col-1"></div>
                <div class="col-10" fxLayoutAlign="center center">
                    <img class="featureimg" src="assets/img/fcast/2dos.jpg" width="90%" alt="">
                </div>
                <div class="col-1"></div>
            </div>
        </section>

        <section>
            <div class="row">


                <div class="col-1 "></div>
                <div class="col-10 ">
                    <div *ngIf="isSpanish" class="comofunciona text-center" style="font-size:24px;">¿CÓMO APLICAS LA
                        CREMA?</div>
                    <div *ngIf="isSpanish" class="story">
                        Aplique suficiente crema para cubrir completamente su área abdominal, especialmente la parte
                        inferior,
                        extendiéndose a la parte inferior de la espalda baja. Se recomienda lavarse las manos con agua y
                        jabón
                        después de la aplicación para evitar el contacto con los ojos y la cara. Combine la crema VV
                        FIRE & ICE
                        con su rutina de ejercicios para lograr los mejores resultados.
                    </div>

                    <div *ngIf="!isSpanish" class="comofunciona text-center" style="font-size: 24px;">HOW DO YOU APPLY
                        THE CREAM?
                    </div>

                    <div *ngIf="!isSpanish" class="story">
                        Apply enough cream to completely cover your abdominal area, especially the lower part, extending
                        to the
                        lateral lower back.
                        It is recommended to wash your hands with soap and water after application to avoid contact with
                        your eyes
                        and face.
                        Combine the VV FIRE & ICE cream with your exercise routine to achieve maximum results. </div>

                </div>

                <div class="col-1"></div>

            </div>

        </section>


        <br>

        <section>
            <div *ngIf="isSpanish" class="comofunciona text-center">Quien la usa?</div>
            <div *ngIf="!isSpanish" class="comofunciona text-center">Whom Does it use it?</div>

            <video width="100%" height="100%" autoplay loop muted playsinline>
                <source src="assets/img/fcast/van.mp4" type="video/mp4"> Your browser
                does not support HTML video. </video>

            <br>


            <div *ngIf="!isSpanish" class="comofunciona text-center">Reviews</div>
            <div *ngIf="isSpanish" class="comofunciona text-center">Testimonios</div>



            <video width="100%" height="100%" autoplay loop muted playsinline>
                <source src="assets/img/fcast/fab2.mp4" type="video/mp4"> Your browser
                does not support HTML video. </video>
            <div *ngIf="isSpanish" class="comofunciona text-center" style="line-height: 40px;">ORDENA YA SOLO $34.99
            </div>
            <div *ngIf="!isSpanish" class="comofunciona text-center" style="line-height: 40px;">ORDER NOW JUST $34.99
            </div>
            <!-- <p class="mat-body-strong text-center">si tienes preguntas no dudes en llamarnos
        </p> -->

            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="col-12 text-center" fxLayoutAlign="center center">


                        <mat-card class="example-card" style="max-width: 400px;">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image" style="background-size: cover;"></div>
                                <mat-card-title *ngIf="isSpanish">FIRE & ICE CREMA NEGRA</mat-card-title>
                                <mat-card-title *ngIf="!isSpanish">BLACK FIRE & ICE</mat-card-title>
                                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                            </mat-card-header>
                            <img mat-card-image src="assets/img/fcast/vvblack.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <div id="paypal-button-container">
                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <!-- <button mat-button>LIKE</button>
                          <button mat-button>SHARE</button> -->
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
                <br>
                <div class="col-12 col-md-6">

                    <div class="col-12 text-center" fxLayoutAlign="center center">
                        <mat-card class="example-card" style="    max-width: 400px;
                    width: 400px;">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image" style="background-size: cover;"></div>
                                <mat-card-title *ngIf="isSpanish">FIRE & ICE CREMA BLANCA</mat-card-title>
                                <mat-card-title *ngIf="!isSpanish">WHITE FIRE & ICE</mat-card-title>
                            </mat-card-header>
                            <img mat-card-image src="assets/img/fcast/singlewhite.png" style="width: 270px;"
                                alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <div id="paypal-button-container">
                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <!-- <button mat-button>LIKE</button>
                          <button mat-button>SHARE</button> -->
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>

        </section>
        <br>
        <mat-toolbar class="toolbar mat-elevation-z2" style="position: fixed; bottom: 0px; 
    position: fixed;bottom: 0px; margin-left: -15px;">
            <div class="col-5">
            </div>
            <div class="col-2 text-center">
                <button (click)="changeLanguage()" mat-fab color="white" style="bottom:1px; z-index: 9999;outline: none;
                        font-size: 0px;">
                    <mat-icon>language</mat-icon>
                </button>
            </div>
            <div class="col-5" fxLayoutAlign="end end">
                <button mat-mini-fab (click)="darkMode()"   color="" aria-label="Example icon button with a filter list icon">
                    <mat-icon>nights_stay</mat-icon>
                  </button>
            </div>
        </mat-toolbar>

        <div fxLayoutAlign="end end">

        </div>

    </div>
</div>