<div class="mainContainer disable-dbl-tap-zoom">
    <!-- 🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐 LOGO 🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐 -->
    <div class="logo-miami" style="background-image: url(./assets/img/elite/header.jpg);background-size: contain;">
        <img class="logo" src="./assets/img/elite/logow.png">
        <p style="animation: swing 200ms ease-in-out 100ms forwards; padding-top: 20px;">{{title}}</p><br>
        <!-- <p style="color: rgb(255, 55, 255);animation: swing 200ms ease-in-out 100ms forwards">RIDES</p> -->
    </div>
    <!-- 🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐 END LOGO 🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐🧐 -->
    <div class="menu" style="background-image: url(./assets/img/elite/pattherBG.jpg);background-size: contain;">



        <!-- 🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️ CLIENT INFO 🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️ -->
        <form *ngIf="isClientForm" name="loginForm" novalidate class=""
            style="background: rgba(0, 0, 0, 0.664);display: flex;flex-direction: column;margin:20% 20px;padding: 20px;border-radius: 5px;">
            <!-- <h1 style="animation: swing 200ms ease-in-out 100ms forwards; padding-top: 20px;color: red;text-align: center;">
               Please provide your info to get promotion
            </h1> -->
            <br>
            <h2 style="color: rgb(255, 255, 255);text-align: center;">Please provide your info to get promotion</h2>
            <mat-form-field appearance="outline">
                <mat-label style="color: white;">Name</mat-label>
                <input style="color: white;" matInput type="name" placeholder="John Smith" [(ngModel)]="clientName"
                    [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label style="color: white;">Email</mat-label>
                <input style="color: white;" matInput type="email" placeholder="jsmith@gmail.com"
                    [(ngModel)]="clientEmail" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label style="color: white;">Phone Number</mat-label>
                <input style="color: white;" matInput type="tel" placeholder="3050058555"
                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" [(ngModel)]="clientPhone"
                    [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <button *ngIf="(clientName.length > 0) && (clientEmail.length > 0) && (clientPhone.length > 0) "
                (click)="isClientInfoReady()" mat-raised-button style="    color: white;background: #d1ac6f;"
                color="primary" class="submit-button" aria-label="LOG IN">
                SUBMIT
            </button>
        </form>
        <!-- 🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️ END CLIENT INFO 🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️🤷🏻‍♂️ -->




        <!-- 🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒 VENUE SCANNED 🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒 -->
        <form *ngIf="isVenueForm" name="loginForm" novalidate class=""
        style="background: rgba(0, 0, 0, 0.664);display: flex;flex-direction: column;margin:20% 20px;padding: 20px;border-radius: 5px;">
            <!-- <h1
                style="animation: swing 200ms ease-in-out 100ms forwards; padding-top: 20px;color: red;text-align: center;">
                Validating Promotion</h1><br> -->

            <h2 style="color: #fffdfd;text-align: center;">Is This {{venueName}} business?</h2>
            <mat-radio-group  style="display: flex;flex-direction: column;justify-content: center;align-items: center;color: white;"
                [(ngModel)]="venueName" aria-label="Select an option" [ngModelOptions]="{standalone: true}">
                <mat-radio-button style="color: white;" value="'true'">YES</mat-radio-button>
                <mat-radio-button style="color: white;" value="'false'">NO</mat-radio-button>
            </mat-radio-group>
            <br>

            <mat-form-field appearance="outline">
                <mat-label style="color: white;">Number of guess</mat-label>
                <input style="color: white;" matInput type="tel" [(ngModel)]="guessAmount" [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label style="color: white;">SECRET VENUE CODE</mat-label>
                <input style="color: white;" matInput type="text" placeholder="e.g xyzhdsrg" [(ngModel)]="secretVenueKey"
                    [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <!-- *ngIf="(guessAmount != 0) && (secretVenueKey.length > 0) " -->
            <button *ngIf="(guessAmount != 0) && (secretVenueKey.length > 0) " (click)="validatePromotion()"
                mat-raised-button style="    color: white;background: #d1ac6f;" color="primary" class="submit-button" aria-label="LOG IN" >
                SUBMIT
            </button>
        </form>
        <!-- 🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒 END VENUE SCANNED 🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒🎒 -->



        <!-- 🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶CLIENT🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶 -->
        <form *ngIf="isClientScanned && !popUpQRCode && !isPromtionSucess" name="loginForm" novalidate class=""
        style="background: rgba(0, 0, 0, 0.664);display: flex;flex-direction: column;margin:20% 20px;padding: 20px;border-radius: 5px;">
            <h1
                style="animation: swing 200ms ease-in-out 100ms forwards; padding-top: 20px;color: #ffffff;text-align: center;">
                How many are you and your guess?</h1><br>

            <br>

            <mat-form-field appearance="outline">
                <mat-label style="color: white;">Number of guess</mat-label>
                <input  style="color: white;" matInput type="tel" [(ngModel)]="clientguessAmount" [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <button *ngIf="(clientguessAmount != 0)" (click)="validateGuessAmount()" mat-raised-button
            style="    color: white;background: #d1ac6f;" color="primary" class="submit-button" aria-label="LOG IN">
                SUBMIT
            </button>
        </form>
        <!-- 🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶 END CLIENT🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶🧶 -->




        <!-- 🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻  MESSAGE BOXES  🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻 -->
        <h1 *ngIf="isPromotionsExpired" style="color: white;
                    text-align: center;
                    margin-top: 40%;
                    font-size: 60px;
                    line-height: 60px;">Sorry this pormotion is alredy redeemed or expired</h1>
        <h1 *ngIf="isPromtionSucess" style="color: white;
                    text-align: center;
                    margin-top: 26%;
                    font-size: 41px;
                    line-height: 60px;">Thank you for your business</h1>


        <div *ngIf="goToTheVenue" style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
            <h1 style="color: white;
            text-align: center;
            margin-top: 10%;
            padding: 10px;
            font-size: 25px;
            line-height: 40px;">DIRTY RABBY 
            </h1>
            <h1 style="color: white;
            text-align: center;
            margin-top: 10%;
            padding: 10px;
            font-size: 25px;
            line-height: 40px;">PROMOTION 
            </h1>
            <h1 style="color: white;
                    text-align: center;
                    margin-top: 10%;
                    padding: 10px;
                    font-size: 25px;
                    line-height: 40px;">Scan this QR-CODE at DIRTY RABBY to get the promotion
            </h1>
            <img class="logo" style="width: 283px;" src="./assets/img/elite/Promoters/VenueQrCode.png">


            <img class="logo" style="width: 283px;" src="./assets/img/elite/conejo-rojo.png">
           


            <img class="logo" style="width: 283px;" src="./assets/img/elite/dirtyRabby.jpg">
            <h1 style="color: #afaeae;
            text-align: center;
            margin-top: 10%;
            padding: 10px;
            font-size: 25px;
            line-height: 40px;">The Dirty Rabbit Wynwood is a new concept of bar “Based on a True Story”, expertly
                designed for you to relax and enjoy our incredible craft cocktails.
            </h1>
            <h2 style="color: #afaeae;
            text-align: center;
            margin-top: 10%;
            padding: 10px;
            font-size: 25px;
            line-height: 40px;">CONTACT US TO EXPERIENCE MIAMI'S BEST NIGHTCLUB
            </h2>

            <button
                 mat-raised-button style="    color: white;background: red;"
                color="primary" class="submit-button" aria-label="LOG IN">
                RESERVE TABLE
            </button>
            <div>




            </div>

        </div>


        <div *ngIf="popUpQRCode"
            style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
            <h1 style="color: white;
                    text-align: center;
                    margin-top: 10%;
                    padding: 10px;
                    font-size: 25px;
                    line-height: 40px;">Give this code to the server for disccount
            </h1>
        </div>
        <!-- 🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻 END MESSAGE BOXES 🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻🙇🏻 -->




        <!-- 🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃 VENUES LIST 🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃-->
        <div class="foodCard" *ngFor="let item of VENUES; index as i" style="color: white;">
            <img class="pizzaImage" style="width: 100%;" [src]="item.imgSrc">
            <h1 class="title secondary-text" style="padding-top: 10px;">{{item.venueName}}</h1>
            <!-- <div class="title secondary-text" style="width: 290px;text-align: center;">{{item.description}}</div>            -->
        </div>

        <!-- 🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃 END VENUES LIST 🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃-->

        <br>
        <br>
        <br>
        <br>
        <br>
    </div>



    <!-- 🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻 QRCODE GENERATOR 🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻-->
    <div *ngIf="popUpQRCode" class="formFieldValidationAlert" style="background: black;border: black 1px solid;padding: 20px;    position: absolute;
        top: 470px;">
        <div style="color: green;position: absolute;bottom: -35px;font-size: 19px;">{{venueName}}</div>

        <ngx-kjua style="z-index: 1px;margin-top: 10px;" [text]="myAngularxQrCode" [renderAsync]="false"
            [render]="'svg'" [crisp]="true" [minVersion]="10" [ecLevel]="'H'" [size]="228" [ratio]="undefined"
            [fill]="qrocodeColor" [back]="qrocodeColorBackground" [rounded]="100" [quiet]="0" [mode]="'plain'"
            [mSize]="15" [mPosX]="50" [mPosY]="50" [label]="'ELITE'" [fontname]="'sans-serif'" [fontcolor]="'#ff9818'"
            [image]="'canvas'" [cssClass]="'image-auto'"></ngx-kjua>
        <img class="logo" style="width: 383px;position: absolute;z-index: -1;"
            src="./assets/img/elite/Promoters/ClientQrCode.png">
        <!-- REGISTARTION FORM -->
        <img id="logo" class="logo" style="width: 60px;background: white;position: absolute;top: 94px;"
            src="./assets/img/elite//logo.png">
        <!-- <p><a style="color: rgb(255, 255, 255);" target="_blank">{{myAngularxQrCode}}</a></p> -->
        <!-- <button mat-mini-fab color="primary"
            style="color:white;background-color: green;font-size: 6px;margin-bottom: 10px;"
            (click)="dismissErrorForm()">
            <mat-icon>check</mat-icon>
        </button> -->
    </div>
    <!-- 🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻 END QRCODE 🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻🎅🏻-->

    <!-- 👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾 FOOTER MENU 👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾 -->
    <div class="footer" style="background-image: url(./assets/img/elite/header.jpg);background-size: contain;">
        <!-- <button mat-mini-fab color="warn"
            style="color: white;outline: none;position: absolute;bottom: 19px; left: 80px;background-color: goldenrod;">
            <mat-icon style="line-height: 18px;" (click)="qrcode()">qr_code</mat-icon>
        </button> -->
        <button mat-mini-fab color="primary" style="color: white;
        background-color: black;
        font-size: 6px;
        bottom: 30px;
        width: 60px;
        height: 60px;">
            <mat-icon>qr_code</mat-icon>
        </button>
        <!-- <button mat-mini-fab
            style="background-color: goldenrod; color: white;outline: none;position: absolute;bottom: 19px; right: 80px;">
            <a style="color: white;" href="tel:3053220070">
                <mat-icon>phone</mat-icon>
            </a>
        </button> -->
    </div>
    <!-- 👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾 END FOOTER MENU 👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾 -->


</div>