.row-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 96px;
  align-items: baseline;
  gap: 5vh;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0 0.75em 0 0.75em;
  margin-top: -0.25em;
  position: relative;
  width: 100%;
}

.directorInfo {
  outline: none;
  box-shadow: none;
}

.information-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.directorInfo:focus {
  box-shadow: revert;
  outline: revert;
}

.optionButton {
  visibility: hidden;
}

.directorCard:hover>.optionButton {
  visibility: visible;
}

.selectLabels {
  // width: 100%;
}

table {
  width: 100%;
}

.example-list {
  width: 1000px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 20px 10px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.buttons-container {
  display: flex;
  gap: 12px;
  height: 100%;
  position: relative;
  top: -9px;
}



.directors-container {
  display: flex;
  gap: 6%;
}

@media screen and (max-width: 1203px) {
  .row-field {
    display: flex;
    margin-left: 96px;
    align-items: baseline;
    gap: 2px;
  }

  .information-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 96px;
    align-items: baseline;
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    position: relative;
    top: 5px;
  }

  .directors-container {
    display: flex;
    gap: 6%;
    flex-direction: column;
  }

  .bottom-row {
    gap: 121px;

  }

}


/* Estilo para oscurecer el fondo */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Fondo oscuro con opacidad */
  z-index: 1000;
  /* Asegura que el fondo esté por encima de otros elementos */
}

/* Estilo para el modal */
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  /* Ajusta según tus necesidades */

  background-color: white;
  padding: 10px 20px 20px 20px;
  z-index: 2000;
  /* Asegura que el modal esté por encima del fondo oscuro */
}

.modal-content {
  /* ... otros estilos ... */
  z-index: 1000;
}

.close-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;

}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 40%;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version.*/
::ng-deep .mat-select-value .edit-icon {
  display: none !important;
}

input {
  border: none;
}