<div class="dashboard-menu-container">
  <div class="logo-container">
    <img style="    width: 100%;" src="assets/LOGO.png" alt="logo" />
  </div>
  <div class="menu-container">
    <div class="menu-item-Light">
      <i class="bi bi-list-task"></i> Project list
    </div>
    <div class="menu-item-Dark" style="justify-content: flex-start;">
      <i class="bi bi-pencil-fill"></i> Create/Edit Matrix
      <i style="    margin-left: 32px;" class="bi bi-play-btn-fill"></i>
    </div>
    <div class="menu-item-Dark" style="justify-content: flex-start;">
      <i class="bi bi-box-arrow-right"></i> Sign out
    </div>
  </div>
</div>