
:host{
  width: 90rem;
  margin-right: 24px;
}
.template-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .template-item:hover {
    background-color: #e0e0e0;
  }

  .template-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .edit-icon {
    margin-left: 10px;
    cursor: pointer;
  }

  .edit-icon:hover {
    cursor: pointer;
}


/* Estilo para oscurecer el fondo */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
  z-index: 1000; /* Asegura que el fondo esté por encima de otros elementos */
}

/* Estilo para el modal */
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%; /* Ajusta según tus necesidades */

  background-color: white;
  padding: 10px 20px 20px 20px;
  z-index: 2000; /* Asegura que el modal esté por encima del fondo oscuro */
}

.modal-content {
  /* ... otros estilos ... */
  z-index: 1000;
}


.modal-content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 40%;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
::ng-deep .mat-select-value .edit-icon{
  display: none !important;
}

.close-button {
position: relative;
left: 50%;
}

.error-dialog{
  z-index: 9999;
}