<div class="logo-container">
  <img  style="    width: 100%;" src="assets/LOGO.png" alt="logo" />
</div>
<div class="menu-container">
  <div class="menu-item-Light" >
   Project Information
  </div>
  <div class="menu-item-Dark" >
    Survey Creation & Design
  </div>
  <div class="menu-item-Dark" >
    Participants
    <div class="icon-play"> <i class="bi bi-play-btn-fill"></i></div>
  </div>
  <div class="menu-item-Dark" >
    Survey Participants/Email <div class="icon-play"> <i class="bi bi-play-btn-fill"></i></div>
</div>
<div class="menu-item-Dark" >
 Reports  <div class="icon-play"> <i class="bi bi-play-btn-fill"></i></div>
</div>
<div class="menu-item-Dark" style="justify-content: flex-start;" >
  <i class="bi bi-arrow-left-circle" ></i>
     BACK
</div>
</div>

