:root {
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray6: #12181b;
    --blue: #0084a5;
    --purple: #a82dd1;
    --yellow: #fff565;

    // --brand-dark-green: #21443c;

    // --brand-dark-green: #207cd1;
    // --brand-green: #18abc5;

    // --brand-dark-green: #548c96;
    // --brand-green: #334b61;

    // --brand-dark-green: #549688;
    // --brand-green: #33615a;

    --brand-dark-green: #f7f7f7b9;
    --brand-green: #e9e9e9;
    --brand-yellow: #f0a22f;
    --brand-orange: #5ac6e8;
    --brand-light-orange: #f79b33;


    // WOW
    --wow-red: #c62228;
    --wow-orange: #f26428;
    --wow-yellow: #fff212;
    --wow-yellowish: #f2b200;
    --wow-yellow-cart: #f1b300;
    --wow-green: #00ff00;
    --wow-light-blue: #0face3;
    --wow-blue: #0065e3;
    --wow-logo-blue: #306fb2;

    --wow-white: #ffffff;
    --wow-white-smoke: whiteSmoke;
    --wow-black: #000000;
    --wow-gray: #808080;
    --wow-light-gray: #c0c0c0;
    --wow-dark-gray: #404040;
    --wow-darker-gray: #202020;
    --wow-darkest-gray: #000000;
    
    --bi-gray: #616161;
}



$brand-green: #428f89;
$background-green: #3c5959;
$background-dark-green: #003732;
$orange: #e8993a;
$yellow: #f0b850;
$yellow-light: #f0e677;
$grey-dk: #394240;
$black-87-opacity: #394240;
$white: #ffffff;

//Type Stacks
$helvetica-stack: "Helvetica", sans-serif;
$futura-stack: "Futura", sans-serif; //not imported yet
$georgia-stack: "Georgia", sans-serif;


