@mixin BoxShadow($dp) {
  @if $dp==0 {
    box-shadow: none;
  } @else if $dp==1 {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  } @else if $dp==2 {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  } @else if $dp==3 {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  } @else if $dp==4 {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  } @else if $dp==6 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  } @else if $dp==8 {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12),
      0 5px 5px -3px rgba(0, 0, 0, 0.2);
  } @else if $dp==9 {
    box-shadow: 0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12),
      0 5px 6px -3px rgba(0, 0, 0, 0.2);
  } @else if $dp==12 {
    box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12),
      0 7px 8px -4px rgba(0, 0, 0, 0.2);
  } @else if $dp==16 {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12),
      0 8px 10px -5px rgba(0, 0, 0, 0.2);
  } @else if $dp==24 {
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12),
      0 11px 15px -7px rgba(0, 0, 0, 0.2);
  }
}
.modal-video {
  position: fixed;
  top: -2%;
  z-index: 999;
  width: 100%;
  height:100%;
  overflow: hidden;
  background-color: rgb(0 0 0 / 50%);
  display: flex;
 flex-direction: column;
 gap: 2px;

}
.container-checkbox input:checked ~ .checkmark {
  background-color: black;
}

.active-rating-star {
  color: #76d354;
}
.active-rating-bar {
  color: #e7c00f;
}
.rating-star {
  color: grey;
}
.settings-icons-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  top: -30px;
  right: 50px;
  border: 2px dashed #324395;
  padding-right: 10px;
  background: #ffffffd9;
  position: absolute;
  height: 54px;
  align-items: center;
}

.column-settings-input {
  display: flex;
  flex-direction: row;
  justify-content: start;
  background: #ffffffd9;
  gap: 0px;
  position: absolute;
  left: -713px;
  z-index: 1;
  border: 2px dashed #324395;
}
.settings-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin: 0 0 -12px;
  color: #324395;
}

.slider-font-size {
  margin: 20px;
  width: 50px;
}
.toolbar-container {
  display: flex;
  flex-direction: row-reverse;
}
.config-box {
  position: absolute;
  width: 50%;
  background: #fafafa;
  z-index: 1;
  top: -65px;
  left: 25%;
  border: 4px solid #063074;
  overflow: auto;
  max-height: 36rem;
  bottom: -2;
}

.drag-handle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: move;
  height: 25px;
  width: 100%;
}
.sm-section3-rkScale{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1.2rem;
  width: 100%;
  gap: 1rem;
}
.sm-column-box-rkScale{
  display: flex;
  gap: 4rem;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  justify-content: center;}


  .criteria-creation {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.criteria-title {
  font-size: 12px;
  color: #48535e;
}
.criteria-form {
  display: flex;
}
.criteria-selection {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.sm-row-box-rkScale{
  display: flex;
  gap: 2rem;
  flex-direction: row;
  justify-content: center;
  width: 100%;

}
 .rating-range-title, .rating-icon-title {
  font-size: 14px;
  color: #48535e;
}
 .rating-icon-title {
  font-size: 12px;
  color: #48535e;
}
.rating-slider, .rating-icon-selection {
  display: flex;
}
.icon-grade, .icon-rectangle {
  color: #76d354;
}
.icon-rectangle {
  color:#e6ad11;
}

.sm-column-box-rkScale{
  display: flex;
  gap: 2rem;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  justify-content: center;}

.form-field {
  width: 40%;
}

.input-category{
  color: #324395;
  font-size: 20px;
}


.input-subcategory {
  color: #ee7f25;
  font-size: 20px;
}

.selection-rules {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.rule-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.rule-description {
  font-size: 16px;
  margin-top: 10px;
  color: #48535e;
  text-align: center;
}


.input-number {
  width: 53px;
  padding: 0 10px;
}

.hint-text {
  font-size: 13px;
  color: #48535e;
}
.button-cancel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-done {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.cancel-button {
  outline: none;
  color:#d35854;
}

.done-button {
  color: #76d354;
  outline: none;
}

.cancel-text {
  margin-top: -11;
  color: #D35854;
  font-size: 21px;
}

.done-text {
  margin-top: -1;
   color: #76D354;
   font-size: 21px;
}
