.container {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.email-container {
    border: hotpink solid 0px;
    width: 60%;
}

.participants-container {
    border: hotpink solid 0px;
    width: 35%;
    padding: 7% 0px 0px 22px;
    margin-left: 45px;
}
.mat-checkbox-inner-container-no-side-margin {
    margin-top: 9px;
}

::ng-deep label{
    margin-top: 9px;
}

@media screen and(max-width: 1203px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 80%;
        margin-left: 20px;
    }

    .email-container {
        width: 120%;
    }

    .participants-container {
        width: 100%;
        margin: 0px;
        padding-left: 0px;
    }
}

tr.mat-row,
tr.mat-footer-row {
    height: 30px;
}
