@media (max-width: 1720px) {

    // .container {
    //     display: flex;
    //     width: 100%;
    //     flex-direction: column;
    //     justify-content: space-between;
    // }
    .options {
        display: flex;
        flex-direction: column !important;
    }

    .email-container {
        width: 40% !important;
    }


}


@media (max-width: 1720px) {

    // .container {
    //     display: flex;
    //     width: 100%;
    //     flex-direction: column;
    //     justify-content: space-between;
    // }
    .options {
        display: flex;
        flex-direction: column !important;
    }

    .email-container {
        width: -webkit-fill-available !important;
    }
    .invite{
        width: 95%;
    }
}




