.invite {
    margin: 20px 0 60px 0;
}

@media (max-width: 1720px) {
    // .container {
    //     display: flex;
    //     width: 100%;
    //     flex-direction: column;
    //     justify-content: space-between;
    // }
    .options {
        display: flex;
    }

    .email-container {
        width: 40% !important;
    }
}

@media (max-width: 1720px) {
    // .container {
    //     display: flex;
    //     width: 100%;
    //     flex-direction: column;
    //     justify-content: space-between;
    // }
    .options {
        display: flex;
    }

    .email-container {
        width: -webkit-fill-available !important;
    }

    .invite {
        width: 95%;
    }
}

@media (max-width: 1499px) {
    .container {
        display: flex;
        gap: 5%;
        max-width: 100%;
        padding: 0;
        flex-direction: column;
        display: flex;
        gap: 5%;
        max-width: 100%;
        padding: 0;
        align-items: center;
    }

    .participants-container {
        width: 95%;
        margin-bottom: 40px;
    }
}

input {
    border: 1px solid #868686;
    border-radius: 3px;
}

.input {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-between;
}
