.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 2fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header header header"
      "body body body body"
      "footer footer footer footer";
      height: 100vh;
    //   max-width: 400px;
    background-color: lightpink;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .footer { 
        grid-area: footer; 
        height: 100%;
        background-color: lightblue;
}
  .body { 
        grid-area: body; 
        height: 100%;
        background-color: lightgreen;
        justify-content: center;
        align-items: center;
}
  .header { 
        grid-area: header; 
        height: 100%;
        background-color: lightsalmon;
}

.grid {
    display: flex;
    // grid-template-rows: 20px 20px 40px 20px 40px;
    // grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-evenly;
    // align-items: flex-end;
    // height: 30vh;

    .item{
        color: white;
        align-items: center;
        text-align: center;
        width: 40px;
        // justify-content: space-around;
        // align-items: center;
        
    }
  }