<div class="mainContainer disable-dbl-tap-zoom">

    <div class="logo-miami">
        <img class="logo" src="./assets/img/elite/logoElite.JPG">
        <!-- <p style="animation: swing 200ms ease-in-out 100ms forwards; padding-top: 20px;">ELITE DASH</p><br> -->
    </div>

    <div class="row" style="overflow-y: scroll;">

        <div class="" *ngFor="let item of DASH; index as i" style="color: white;">
            <div class="column">

                <mat-card >
                    <mat-card-header>
                        <!-- <div mat-card-avatar class="example-header-image"></div> -->
                        <mat-card-title style="color: red;"><span style="color: black;">BUSINESS NAME :</span> {{item.payload.doc.data().venueId}}</mat-card-title>
                        <mat-card-subtitle  
                        [ngClass]="(item.payload.doc.data().completed === 'inprogress')?'inprogress':'complete'" >
                         <span style="color: black;">PROMO STATUS:</span> {{item.payload.doc.data().completed}}</mat-card-subtitle>
                    </mat-card-header>
                    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                    <mat-card-content>
                        <p style="color: red;"><span style="color: black;">client Name: </span> {{item.payload.doc.data().clientName}}</p>
                        <p style="color: red;"><span style="color: black;">client Email: </span> {{item.payload.doc.data().clientEmail }}</p>
                        <p style="color: red;"><span style="color: black;">client Phone: </span> {{item.payload.doc.data().clientPhone}}</p>
                        <p style="color: red;"><span style="color: black;">clientguess Amount:</span> {{item.payload.doc.data().clientguessAmount}}</p>
                        <p style="color: orangered;"><span style="color: black;">Date: </span> {{item.payload.doc.data().created | formatDate }}</p>
                    </mat-card-content>
                    <hr>
                    <mat-card-content>
                        <p style="color: green;"><span style="color: black;">promoter Id:  </span> {{item.payload.doc.data().promoterId}}</p>
                        <p style="color: green;"><span style="color: black;">client Email: </span> {{item.payload.doc.data().clientEmail }}</p>
                        <p style="color: green;"><span style="color: black;">secret Transaction Key:  </span> {{item.payload.doc.data().secretTransactionKey}}</p>
                        <p style="color: green;"><span style="color: black;">server Guess Amount: </span> {{item.payload.doc.data().serverGuessAmount}}</p>
                        <p style="color: green;"><span style="color: black;">Updated: </span> {{item.payload.doc.data().updated | formatDate }}</p>
                    </mat-card-content>
                </mat-card>
            </div>
                

        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

    <div class="footer">
        <!-- <button mat-mini-fab color="warn"
            style="color: white;outline: none;position: absolute;bottom: 19px; left: 80px;background-color: goldenrod;">
            <mat-icon style="line-height: 18px;" (click)="qrcode()">qr_code</mat-icon>
        </button> -->
        <!-- <button mat-mini-fab color="primary" style="color: white;
        background-color: black;
        font-size: 6px;
        bottom: 30px;
        width: 60px;
        height: 60px;" (click)="qrcode()">
            <mat-icon>qr_code</mat-icon>
        </button> -->
        <!-- <button mat-mini-fab
            style="background-color: goldenrod; color: white;outline: none;position: absolute;bottom: 19px; right: 80px;">
            <a style="color: white;" href="tel:3053220070">
                <mat-icon>phone</mat-icon>
            </a>
        </button> -->
    </div>
 
    <!-- MODAL REVIEW -->
    <div *ngIf="popUpQRCode" class="formFieldValidationAlert" style="background: black;border: black 1px solid;">
        <h1 style="color: white;">OPEN YOUR APP</h1>
        <!-- <qrcode [qrdata]="myAngularxQrCode" [width]="140" [errorCorrectionLevel]="'M'"></qrcode> -->
        <img class="logo" style="width: 360px" src="./assets/img/elite/Promoters/PromoterQrCode.png">
        <!-- REGISTARTION FORM -->
        <!-- <img class="logo" style="width: 360px;background: white;" src="./assets/img/elite/CesarVega/CesarRecruiter.png"> -->
        <!-- <p><a style="color: rgb(255, 255, 255);" target="_blank">{{myAngularxQrCode}}</a></p> -->
        <button mat-mini-fab color="primary"
            style="color:white;background-color: green;font-size: 6px;margin-bottom: 10px;"
            (click)="dismissErrorForm()">
            <mat-icon>check</mat-icon>
        </button>
    </div>

</div>