/* Global styles.css or component's css with encapsulation set to None */
.mat-calendar-body-selected {
  // background-color: #fff !important;
  color: #fff !important;
}

.table th, .table td {
  padding: 0.75rem 0.3rem 0.75rem 0.75rem !important;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table{
  td{
    text-align: start;
  }
}
@media screen and (max-width: 1510px){
  .table{
    td{
      padding: 5px 0px 0 0.75rem !important;
    }
  }
  .calendar{ 
    width: 25%;
    position: relative;
    left: 30px !important;
  }
}

@media screen and (max-width: 1390px){
  .table{
    td{
      padding: 0px 0px 0 0.75rem  !important;
    }
  }
  .calendar{
    width: 25%;
    position: relative;
    left: 30px !important;
  }
}
