<div (click)="noClickanyWhere()" class="page">

    <div class="mainContainerPresent mat-elevation-z8">


        <!-- TABLE OF CONTENT  -->
        <div *ngIf="isTableOfContent" class="tableOfContent">
            <div>Table Of Content</div>
            <div
                *ngFor="let item of [1,2,3,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,41,2,3,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4]">
                {{item}}
            </div>
        </div>

        <!-- SETTINGS BOX -->
        <div *ngIf="isSettings" class="settingsBox">
            <div>Settings</div>
            <div
                *ngFor="let item of [1,2,3,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,41,2,3,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4]">
                {{item}}
            </div>
        </div>


        <!-- LEFT & RIGHT ICONS -->
        <button (click)="moveRight()" class="menu-left-icon" mat-icon-button>
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>

        <button (click)="moveLeft1()" class="menu-right-icon" mat-icon-button>
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>



        <!--❤️ TEMPLATES FOR SLIDES , GROUP NAMES, SINGLE NAME, IMAGE SLIDE -->

        <!-- IMAGE SLIDE  -->
        <div *ngIf="(slideType === 'Image')" class="imagePresentar" [style.background]="slideBackground"></div>
        <!-- {{slideBackground}} -->

        <!-- SUMMARY SLIDE -->
        <div *ngIf="(slideType === 'NameSummary')" class="summaryPresentar summary">

            <div class="summaryLabel">Summary</div>

            <div class="summaryButtons">
                <div style="display: flex; flex-direction: row; justify-content: space-between;align-items: center">
                    <button (click)="changeSummaryList('positive')" mat-raised-button
                        style="margin-right: 5px;background-color: white;">Positive</button>
                    <button (click)="changeSummaryList('neutral')" mat-raised-button
                        style="margin-right: 5px; background-color: white;" color="primary">Neutral</button>
                    <button (click)="changeSummaryList('negative')" mat-raised-button
                        style="margin-right: 5px; background-color: white;">Negative</button>

                </div>
                <div style="display: flex; flex-direction: row; justify-content: space-between;align-items: center">
                    <button (click)="changeSummaryList('newNames')" mat-raised-button
                        style="margin-right: 5px;background-color: white;color:black">New
                        Names</button>
                    <button (click)="changeSummaryList('chart')" mat-mini-fab
                        style="margin-right: 5px;background-color: white;color:black;outline: none;">
                        <mat-icon>leaderboard</mat-icon>
                    </button>
                </div>
            </div>

            <div class="summaryMainContent">

                <div *ngIf="summaryPositive" class="summaryPostives">
                    <div class="summaryListDisplay" style="background-color: green; color: white;">
                        <div *ngFor="let item of fonts">{{item}}</div>
                        <div *ngFor="let item of fonts">{{item}}</div>
                    </div>
                </div>
                <div *ngIf="summaryNeutral" class="summaryPostives">
                    <div class="summaryListDisplay" style="background-color: orange; color: white;">
                        <div *ngFor="let item of fonts">{{item}}</div>
                        <div *ngFor="let item of fonts">{{item}}</div>
                    </div>
                </div>
                <div *ngIf="summaryNegative" class="summaryNegative">
                    <div class="summaryListDisplay" style="background-color: red; color: white;">
                        <div *ngFor="let item of fonts">{{item}}</div>
                        <div *ngFor="let item of fonts">{{item}}</div>
                    </div>
                </div>
                <div *ngIf="summaryNewNames" class="summaryNew_names">
                    <div class="summaryListDisplay" style="background-color: purple; color: white;">
                        <div *ngFor="let item of fonts">{{item}}</div>
                        <div *ngFor="let item of fonts">{{item}}</div>
                    </div>
                </div>
            </div>
            <div *ngIf="summaryChart" class="summaryChart">
                <div style="display: flex;flex-direction: column;align-items: center;justify-content: center;">CHART
                    HERE</div>
            </div>

            <div style="position: fixed;bottom: 0px;">

                <div class="summaryTextarea">
                    <mat-form-field style="margin-left:20px; width: 800px;margin-right: 10px;" appearance="outline">
                        <mat-label>Additional comments</mat-label>
                        <input type="text" matInput placeholder="Additional comments">
                    </mat-form-field>

                    <button class="summaryTextAreaButton" mat-raised-button>Save</button>
                </div>

            </div>
        </div>

        <!-- SINGLE NAME -->
        <div *ngIf="(slideType === 'NameEvaluation')">
            <div class="singleNameSlide">

                <div class="nameContainer">
                    <div [style.font-family]="font1" [style.font-size]="'30px'" class="item1">{{category}}</div>
                    <div class="testName" [style.font-family]="font2" Comirnaty
                        [style.font-size]="(font2==='coture')?'117px':'190px'" [innerHTML]="testName">

                    </div>
                    <div [style.font-family]="font3" [style.font-size]="'30px'" class="pronounciation">comir-nati</div>
                    <div [style.font-family]="font4" [style.font-size]="'35px'" class="rationale">RNA (mRNA) a protein
                        from
                        SARS-CoV-2
                    </div>
                </div>



                <!--VOTE EMOJI BUTTONS -->
                <div class="voteIcons">


                    <!-- POSITIVE BUTTON -->
                    <button *ngIf="positiveChecked" class="voteIconButton" (click)="selectedOpt('positive');"
                        mat-icon-button matTooltip="" matTooltipPosition="above">
                        <mat-icon>sentiment_very_satisfied</mat-icon>
                    </button>
                    <button *ngIf="!positiveChecked" class="voteIconButtonGreen" (click)="selectedOpt('positive');"
                        mat-icon-button matTooltip="" matTooltipPosition="above">
                        <mat-icon>sentiment_very_satisfied</mat-icon>
                    </button>

                    <!-- NEUTRAL BUTTON -->
                    <button *ngIf="neutralChecked" class="voteIconButton" (click)="selectedOpt('neutral');"
                        mat-icon-button matTooltip="" matTooltipPosition="above">
                        <mat-icon>sentiment_neutral</mat-icon>
                    </button>
                    <button *ngIf="!neutralChecked" class="voteIconButton" (click)="selectedOpt('neutral');"
                        mat-icon-button matTooltip="" matTooltipPosition="above">
                        <mat-icon>sentiment_neutral</mat-icon>
                    </button>

                    <!-- NEGATIVE BUTTON -->
                    <button *ngIf="negativeChecked" class="voteIconButton" (click)="selectedOpt('negative');"
                        mat-icon-button matTooltip="" matTooltipPosition="above">
                        <mat-icon>sentiment_very_dissatisfied</mat-icon>
                    </button>
                    <button *ngIf="!negativeChecked" class="voteIconButton" (click)="selectedOpt('negative');"
                        mat-icon-button matTooltip="" matTooltipPosition="above">
                        <mat-icon>sentiment_very_dissatisfied</mat-icon>
                    </button>

                    <!-- RECRAFT BUTTON -->
                    <button *ngIf="recraftChecked" class="voteIconButton" (click)="selectedOpt('recraft');"
                        mat-icon-button matTooltip="" matTooltipPosition="above">
                        <mat-icon>sync</mat-icon>
                    </button>
                    <button *ngIf="!recraftChecked" class="voteIconButton" (click)="selectedOpt('recraft');"
                        mat-icon-button matTooltip="" matTooltipPosition="above">
                        <mat-icon>sync</mat-icon>
                    </button>

                </div>

            </div>



            <!-- VOTERS LIST WINDOWS  NO IMPLEMENTED YET-->
            <div *ngIf="false" class="voteOverview">

                <button class="voteOverviewBox" matTooltip="Positive" matTooltipPosition="above">

                </button>
                <button class="voteOverviewBox" matTooltip="Positive" matTooltipPosition="above">

                </button>
                <button class="voteOverviewBox" matTooltip="Positive" matTooltipPosition="above">

                </button>
                <button class="voteOverviewBox" matTooltip="Positive" matTooltipPosition="above">

                </button>

            </div>


            <!-- BI BRAND GO VOTE BUTTON -->
            <div class="smartRadialButton">

                <button [ngClass]="(isGoVoteOn)?'GO':'GO_Off'" mat-icon-button (click)="goVote()">
                    BI
                </button>


                <!-- COMMENT AND NEW NAMES TEXTAREAS -->
                <div class="textareas">
                    <mat-form-field fxFlex="50" id="newNameFormField" appearance=""
                        style="max-width: 45%; padding: 15px 20px;">
                        <input #txtNewName matInput placeholder="" style="font-size: 30px;text-align: center;">
                    </mat-form-field>
                    <mat-label class="newNamesLabel" style="color: darkblue;">new names</mat-label>
                    <mat-form-field fxFlex="50" id="commentsFormField" appearance=""
                        style="max-width: 45%; padding: 15px 20px;">
                        <input #txtComments matInput placeholder="" style="font-size: 30px;text-align: center;">
                    </mat-form-field>
                    <mat-label class="commentsLabel" style="color: darkblue;">comments</mat-label>
                </div>


            </div>

        </div>

        <!--💔 END OF TEMPLATES FOR SLIDES , GROUP NAMES, SINGLE NAME, IMAGE SLIDE -->
        
    </div>




    <!--RIGHT SIDE TOOL BAR MENU -->
    <div *ngIf="!mainMenu" class="corner_bar_menu">
        <button *ngIf="false" matTooltip="new post it" matTooltipPosition="above" mat-icon-button color="warn"
            aria-label="aria">
            <mat-icon class="full-icon">note_add</mat-icon>
        </button>
        <!-- <button *ngIf="true" mat-icon-button matTooltip="vote" matTooltipPosition="above" mat-icon-button
        style="border-radius: 50%; border: 2px solid grey;outline: none;" aria-label="aria">
        GO
    </button> -->
        <!-- <button mat-icon-button aria-label="Proprietary" style="width: 200px;">
      Proprietary & Confidential
    </button> -->
        <button (click)="toogleMenu()" matTooltip="" matTooltipPosition="above" mat-icon-button color="warn"
            aria-label="aria">
            <mat-icon class="full-icon">menu</mat-icon>
        </button>
        <!-- <button class="goButton" *ngIf="true" mat-icon-button matTooltip="vote" matTooltipPosition="above" mat-icon-button
        aria-label="aria">
        GO
    </button> -->
    </div>

    <div *ngIf="mainMenu" class="corner_bar_menu">
        <button mat-icon-button matTooltip="home" matTooltipPosition="left">
            <mat-icon class="full-icon">home</mat-icon>
        </button>
        <button (click)="openFullscreen()" matTooltip="full-screen" matTooltipPosition="left" mat-icon-button
            color="warn" aria-label="aria">
            <mat-icon class="full-icon">aspect_ratio</mat-icon>
        </button>
        <button (click)="isTableOfContent = !isTableOfContent" matTooltip="search" matTooltipPosition="left"
            mat-icon-button color="warn" aria-label="aria">
            <mat-icon class="full-icon">search</mat-icon>
        </button>
        <button *ngIf="!true" mat-icon-button matTooltip="slide comments" matTooltipPosition="left">
            <mat-icon class="full-icon">comment</mat-icon>
        </button>
        <button *ngIf="!false" matTooltip="qr code" matTooltipPosition="left" mat-icon-button aria-label="aria">
            <mat-icon class="full-icon">qr_code</mat-icon>
        </button>
        <button matTooltip="mobile app" matTooltipPosition="left" mat-icon-button color="red">
            <mat-icon class="full-icon">phone_iphone</mat-icon>
        </button>
        <button *ngIf="true" mat-icon-button matTooltip="names box" matTooltipPosition="left">
            <mat-icon class="full-icon">where_to_vote</mat-icon>
        </button>
        <button *ngIf="true" matTooltip="stats" matTooltipPosition="left" mat-icon-button aria-label="aria">
            <mat-icon class="full-icon">bar_chart</mat-icon>
        </button>
        <button *ngIf="true" matTooltip="font size" matTooltipPosition="left" mat-icon-button aria-label="aria">
            <mat-icon class="full-icon">font_download</mat-icon>
            <mat-slider #slider *ngIf="false" class="slider-font-size" thumbLabel tickInterval="2" min="20" max="38"
                [value]="28"></mat-slider>
        </button>
        <button (click)="fontTheme()" *ngIf="true" mat-icon-button matTooltip="toggle theme" matTooltipPosition="left">
            <mat-icon class="full-icon">casino</mat-icon>
        </button>
        <button (click)="isSettings = !isSettings" *ngIf="true" mat-icon-button matTooltip="settings"
            matTooltipPosition="left">
            <mat-icon class="full-icon">settings</mat-icon>
        </button>
        <button *ngIf="true" mat-icon-button matTooltip="help" matTooltipPosition="left">
            <mat-icon class="full-icon">help</mat-icon>
        </button>
        <button disabled mat-icon-button aria-label="page"
            style="font-size: 23px;color: grey !important;cursor: pointer;">
            {{'1/60'}}
        </button>
        <button (click)="mainMenu = false" matTooltip="hide menu" matTooltipPosition="left" mat-icon-button color="warn"
            aria-label="aria">
            <mat-icon class="full-icon">keyboard_arrow_down</mat-icon>
        </button>
        <!-- <button class="goButton" *ngIf="true" mat-icon-button matTooltip="vote" matTooltipPosition="left"
            mat-icon-button aria-label="aria">
            GO
        </button> -->
    </div>

</div>