@mixin BoxShadow($dp) {
    @if $dp==0 {
        box-shadow: none;
    } @else if $dp==1 {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    } @else if $dp==2 {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    } @else if $dp==3 {
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    } @else if $dp==4 {
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    } @else if $dp==6 {
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
            0 3px 5px -1px rgba(0, 0, 0, 0.2);
    } @else if $dp==8 {
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12),
            0 5px 5px -3px rgba(0, 0, 0, 0.2);
    } @else if $dp==9 {
        box-shadow: 0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12),
            0 5px 6px -3px rgba(0, 0, 0, 0.2);
    } @else if $dp==12 {
        box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12),
            0 7px 8px -4px rgba(0, 0, 0, 0.2);
    } @else if $dp==16 {
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12),
            0 8px 10px -5px rgba(0, 0, 0, 0.2);
    } @else if $dp==24 {
        box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12),
            0 11px 15px -7px rgba(0, 0, 0, 0.2);
    }
}

.mainContainerPresent {
    background-color: white;
    border: solid 5px darkgray;
    width: 948px;
    height: 714px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -53%);
    transform: translate(-50%, -53%);
    border-radius: 3px;
    // background-image: url("http://bipresents.com/nw2/nw_slides/Test_WELL_PLATFORM/thumbnails/014.jpg");

    // @include BoxShadow(6);

    .nameContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        width: 948px;
        height: 525px;
    }

    .item1 {
        // font-size: 30px;
        margin-bottom: 161px;
        margin-top: -15px;
        text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
        box-shadow: inset inset 0px 0px 5px #c1c1c1;
    }
    .testName {
        // font-size: 140px;
        margin-top: -138px;
        color: darkblue;
        text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
        box-shadow: inset inset 0px 0px 5px #c1c1c1;
    }
    .pronounciation {
        // font-size: 30px;
        text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
        box-shadow: inset inset 0px 0px 5px #c1c1c1;
    }
    .rationale {
        // font-size: 35px;
        text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
        box-shadow: inset inset 0px 0px 5px #c1c1c1;
    }
}

.groupName {
    background-color: lightcoral;
    border: solid 5px #2b3080;
    width: 948px;
    height: 714px;
    margin: 0;
    position: absolute;
    top: 53%;
    left: 50%;
    -ms-transform: translate(-50%, -53%);
    transform: translate(-50%, -53%);
    border-radius: 3px;
    // background-image: url("http://bipresents.com/nw2/nw_slides/Test_WELL_PLATFORM/thumbnails/014.jpg");
    @include BoxShadow(6);
}
.imagePresentar {
    border: solid 5px darkgrey;
    width: 948px;
    height: 714px;
    margin: 0;
    position: absolute;
    top: 53%;
    left: 50%;
    -ms-transform: translate(-50%, -53%);
    transform: translate(-50%, -53%);
    border-radius: 3px;
    @include BoxShadow(6);
}

.corner_bar_menu {
    position: absolute;
    right: 30px;
    bottom: 30px;
    outline: none;
    z-index: 9999;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    
}

.full-icon:hover {
    transform: scale(2);
    color: darkblue;
}
.full-icon {
    color: grey;
    font-size: 20px;
    transition: all 0.1s ease-in-out;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    box-shadow: inset inset 0px 0px 5px #c1c1c1;
}

.menu-left-icon {
    position: absolute;
    right: -50px;
    top: 45%;
    outline: none;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    box-shadow: inset inset 0px 0px 5px #c1c1c1;
}

.menu-right-icon {
    position: absolute;
    left: -50px;
    top: 45%;
    outline: none;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    box-shadow: inset inset 0px 0px 5px #c1c1c1;
}

.tableOfContent {
    position: absolute;
    left: -311px;
    top: -15px;
    width: 260px;
    height: 714px;
    margin: 10px;
    border: solid 3px darkblue;
    overflow: hidden;
    animation: bounceInLeft 1000ms ease-out 1ms forwards 1, fadeIn 1000ms ease-out 1ms forwards 1;
    transform: translate(-500px, 0px);
    @include BoxShadow(6);
}

.settingsBox {
    position: absolute;
    right: -316px;
    top: -14px;
    width: 260px;
    height: 714px;
    margin: 10px;
    border: solid 3px darkblue;
    overflow: hidden;
    animation: fadeIn;
    // transform: translate(0px, 100px);
    @include BoxShadow(6);
}

.voteIcons {
    position: absolute;
    left: 120px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 688px;
    height: 85px;
    outline: none;
}

.voteIconButton {
    color: darkblue;
    outline: none;
    width: 30px;
    height: 30px;
    line-height: 20px;
}

.voteIconButtonGreen {
    color: green;
    outline: none;
    width: 30px;
    height: 30px;
    line-height: 20px;
    @include BoxShadow(6);
    
}

.voteIconButtonGreen:hover {
    color: green;
    transition: all 2ms ease-in-out;
    position: relative;
    top: -2px;
    transform: scale(1.2);
    @include BoxShadow(6);
    
}

.voteOverview {
    position: absolute;
    left: 147px;
    bottom: 115px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 688px;
    outline: none;
}

.voteOverviewBox {
    border: darkblue 1px solid;
    width: 100px;
    height: 200px;
}

.fisheye {
    //  DEPRECATED
    position: absolute;
    right: 485px;
    bottom: 16px;
    outline: none;
    font-size: 81px;
    display: inline;
    color: red;
    z-index: 1;
    transform-origin: 50px 50px;
    transition: all 30s ease-in-out;
    animation: heartBeat 10000ms ease-in-out 100ms infinite, fadeOut 10000ms ease-in-out 100ms infinite;
}

.GO {   
    width: 70px;
    height: 70px;
    border: 5px solid darkblue;
    position: absolute;
    right: 434px;
    bottom: -35px;
    outline: none;
    font-size: 45px;
    line-height: 31px;
    background-color: white;
    color: darkblue;
    font-family: auto;
    z-index: 2;
    animation: heartBeat 10000ms ease-in-out 1ms forwards;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    box-shadow: inset inset 0px 0px 5px #c1c1c1;
    @include BoxShadow(6);
}

.GO_Off:hover {
    transform: scale(1.2);
}

.GO_Off {
    width: 70px;
    height: 70px;
    border: 5px solid white;
    position: absolute;
    right: 434px;
    bottom: -35px;
    outline: none;
    font-size: 45px;
    line-height: 30px;
    background-color: darkblue;
    color: white;
    font-family: auto;
    z-index: 2;
    transition: all 100ms ease-in-out;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    box-shadow: inset inset 0px 0px 5px #c1c1c1;
    @include BoxShadow(6);
    // animation: heartBeat 10000ms ease-in-out 20ms infinite;
}
.G1 {
    @include BoxShadow(6);
    width: 35px;
    height: 35px;
    border: 3px solid darkblue;
    position: absolute;
    right: 511px;
    bottom: -19px;
    outline: none;
    font-size: 23px;
    line-height: 10px;
    background-color: white;
    color: darkblue;
    font-family: auto;
}
.G2 {
    @include BoxShadow(6);
    width: 35px;
    height: 35px;
    border: 3px solid darkblue;
    position: absolute;
    right: 401px;
    bottom: -69px;
    outline: none;
    font-size: 23px;
    line-height: 10px;
    background-color: white;
    color: darkblue;
    font-family: auto;
}
.G3 {
    @include BoxShadow(6);
    width: 35px;
    height: 35px;
    border: 3px solid darkblue;
    position: absolute;
    right: 480px;
    bottom: -69px;
    outline: none;
    font-size: 23px;
    line-height: 10px;
    background-color: white;
    color: darkblue;
    font-family: auto;
}
.G4 {
    @include BoxShadow(6);
    width: 35px;
    height: 35px;
    border: 3px solid darkblue;
    position: absolute;
    right: 374px;
    bottom: -19px;
    outline: none;
    font-size: 23px;
    line-height: 10px;
    background-color: white;
    color: darkblue;
    font-family: auto;
}

$voteIconsColor: #008d05, #f2ce00, #f50c0c, #4c00ff, #4c00ff;
@for $i from 1 through 5 {
    .voteIconButton:nth-child(#{$i}) {
        // color: nth($voteIconsColor, $i);
        animation: fadeIn 0.2s ease-in-out backwards;
        animation-iteration-count: 1;
        animation-delay: $i * 0.15 + s;
        @include BoxShadow(6);
    }

    .voteIconButton:hover:nth-child(#{$i}) {
        color: nth($voteIconsColor, $i);
        transition: all 2ms ease-in-out;
        position: relative;
        top: -2px;
        transform: scale(1.2);
        background: white;
    }

    .voteOverviewBox:nth-child(#{$i}) {
        // color: nth($voteIconsColor, $i);
        animation: fadeIn 0.2s ease-in-out backwards;
        animation-iteration-count: 1;
        animation-delay: $i * 0.15 + s;
    }

    .GG:nth-child(#{$i}) {
        // color: nth($voteIconsColor, $i);
        animation: fadeIn 0.2s ease-in-out backwards;
        animation-iteration-count: 1;
        animation-delay: $i * 0.15 + s;
        text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
        box-shadow: inset inset 0px 0px 5px #c1c1c1;
    }

    .GGOut:nth-child(#{$i}) {
        animation: fadeOut 0.2s ease-in-out backwards;
        animation-iteration-count: 1;
        animation-delay: $i * 0.15 + s;
    }

    .GG:hover:nth-child(#{$i}) {
        transform: scale(1.2);
        background: white;
    }
}

.goButton {
    border-radius: 11px;
    border: 5px solid black;
    outline: none;
    line-height: 30px;
    color: white;
    background-color: red;
}

.newNamesBox {
    overflow: auto;
    resize: vertical;
    width: 460px;
    height: 100px;
    position: absolute;
    left: 0px;
    bottom: 18px;
    font-size: 50px;
    text-align: center;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    box-shadow: inset inset 0px 0px 5px #c1c1c1;
}

.commentsBox {
    overflow: auto;
    resize: vertical;
    width: 460px;
    height: 100px;
    position: absolute;
    right: 0px;
    bottom: 18px;
    font-size: 50px;
}

.textareas {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    position: relative;
    bottom: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
    .commentsLabel {
        position: absolute;
        bottom: 0px;
        right: 200px;
        text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
        box-shadow: inset inset 0px 0px 5px #c1c1c1;
    }
    .newNamesLabel {
        position: absolute;
        bottom: 0px;
        left: 200px;
        text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
        box-shadow: inset inset 0px 0px 5px #c1c1c1;
    }
}

::ng-deep .mat-tooltip {
    font-size: 24px;
    position: absolute;
    left: -2px;
    top: -30px;
    width: max-content;
    text-align: center;
}

// theme

// $postItHeaderColorsLength: length($postItHeaderColors2);
// .voteIcons {
//     @for $i from 1 through 4 {
//         &:nth-of-type(#{$postItHeaderColorsLength}n + #{$i}) .voteIconButton {
//             color: nth($postItHeaderColors2, $i);
//             // color: darkblue;
//             // animation: nth($postItanimations, $i) 0.2s;
//             animation: fadeIn 0.2s ease-in-out backwards;
//             animation-iteration-count: 1;
//             animation-delay: $i * 0.15 + s;
//         }

//         &:nth-of-type(#{$postItHeaderColorsLength}n + #{$i}) .voteIconButton:hover {
//             transform: scale(2.1);
//             color: green;
//             transform: rotate(2deg);
//             position: relative;
//             top: -2px;
//             background: white;
//             // animation: nth($postItanimations, $i) 1s;
//         }
//     }
// }
