<div (click)="noClickanyWhere()" class="page">


    <div class="mainContainerPresent mat-elevation-z8" [style.background-image]="slideNameBackground">




        <!-- <div class="mainContainerPresent mat-elevation-z8" > -->
        <mat-progress-bar mode="determinate" [value]="currentProgress" color="warn" style="z-index: 99999;height: 3px;">
        </mat-progress-bar>

        <!-- TABLE OF CONTENT  -->
        <div *ngIf="isTableOfContent" class="tableOfContent">
            <div>Table Of Content</div>
            <div
                *ngFor="let item of [1,2,3,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,41,2,3,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4]">
                {{item}}
            </div>
        </div>

        <!-- SETTINGS BOX -->
        <!-- <div *ngIf="isSettings" class="settingsBox"> -->
        <div *ngIf="isSettings" class="settingsBox">

            <div>Settings</div>

            <div class="label" style="width: 250px; text-align: center;">font size</div>

            <input type="range" style="    margin: 20px;width: 200px;" class="settingsSlide"
                (change)="setFontSize(groupTestNameFontSize)" [(ngModel)]="groupTestNameFontSize"
                class="slider-font-size" tickInterval="1" min="1" max="200" [value]="groupTestNameFontSize">

            <div class="label" style="width: 250px; text-align: center;">page columns</div>

            <input type="range" style="margin: 20px;width: 200px;" class="settingsSlide"
                (change)="setGroupSlideHeight(groupSlideHeihtValue)" [(ngModel)]="groupSlideHeihtValue" tickInterval="1"
                min="1200" max="10000" [value]="groupSlideHeihtValue">

            <div class="label" style="width: 250px; text-align: center;">line-height</div>

            <input type="range" style="margin: 20px;width: 200px;" class="settingsSlide"
                (change)="setGroupSlidelineHeight(groupSlidelineHeightValue)" [(ngModel)]="groupSlidelineHeightValue"
                tickInterval="1" min="1" max="100" [value]="groupSlidelineHeightValue">

            <!-- <div class="label" style="width: 250px; text-align: center;">card width</div>

            <input type="range" style="margin: 20px;width: 200px;" class="settingsSlide"
                (change)="setCardWidth(cardWidthValue)" [(ngModel)]="cardWidthValue" tickInterval="1" min="1" max="100"
                [value]="cardWidthValue"> -->

        </div>


        <!-- <div *ngIf="true" class="settingsBox">
            <div>Table Of Content</div>
            <mat-slider  (change)="setFontSize()" [(ngModel)]="groupTestNameFontSize"
        class="slider-font-size" thumbLabel tickInterval="1" min="20" max="38" [value]="groupTestNameFontSize"></mat-slider>
        </div> -->


        <!-- LEFT & RIGHT ICONS -->
        <button (click)="moveRight()" class="menu-left-icon" mat-icon-button>
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>

        <button (click)="moveLeft1()" class="menu-right-icon" mat-icon-button>
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>



        <!--❤️ TEMPLATES FOR SLIDES , GROUP NAMES, SINGLE NAME, IMAGE SLIDE ❤️-->

        <!-- IMAGE SLIDE  -->
        <div *ngIf="(slideType === 'Image')" class="imagePresentar" [style.background]="slideBackground"></div>
        <!-- {{slideBackground}} -->

        <!-- SUMMARY SLIDE -->
        <div *ngIf="(slideType === 'NameSummary')" class="summaryPresentar summary">

            <div class="summaryLabel">Summary</div>

            <div class="summaryButtons">
                <div style="display: flex; flex-direction: row; justify-content: space-between;align-items: center">
                    <button (click)="changeSummaryList('Positive')" mat-raised-button
                        style="margin-right: 5px;background-color: white;">Positive</button>
                    <button (click)="changeSummaryList('Neutral')" mat-raised-button
                        style="margin-right: 5px; background-color: white;" color="primary">Neutral</button>
                    <button (click)="changeSummaryList('Negative')" mat-raised-button
                        style="margin-right: 5px; background-color: white;">Negative</button>

                </div>
                <div style="display: flex; flex-direction: row; justify-content: space-between;align-items: center">
                    <button (click)="changeSummaryList('new names')" mat-raised-button
                        style="margin-right: 5px;background-color: white;color:black">New
                        Names</button>
                    <button (click)="changeSummaryList('chart')" mat-mini-fab
                        style="margin-right: 5px;background-color: white;color:black;outline: none;">
                        <mat-icon>leaderboard</mat-icon>
                    </button>
                </div>
            </div>

            <div class="summaryMainContent">

                <div *ngIf="summaryPositive" class="summaryPostives">
                    <div  class="summaryListDisplay" style="background-color: green; color: white;">
                        <div   (click)="clickedSummaryName(item.NameToDisplay, item.Name)" *ngFor="let item of totalNewNames2[0]">{{item.Name}}</div>
                        <!-- <div *ngFor="let item of fonts">{{item}}</div> -->
                    </div>
                </div>
                <div *ngIf="summaryNeutral" class="summaryPostives">
                    <div  class="summaryListDisplay" style="background-color: orange; color: white;">
                        <div  (click)="clickedSummaryName(item.NameToDisplay, item.Name)"  *ngFor="let item of totalNewNames2[0]">{{item.Name}}</div>
                        <!-- <div *ngFor="let item of fonts">{{item}}</div> -->
                    </div>
                </div>
                <div *ngIf="summaryNegative" class="summaryNegative">
                    <div  class="summaryListDisplay" style="background-color: red; color: white;">
                        <div  (click)="clickedSummaryName(item.NameToDisplay, item.Name)"  *ngFor="let item of totalNewNames2[0]">{{item.Name}}</div>
                        <!-- <div *ngFor="let item of fonts">{{item}}</div> -->
                    </div>
                </div>
                <div *ngIf="summaryNewNames" class="summaryNew_names">
                    <div  class="summaryListDisplay" style="background-color: purple; color: white;">
                        <div  (click)="clickedSummaryName(item.NameToDisplay, item.Name)"  *ngFor="let item of totalNewNames2[0]">{{item.NameToDisplay}}</div>
                        <!-- <div *ngFor="let item of fonts">{{item}}</div> -->
                    </div>
                </div>
            </div>
            <div *ngIf="summaryChart" class="summaryChart" style="display: flex;flex-direction: column;     align-items: center;">

                <!-- <div echarts [options]="chartOption" (chartClick)="onChartClick($event)"></div> -->
                <ngx-charts-bar-vertical [hidden]="showRankedNames" [view]="chartDimension" [customColors]="colorScheme"
                    [results]="pieChart" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
                    [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onChartClick($event)">
                </ngx-charts-bar-vertical>

            </div>

            <div style="position: fixed;bottom: 0px;">

                <div class="summaryTextarea">
                    <mat-form-field style="margin-left:20px; width: 800px;margin-right: 10px;" appearance="outline">
                        <mat-label>Additional comments</mat-label>
                        <input type="text" matInput placeholder="Additional comments">
                    </mat-form-field>

                    <button class="summaryTextAreaButton" mat-raised-button>Save</button>
                </div>

            </div>
        </div>

        <!-- SINGLE NAME -->
        <div *ngIf="(slideType === 'NameEvaluation')">
            <div class="singleNameSlide">

                <div class="nameContainer">
                    <div [style.font-family]="font1" [style.font-size]="'30px'" class="item1">{{category}}</div>
                    <div class="testName" [style.font-family]="font2" Comirnaty
                        [style.font-size]="(font2==='coture')?'117px':'190px'" [innerHTML]="testName">

                    </div>
                    <!-- <div [style.font-family]="font3" [style.font-size]="'30px'" class="pronounciation">comir-nati</div> -->
                    <div [style.font-family]="font4" [style.font-size]="'35px'"
                        style="text-align: center;line-height: 40px;" class="rationale">{{rationale}}
                    </div>
                </div>


                <!--VOTE EMOJI BUTTONS 👽-->
                <div class="voteIcons">


                    <!-- POSITIVE BUTTON  -->
                    <div>
                        <button *ngIf="displayPositiveBox && (nwPositiveVoteUsers.length > 0)"
                            (mouseleave)="displayPositiveBox = false" class="voteOverviewBox positiveUserList">
                            <div class="listAlign">
                                <span *ngFor="let item of nwPositiveVoteUsers">{{item}}</span>
                            </div>
                        </button>
                        <div (mouseenter)="displayOverviewBox('positiveBox')">
                            <button *ngIf="positiveChecked" [matBadge]="positiveUsersVote" class="voteIconButtonGreen"
                                (click)="selectedOpt('Positive');" mat-icon-button>
                                <mat-icon>sentiment_very_satisfied</mat-icon>
                            </button>
                            <button *ngIf="!positiveChecked" [matBadge]="positiveUsersVote"
                                class="voteIconButton voteIconButton1" (click)="selectedOpt('Positive');"
                                mat-icon-button>
                                <mat-icon>sentiment_very_satisfied</mat-icon>
                            </button>
                        </div>
                    </div>
                    <!-- NEUTRAL BUTTON -->
                    <div>
                        <button *ngIf="displayNeutralbox && (nwNeutralVoteUsers.length > 0)"
                            (mouseleave)="displayNeutralbox = false" class="voteOverviewBox neutralUserList">
                            <div class="listAlign">
                                <span *ngFor="let item of nwNeutralVoteUsers">{{item}}</span>
                            </div>
                        </button>
                        <div (mouseenter)="displayOverviewBox('neutralBox')">
                            <button *ngIf="neutralChecked" [matBadge]="NeutralUsersVote" class="voteIconButtonYellow"
                                (click)="selectedOpt('Neutral');" mat-icon-button>
                                <mat-icon>sentiment_neutral</mat-icon>
                            </button>
                            <button *ngIf="!neutralChecked" [matBadge]="NeutralUsersVote"
                                class="voteIconButton voteIconButton2" (click)="selectedOpt('Neutral');"
                                mat-icon-button>
                                <mat-icon>sentiment_neutral</mat-icon>
                            </button>
                        </div>
                    </div>
                    <!-- NEGATIVE BUTTON -->
                    <div>
                        <button *ngIf="displayNegativeBox && (nwNegativeVoteUsers.length > 0)"
                            (mouseleave)="displayNegativeBox = false" class="voteOverviewBox negativeUsersList">
                            <div class="listAlign">
                                <span *ngFor="let item of nwNegativeVoteUsers">{{item}}</span>
                            </div>
                        </button>
                        <div (mouseenter)="displayOverviewBox('negativeBox')">
                            <button *ngIf="negativeChecked" [matBadge]="NegativeUsersVote" class="voteIconButtonRed"
                                (click)="selectedOpt('Negative');" mat-icon-button>
                                <mat-icon>sentiment_very_dissatisfied</mat-icon>
                            </button>
                            <button *ngIf="!negativeChecked" [matBadge]="NegativeUsersVote"
                                class="voteIconButton voteIconButton3" (click)="selectedOpt('Negative');"
                                mat-icon-button>
                                <mat-icon>sentiment_very_dissatisfied</mat-icon>
                            </button>
                        </div>
                    </div>
                    <!-- RECRAFT BUTTON -->
                    <div>
                        <button *ngIf="displayAllUsersBox && (HEROES.length > 0) "
                            (mouseleave)="displayAllUsersBox = false" class="voteOverviewBox allUsersList">
                            <div class="listAlign">
                                <span style="display: flex; flex-direction: row;"
                                    *ngFor="let item of HEROES; let i = index">
                                    <mat-icon (click)="deleteVoteUser(i)"
                                        style="position: relative;top: 8px;font-size: xx-small; ">cancel</mat-icon>
                                    {{item.name}}
                                </span>
                            </div>
                        </button>
                        <div (mouseenter)="displayOverviewBox('allUsersBox')">
                            <button *ngIf="recraftChecked" [matBadge]="allVoters" class="voteIconButtonPurple"
                                (click)="recraft();" mat-icon-button>
                                <mat-icon>sync</mat-icon>
                            </button>
                            <button *ngIf="!recraftChecked" [matBadge]="allVoters"
                                class="voteIconButton voteIconButton4" (click)="recraft();"
                                mat-icon-button>
                                <mat-icon>sync</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>

            </div>


            <!-- BI BRAND GO VOTE BUTTON 🎃-->
            <div class="smartRadialButton">

                <button [ngClass]="(isGoVoteOn)?'GO':'GO_Off'" mat-icon-button (click)="goVote()">
                    BI
                </button>
                <button *ngIf="displayTallyButtons" class="neutralBadgeTally GG" [matBadge]="totalPositive"
                    mat-icon-button (click)="setAllNamesIcon('thumb_down_off_alt', 'purple')">
                    N
                </button>
                <button *ngIf="displayTallyButtons" class="positiveBadgeTally GG" [matBadge]="totalNeutral"
                    mat-icon-button (click)="setAllNamesIcon('sentiment_very_satisfied', 'yellow')">
                    P
                </button>



                <!-- COMMENT AND NEW NAMES TEXTAREAS -->
                <div class="textareas">
                    <mat-form-field fxFlex="50" id="newNameFormField" appearance=""
                        style="max-width: 45%; padding: 15px 20px;">
                        <input #txtNewName matInput placeholder="" [(ngModel)]="newNames"
                            style="font-size: 30px;text-align: center;">
                    </mat-form-field>
                    <mat-label class="newNamesLabel" style="color: darkblue;">new names</mat-label>
                    <mat-form-field fxFlex="50" id="commentsFormField" appearance=""
                        style="max-width: 45%; padding: 15px 20px;">
                        <input #txtComments matInput placeholder="" [(ngModel)]="newComments"
                            style="font-size: 30px;text-align: center;">
                    </mat-form-field>
                    <mat-label class="commentsLabel" style="color: darkblue;">comments</mat-label>
                </div>


            </div>

        </div>

        <!-- MULTIPLE NAME -->

        <div *ngIf="(slideType === 'MultipleNameEvaluation')">

            <div [style.font-family]="font1" [style.font-size]="'30px'" style="margin: 20px;margin-bottom: 30px;">
                {{category}}</div>

            <div class="subMainContainer">

                <div class="groupSlideContent" [style.height]="groupSlideHeihtValue + 'px'"
                    [style.line-height]="groupSlidelineHeightValue + 'px'">

                    <div class="rankingBox" style="display: flex; flex-direction: row; "
                        *ngFor="let separateName of groupName; let i = index;">

                        <!-- 😀 RANK ICON-->
                        <button disableRipple style="margin: 18px 0px 0px -17px;position: absolute;outline: none;"
                            *ngIf="separateName.split('|')[0].length > 0" class="groupNameVoteItem" mat-icon-button
                            color="warn" aria-label="aria">
                            <mat-icon (click)="toggleRankIcon(rankIcon, i)" [style.color]="rankIcon[i].color"
                                class="voteIconRank">
                                <div [innerHTML]="rankIcon[i].icon"></div>
                            </mat-icon>
                        </button>

                        <div class="groupNameItemContainer" style="margin-left: 10px;padding-left: 20px;">
                            <!-- TEST 😱 NAME -->
                            <div *ngIf="i !== selectNameItemIndex" (click)="selectetdNameIndex(i, $event)"
                                [style.font-size]="groupTestNameFontSize + 'px'" class="groupNameItem"
                                [innerHTML]="separateName.split('|')[0]">
                                <!-- {{separateName.split('|')[0]}} -->
                            </div>
                            <!--NOTATION -->
                            <div *ngIf="i !== selectNameItemIndex" class="groupNameItemNotation"
                                [innerHTML]="separateName.split('|')[1]">
                                <!-- {{ separateName.split('|')[1]}} -->
                            </div>
                            <div class="groupNameIetmRationale" (mouseleave)="selectNameItemIndex = ''"
                                (click)="selectNameItemIndex = ''" *ngIf="i === selectNameItemIndex"
                                [style.left]="myleft" [style.top]="mytop"
                                [innerHTML]="groupRationale[i]">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- FAVORITE RANK ALL ICON -->
            <button [ngClass]="(isFavoriteOn)?'heart-favorite':'heart-favorite-Off'" mat-icon-button
                (click)="setAllNamesIcon('favorite', 'red')">
                <mat-icon class="heart-favorite-icon">favorite</mat-icon>
            </button>
            <button class="G1 GG" mat-icon-button (click)="setAllNamesIcon('sentiment_very_satisfied', 'yellow')">
                <mat-icon>sentiment_very_satisfied</mat-icon>
            </button>
            <button class="G4 GG" mat-icon-button (click)="setAllNamesIcon('thumb_down_off_alt', 'purple')">
                <mat-icon>thumb_down_off_alt</mat-icon>
            </button>
            

            <!-- <button class="G2 GG" mat-icon-button>
                    C
                </button>
        
                <button class="G3 GG" mat-icon-button >
                    P
                </button> -->
        </div>

        <!-- INFO SLIDE QR CODE -->
        <div *ngIf="(slideType === 'info')">

            SLIDE info
        </div>


        <!--💔 END OF TEMPLATES FOR SLIDES , GROUP NAMES, SINGLE NAME, IMAGE SLIDE 💔-->

    </div>

</div>



<!--RIGHT SIDE TOOL BAR MENU -->
<div *ngIf="!mainMenu" class="corner_bar_menu">
    <button *ngIf="false" matTooltip="new post it" matTooltipPosition="above" mat-icon-button color="warn"
        aria-label="aria">
        <mat-icon class="full-icon">note_add</mat-icon>
    </button>
    <!-- <button *ngIf="true" mat-icon-button matTooltip="vote" matTooltipPosition="above" mat-icon-button
        style="border-radius: 50%; border: 2px solid grey;outline: none;" aria-label="aria">
        GO
    </button> -->
    <!-- <button mat-icon-button aria-label="Proprietary" style="width: 200px;">
      Proprietary & Confidential
    </button> -->
    <button (click)="toogleMenu()" matTooltip="" matTooltipPosition="above" mat-icon-button color="warn"
        aria-label="aria">
        <mat-icon class="full-icon">menu</mat-icon>
    </button>
    <!-- <button class="goButton" *ngIf="true" mat-icon-button matTooltip="vote" matTooltipPosition="above" mat-icon-button
        aria-label="aria">
        GO
    </button> -->
</div>

<div *ngIf="mainMenu" class="corner_bar_menu">
    <button mat-icon-button matTooltip="home" matTooltipPosition="left">
        <mat-icon  (click)="selectPage('home')" class="full-icon">home</mat-icon>
    </button>
    <button (click)="openFullscreen()" matTooltip="full-screen" matTooltipPosition="left" mat-icon-button color="warn"
        aria-label="aria">
        <mat-icon class="full-icon">aspect_ratio</mat-icon>
    </button>
    <button (click)="isTableOfContent = !isTableOfContent" matTooltip="search" matTooltipPosition="left" mat-icon-button
        color="warn" aria-label="aria">
        <mat-icon class="full-icon">search</mat-icon>
    </button>
    <button *ngIf="!true" mat-icon-button matTooltip="slide comments" matTooltipPosition="left">
        <mat-icon class="full-icon">comment</mat-icon>
    </button>
    <button *ngIf="!false" (click)="displayQRCode()" matTooltip="qr code" matTooltipPosition="left" mat-icon-button
        aria-label="aria">
        <mat-icon class="full-icon">qr_code</mat-icon>
    </button>
    <button (click)="displayNameVoteInfo()" matTooltip="mobile app" matTooltipPosition="left" mat-icon-button
        color="red">
        <mat-icon class="full-icon">phone_iphone</mat-icon>
    </button>
    <button *ngIf="true" (click)="voteUserBadges()" mat-icon-button matTooltip="names box" matTooltipPosition="left">
        <mat-icon class="full-icon">where_to_vote</mat-icon>
    </button>
    <button *ngIf="true" (click)="displayTally()" mat-icon-button matTooltip="tally" matTooltipPosition="left">
        <mat-icon class="full-icon">T</mat-icon>
    </button>
    <button *ngIf="true" matTooltip="stats" matTooltipPosition="left" mat-icon-button aria-label="aria">
        <mat-icon class="full-icon">bar_chart</mat-icon>
    </button>
    <button *ngIf="true" matTooltip="font size" matTooltipPosition="left" mat-icon-button aria-label="aria">
        <mat-icon class="full-icon">font_download</mat-icon>
        <mat-slider #slider *ngIf="false" class="slider-font-size" thumbLabel tickInterval="2" min="20" max="38"
            [value]="28"></mat-slider>
    </button>
    <button (click)="fontTheme()" *ngIf="true" mat-icon-button matTooltip="toggle theme" matTooltipPosition="left">
        <mat-icon class="full-icon">casino</mat-icon>
    </button>
    <button (click)="isSettings = !isSettings" *ngIf="true" mat-icon-button matTooltip="settings"
        matTooltipPosition="left">
        <mat-icon class="full-icon">settings</mat-icon>
    </button>
    <button *ngIf="true" mat-icon-button matTooltip="help" matTooltipPosition="left">
        <mat-icon class="full-icon">help</mat-icon>
    </button>
    <button (click)="selectPage('summary')" mat-icon-button aria-label="page"
        style="font-size: 23px;color: grey !important;cursor: pointer;">
        {{pageNumber}}/{{passTotalPages}}
    </button>
    <button (click)="mainMenu = false" matTooltip="hide menu" matTooltipPosition="left" mat-icon-button color="warn"
        aria-label="aria">
        <mat-icon class="full-icon">keyboard_arrow_down</mat-icon>
    </button>
    <!-- <button class="goButton" *ngIf="true" mat-icon-button matTooltip="vote" matTooltipPosition="left"
            mat-icon-button aria-label="aria">
            GO
        </button> -->
</div>


<!-- QR CODE-->
<div (click)="noClickanyWhere()" *ngIf="isQRcode" class="qr_code">
    <p style="font-family: sans-serif;font-size: 28px;margin-top: 10px;">scan me</p>
    <qrcode [qrdata]="myAngularxQrCode" [width]="350" [errorCorrectionLevel]="'M'"></qrcode>
    <p><a style="color: black;" target="_blank">{{myAngularxQrCode}}</a></p>
</div>

<div (click)="noClickanyWhere()" *ngIf="displayNameVoteMobiile" class="info" style="display: flex; flex-direction: row;"
    class="qr_code">
    <div class="text-center flex">
        <p>1. Edit name suggestions (optional)</p>
        <img style=" width: 300px;" alt="Edit, Save and Delete" class="instruction-style"
            src="assets/img/nw3/NameVoteLogin.JPG">
    </div>
    <div class="text-center flex">
        <p>1. Edit name suggestions (optional)</p>
        <img style=" width: 300px;" alt="Edit, Save and Delete" class="instruction-style"
            src="assets/img/nw3/NameVoteNoName.JPG">
    </div>
    <div class="text-center flex">
        <p>1. Edit name suggestions (optional)</p>
        <img style=" width: 300px;" alt="Edit, Save and Delete" class="instruction-style"
            src="assets/img/nw3/NameVoteWithName.JPG">
    </div>
    <div class="text-center flex">
        <p>1. Edit name suggestions (optional)</p>
        <img style=" width: 300px;" alt="Edit, Save and Delete" class="instruction-style"
            src="assets/img/nw3/NameVoteWithNameOn.JPG">
    </div>
</div>