
.cancel {
    outline: none;
    position: absolute;
    margin: 10px;
    right: 0px;
    z-index: 999999;
    top: 0;
}

.edit-icon {
    color: #324395;
    position: absolute;
    margin: 33px 10px 33px 10px;
    right: 10px;
    z-index: 999999;
    top: 0;
}
.edit-icon-v2 {
    color: #324395;
    
    z-index: 999999;
    
}
.only-save-div{
    width: 100%;
    justify-content: end;
    display: flex;
    align-items: end;
   
}


.paragram-desktop{
    display: block;
}

@media (max-width: 912px){
    .paragram-desktop{
        display: none;
    }
    .paragram-mobile{
        line-height: 25px;
    }
}

