.cancel {
    outline: none;
    position: absolute;
    margin: 10px;
    right: 0px;
    z-index: 999999;
    top: 0;
}

.edit-icon {
    color: #324395;
    position: absolute;
    margin: 33px;
    right: 0px;
    z-index: 999999;
    top: 0;
}

.paragram-desktop{
    display: block;
}

@media (max-width: 912px){
    .paragram-desktop{
        display: none;
    }
    .paragram-mobile{
        line-height: 25px;
    }
}
