<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <div class="presentation-box" [style]="slideBackground">

                <mat-toolbar class="toolbar mat-elevation-z4">

                        <button mat-icon-button aria-label="Example icon-button with a heart icon">
                          <mat-icon>home</mat-icon>
                        </button>

                        <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
                          <mat-icon>lightbulb_outline</mat-icon>
                        </button>

                        <input class="search" placeholder="search" type="text">
                        
                        <button mat-icon-button color="accent" aria-label="Example icon-button with a heart icon">
                          <mat-icon>chevron_left</mat-icon>
                        </button>

                        <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
                          <mat-icon>chevron_right</mat-icon>
                        </button>

                        <button mat-icon-button aria-label="Example icon-button with a heart icon">
                          <mat-icon>comment</mat-icon>
                        </button>

                        <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
                          <mat-icon>phone_iphone</mat-icon>
                        </button>

                      
                        <button mat-icon-button color="accent" aria-label="Example icon-button with a heart icon">
                          <mat-icon>import_contacts</mat-icon>
                        </button>

                        <button mat-icon-button color="accent" aria-label="Example icon-button with a heart icon">
                          Proprietary & Confidential
                        </button>

                        <button mat-icon-button color="accent" aria-label="Example icon-button with a heart icon">
                          10/40
                        </button>

                        <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
                          <mat-icon>help</mat-icon>
                        </button>                          
                        
                </mat-toolbar>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>