@mixin BoxShadow($dp) {
  @if $dp==0 {
    box-shadow: none;
  } @else if $dp==1 {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  } @else if $dp==2 {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  } @else if $dp==3 {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  } @else if $dp==4 {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  } @else if $dp==6 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  } @else if $dp==8 {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12),
      0 5px 5px -3px rgba(0, 0, 0, 0.2);
  } @else if $dp==9 {
    box-shadow: 0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12),
      0 5px 6px -3px rgba(0, 0, 0, 0.2);
  } @else if $dp==12 {
    box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12),
      0 7px 8px -4px rgba(0, 0, 0, 0.2);
  } @else if $dp==16 {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12),
      0 8px 10px -5px rgba(0, 0, 0, 0.2);
  } @else if $dp==24 {
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12),
      0 11px 15px -7px rgba(0, 0, 0, 0.2);
  }
}

.main-container {
  position: absolute;
  top: -85px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}

.presentation-box {
  width: 948px;
  height: 714px;
  border: solid 4px lightgray;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 70px;
  right: -76px;
  overflow: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  @include BoxShadow(4);
  // animation: flip .5s ease 0.1s forwards;
}
.presentation-box {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.presentation-box::-webkit-scrollbar {
  display: none;
}

.slide-box {
  width: 968px;
  height: 727px;
  border: solid 4px lightgray;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 70px;
  right: -26px;
  overflow: hidden;
  opacity: 1;
  // animation: flip .5s ease 0.1s forwards;
}

.toolbar {
  position: absolute;
  bottom: 11px;
  height: 50px;
  width: 850px;
  left: 56px;
  border-radius: 10px;
  opacity: 0.95;

  .search {
    border-radius: 1px solid grey;
    width: 150px;
    margin-right: 20px;
    font-size: 16px;
    padding-left: 6px;
  }

  .mat-icon {
    font-size: 19px;
    color: rgb(71, 71, 71);
  }

  button:focus {
    outline: 0;
  }
}

.toolbar-postit {
  position: absolute;
  bottom: -59px;
  margin-left: 110px;
  height: 50px;
  max-width: 569px;
  width: 569px;
  border-radius: 10px;
  opacity: 0.9;
  right: 190px;

  .search {
    border-radius: 1px;
    width: 150px;
    margin-right: 20px;
    font-size: 16px;
    padding-left: 6px;
  }

  .mat-icon {
    font-size: 19px;
    color: rgb(71, 71, 71);
  }

  button:focus {
    outline: 0;
  }
}

.toolbar-postit:hover {
  @include BoxShadow(4);
}

.search-results::-webkit-scrollbar {
  display: none;
}

.search-results {
  width: 149px;
  height: 510px;
  overflow-y: scroll;
  position: absolute;
  left: 399px;
  bottom: -62px;
}

.toptoolbar {
  background-repeat: no-repeat;
  background-size: initial;
  background-image: url(../../assets/img/toolbarBg.jpg);
  height: 53px;
  position: absolute;
  top: 74px;
  left: 95px;
  width: 940px;
  z-index: 9999;
  border-radius: 5px;
}

.postit-box {
  width: 950px;
  height: 710px;
  border: solid 4px lightgray;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 50px;
}

.post-it-container {
  margin: 3px;
  position: relative;
  top: 62px;
}

.names-container {
  background-color: white;
  width: 300px;
  max-width: 313px;
  height: 552px;
  position: relative;
  right: 8px;
  top: 134px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
}

.names-container::-webkit-scrollbar {
  display: none;
}

.names-container2 {
  background-color: white;
  width: 614px;
  max-width: 625px;
  height: 552px;
  position: relative;
  right: 322px;
  top: 134px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
}

.names-container2::-webkit-scrollbar {
  display: none;
}

.post-list {
  width: 100px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.post-box {
  padding: 20px 10px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
}

.post-box:last-child {
  border: none;
}

.post-list.cdk-drop-list-dragging .post-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-sidenav-backdrop.mat-sidenav-shown {
  background-color: transparent !important;
}

.overview {
  max-width: 470px;
  top: 85px;
}

.material-icons {
  line-height: 0.8;
}

.mat-icon {
  height: 30px;
  z-index: 9999;
}

.post-button {
  color: whitesmoke;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  outline: none;
}

.name-form {
  position: relative;
  top: 133px;
  width: 300px;
  background-color: white;
  height: 90px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 2px;
  padding: 20px;
}
.name-form2 {
  position: relative;
  bottom: -140px;
  background-color: white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  left: -180px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
  border: 1px solid #ddd;
}

.bottom-right {
  position: absolute;
  top: 0;
  left: 0;
}

.right-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  background: #fff;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
}

.slider-font-size {
  width: 155px;
  position: absolute;
  bottom: 36px;
  right: -52px;
}

.instruction-style {
  // border: black solid 1px;
  // padding-block: 10px;
  width: 250px;
  max-width: 330px;
}

.colorin {
  max-height: inherit;
}

.fuse-card {
  max-width: 320px;
  min-width: 320px;
  border-radius: 8px;
  border: 1px solid;
  background: #fff;
  border-color: rgba(0, 0, 0, 0.01);
}

.title-card {
  overflow: hidden;
  border-radius: 8px;
  border: 2px solid;
  background: #fff;
  border-color: #004684;
  margin-bottom: 14px;
  width: 986px;
  height: 137px;
}

.ckeditor-card {
  max-width: 700px;
  min-width: 700px;
  max-height: 680px;
  height: 500px;
  overflow: hidden;
  border-radius: 8px;
  border: 2px solid;
  background: #fff;
  border-color: rgba(0, 70, 132, 1);
}

.new-names-card {
  max-width: 350px;
  min-width: 270px;
  max-height: 501px;
  border-radius: 8px;
  border: 2px solid;
  background: #fff;
  border-color: #004684;
  overflow-y: hidden;
}

.shrinkCard {
  width: 300px;
  margin: 5px;
  height: 310px;
  // background-color: lightgoldenrodyellow;
  border-radius: 15px;
}

.mwlResizable {
  box-sizing: border-box; // required for the enableGhostResize option to work
}

.post-card {
  width: 280px;
  margin: 15px;
  height: 280px;
  background-color: #d6f8fd;
  overflow: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  .deleteButton {
    display: none;
  }
}

.post-card:hover {
  @include BoxShadow(12);
  background-color: lightyellow;
  .deleteButton {
    display: inline;
    color: #ff0000d1;
    font-size: 19px;
    margin: 5px;
    position: absolute;
    right: -8px;
    top: 255px;
    cursor: pointer;
    box-shadow: 0 0 black;
    z-index: 1;
  }
}

.post-title {
  height: auto;
  overflow: hidden;
  width: 253px;
  word-break: break-all;
  cursor: grab;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  text-shadow: 0px 1px 100000 1 n m/ px #555;
}

.post-content {
  cursor: pointer;
  width: 263px;
  height: 198px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 18px;
}

.post-content::-webkit-scrollbar {
  display: block;
}

.post-content:hover {
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.synonymsIcon {
  cursor: context-menu;
  position: absolute;
  right: 217px;
  top: 164px;
  font-size: 16px;
  color: black;
}
.synonymsIcon2 {
  cursor: context-menu;
  position: absolute;
  top: 85px;
  font-size: 16px;
  color: black;
  padding-left: 5px;
}

.synonymsIcon:hover {
  color: red;
}
.synonymsIcon2:hover {
  color: orangered;
}

.synonyms-box {
  background-color: white;
  position: fixed;
  /* background-origin: padding-box; */
  font-size: 21px;
  top: 124px;
  left: 500px;
  max-height: 770px;
  line-height: 37px;
  border-radius: 10px;
  padding-left: 10px;
  border: solid lightgrey;
  overflow: hidden;
  width: 741px;
  z-index: 99999;
  -webkit-animation: jackInTheBox;
  animation: jackInTheBox;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}

.add-synonyms {
  position: absolute;
  /* float: right; */
  right: 5px;
  top: 714px;
}

.screen-button {
  position: absolute;
  top: 60px;
  right: 17px;
  z-index: 999999;
  outline: none;
  cursor: pointer;
}

.delete-info {
  width: auto;
}

.mat-dialog-container {
  display: block;
  padding: 46px 20px 110px 26px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

table {
  width: 100%;
}

.post-it-done-button {
  color: white;
  // position: absolute;
  // top: 593px;
  background-color: green;
  // padding: 4px;
  outline: none;
  // left: 956px;
  // z-index: 999;box-shadow: none;
}
.tabs-emojis {
  overflow-y: scroll;
  max-height: 600px;
}
.tabs-emojis::-webkit-scrollbar {
  display: none;
}

.emoji-handle {
  position: absolute;
  top: 5px;
  // border: red solid 1px;
  right: 2px;
  color: #000;
  // cursor: move;
  width: 276px;
  height: 38px;
  z-index: 999999;
}
.emoji-box {
  background-color: white;
  position: fixed;
  background-origin: padding-box;
  font-size: 21px;
  top: 124px;
  max-height: 770px;
  line-height: 37px;
  border-radius: 10px;
  padding-left: 10px;
  border: solid lightgrey;
  overflow-y: hidden;
  width: 741px;
  z-index: 99999;
  animation: jackInTheBox; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.4s; /* don't forget to set a duration! */
}

mat-tab-group ::-webkit-scrollbar {
  display: none;
}
.emoji-mobile-box {
  background-color: #fff;
  position: absolute;
  top: 12%;
  border: lightgrey solid 4px;
  border-radius: 10px;
  padding: 10px;
  max-height: 220px;
  max-width: 387px;
  font-size: 14px;
  margin: 7px;
  line-height: 19px;
  overflow-y: scroll;
  opacity: 0;
  animation: jackInTheBox 0.3s ease 0.1s forwards;
}

.emoji-box::-webkit-scrollbar {
  display: none;
}

.cancel-emoji {
  position: relative;
  left: 687px;
  top: 20px;
  cursor: pointer;
}

.comment-box {
  position: absolute;
  background-color: white;
  width: 100%;
  top: 463px;
  z-index: 99999;
  max-width: 540px;
  height: 250px;
  border: aliceblue 2px solid;
  animation: bounceIn 0.5s ease-in-out 0s 1 forwards;
  overflow: hidden;
}
.comment-field {
  width: 516px;
  position: absolute;
  font-size: 24px;
  line-height: 28px;
  top: 4px;
  margin-left: 9px;
}

.main-search {
  width: 149px;
  height: 428px;
  overflow-y: scroll;
  position: absolute;
  left: -170px;
  bottom: 27px;
  overflow-x: hidden;
}

.main-search::-webkit-scrollbar {
  display: none;
}

.menu-icon {
  position: absolute;
  top: 810px;
  z-index: 99;
  outline: none;
  opacity: 0;
}

.menu-icon:hover {
  opacity: 1;
}

.menu-left-icon {
  position: relative;
  top: 469px;
  z-index: 99;
  left: 76px;
  outline: none;
  :hover {
    transform: scale(1.5);
  }
  // opacity: 0;
}

.menu-right-icon {
  position: relative;
  right: -1047px;
  top: -283px;
  z-index: 99;
  outline: none;
  :hover {
    transform: scale(1.5);
  }
}

.corner_bar_menu {
  position: absolute;
  right: 60px;
  bottom: 30px;
  outline: none;
  z-index: 9999;
  background: white;
  border-radius: 5px;
}

::ng-deep .mat-tooltip {
  font-size: 24px;
}

.full-icon:hover {
  transform: scale(2.1);
}
.full-icon {
  color: grey !important;
  font-size: 20px;
  transition: all 0.1s ease-in-out;
}

.qr_code {
  display: flex;
  flex-direction: column;
  align-items: center;
}

$postItanimations: shakeY, shakeY, shakeY, shakeY, shakeY, shakeY, shakeY, shakeY, shakeY, shakeY, shakeY, shakeY;
$postItseconds: 1, 2, 3;
$postItHeaderColors: #d6f8fd, #d6f8fd, #d6f8fd, #d6f8fd, #d6f8fd, #d6f8fd, #d6f8fd, #d6f8fd, #d6f8fd;
$postItHeaderColorsLength: length($postItHeaderColors);
.post-it-list {
  @for $i from 1 through 3 {
    // &:nth-of-type(#{$postItHeaderColorsLength}n + #{$i}) .post-card {
    //   background: nth($postItHeaderColors, $i);
    //   animation: nth($postItanimations, $i)  0.1s;
    //   animation-delay: #{$i};
    // }

    // &:nth-of-type(#{$postItHeaderColorsLength}n + #{$i}) .post-card:hover {
    //   // background: nth($postItHeaderColors, $i);
    //   // -o-transform: rotate(4deg);
    //   // -webkit-transform: rotate(4deg);
    //   -moz-transform: rotate(0.5deg);
    //   position: relative;
    //   top: -2px;
    //   background: lightgoldenrodyellow;
    //   animation: nth($postItanimations, $i) 1s;
    // }
  }
}

// theme
$postItHeaderColors2: #d6f8fd, #dcd6fd, #d6fde9, #fdfcd6, #d6f8fd, #fdd6e8, #fddfd6, #d6f8fd, #d6f8fd;
.post-it-list-theme {
  @for $i from 1 through 8 {
    &:nth-of-type(#{$postItHeaderColorsLength}n + #{$i}) .post-card {
      background: nth($postItHeaderColors2, $i);
      // animation: nth($postItanimations, $i) 0.2s;
      animation: fadeIn 0.2s ease-in-out backwards;
      animation-iteration-count: 1;
      animation-delay: $i * 0.05 + s;
    }

    &:nth-of-type(#{$postItHeaderColorsLength}n + #{$i}) .post-card:hover {
      // background: nth($postItHeaderColors, $i);
      // -o-transform: rotate(4deg);
      // -webkit-transform: rotate(4deg);
      transform: rotate(1deg);
      position: relative;
      top: -2px;
      background: lightgoldenrodyellow;
      // animation: nth($postItanimations, $i) 1s;
    }
  }
}

// Resizable options

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// Defined Animations
.bounceIn {
  display: inline-block;
  margin: 0 0.5rem;

  animation: shakeX; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.1s; /* don't forget to set a duration! */
}
.bounceOut {
  display: inline-block;
  margin: 0 0.5rem;
  // overflow: scroll;
  animation: shakeX; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.1s; /* don't forget to set a duration! */
}

.shakeIn {
  display: inline-block;
  margin: 0 0.5rem;

  animation: shakeX; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.1s; /* don't forget to set a duration! */
  animation-delay: 0.5s; /* don't forget to set a duration! */
}
.shakeOut {
  display: inline-block;
  margin: 0 0.5rem;

  animation: shakeX; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.1s; /* don't forget to set a duration! */
}

/* The animation code */
@keyframes example {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes NAME-YOUR-ANIMATION {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.brandstorm {
  display: inline-block;
  margin: 0 0.5rem;
  opacity: 1;
  // transition: opacity 0.5s ease-out;
  // animation-direction: alternate;
  // animation: tada; /* referring directly to the animation's @keyframe declaration */
  animation-delay: 0.1s; /* don't forget to set a duration! */
  animation-duration: 0.5s; /* don't forget to set a duration! */
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.brandstorm:hover {
  color: #eee !important;
  display: inline-block;
  margin: 0 0.5rem;
  opacity: 1;
  transition: opacity 0.5s ease-out;
  // animation: tada, wooble;
  // animation-direction: alternate;
  // animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-delay: 0.1s; /* don't forget to set a duration! */
  animation-duration: 0.5s; /* don't forget to set a duration! */
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  cursor: pointer;
}

.searchy {
  width: 190px;
  position: absolute;
  top: 361px;
  left: 533px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 9999999;
}

.searchy::-webkit-scrollbar {
  display: none;
}

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.handle {
  cursor: move;
}
