.presentation-box {
  width: 961px;
  height: 714px;
  border: solid 4px lightgray;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 70px;
  right: -76px;
  overflow: hidden;
}

.slide-box {
  width: 950px;
  height: 714px;
  border: solid 4px lightgray;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 70px;
  right: -26px;
  overflow: hidden;
}

.toolbar {
  position: absolute;
  bottom: 11px;
  height: 50px;
  width: 819px;
  margin-left: 60px;
  border-radius: 10px;
  opacity: 0.95;

  .search {
    border-radius: 1px solid grey;
    width: 150px;
    margin-right: 20px;
    font-size: 16px;
    padding-left: 6px;
  }

  .mat-icon {
    font-size: 19px;
    color: rgb(71, 71, 71);
  }

  button:focus {
    outline: 0;
  }
}

.toolbar-postit {
  position: relative;
  bottom: -10px;
  left: 280px;
  height: 50px;
  max-width: 569px;
  width: 569px;
  /* margin-left: 240px; */
  border-radius: 10px;
  opacity: 0.9;

  .search {
    border-radius: 1px;
    width: 150px;
    margin-right: 20px;
    font-size: 16px;
    padding-left: 6px;
  }

  .mat-icon {
    font-size: 19px;
    color: rgb(71, 71, 71);
  }

  button:focus {
    outline: 0;
  }
}

.toptoolbar {
  background-repeat: no-repeat;
  background-size: initial;
  background-image: url(../../assets/img/toolbarBg.jpg);
  height: 53px;
  position: absolute;
  top: 4px;
  width: 954px;
  z-index: 9999;
  border-radius: 5px;
}

.postit-box {
  width: 950px;
  height: 710px;
  border: solid 4px lightgray;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 50px;
}

.post-it-container {
  margin: 3px;
  position: relative;
  top: 52px;
}

.names-container {
  background-color: white;
  width: 293px;
  height: 630px;
  position: relative;
  right: 8px;
  top: 134px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
}
.names-container2 {
  background-color: white;
  width: 625px;
  height: 630px;
  position: relative;
  right: 322px;
  top: 134px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
}

.names-container3 {
  background-color: white;
  width: 0px;
  height: 630px;
  position: relative;
  right: 322px;
  top: 134px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
}

.post-list {
  width: 100px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.post-box {
  padding: 20px 10px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.post-box:last-child {
  border: none;
}

.post-list.cdk-drop-list-dragging .post-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}
.mat-sidenav-backdrop.mat-sidenav-shown {
  background-color: transparent !important;
}

.material-icons {
  line-height: 0.8;
}

.mat-icon {
  height: 29px;
}

.post-button {
  color: whitesmoke;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  outline: none;
}

.name-form {
  position: absolute;
  bottom: 4px;
  width: 254px;
  background-color: white;
}

:host ::ng-deep .ck-editor__editable_inline {
  max-height: 900px;
  min-height: 500px;
  min-width: 700px;
}

:host ::ng-deep {
  // display: block;
  // height: 200px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
  border: 1px solid #ddd;
}

.bottom-right {
  position: absolute;
  top: 0;
  left: 0;
}

.right-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  background: #fff;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
}

mat-slider {
  width: 600px;
  position: fixed;
  top: 109px;
  z-index: 99;
  right: 455px;
  color: lawngreen;
}

.instruction-style {
  border: black solid 1px;
  padding-block: 10px;
}



.mat-dialog-container {
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  background-color: red !important;
  min-height: inherit;
  max-height: inherit;
}

.bounceIn {
  display: inline-block;
  margin: 0 0.5rem;

  animation: shakeX; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.1s; /* don't forget to set a duration! */
}
.bounceOut {
  display: inline-block;
  margin: 0 0.5rem;

  animation: shakeX; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.1s; /* don't forget to set a duration! */
}

.colorin {
  max-height: inherit;
}

.fuse-card {
  max-width: 320px;
  min-width: 320px;
  border-radius: 8px;
  border: 1px solid;
  background: #fff;
  border-color: rgba(0, 0, 0, 0.01);
}

.title-card {
  // max-width: 320px;
  // min-width: 320px;
  border-radius: 8px;
  border: 1px solid;
  background: #fff;
  border-color: rgba(0, 0, 0, 0.01);
}

.ckeditor-card {
  max-width: 690px;
  min-width: 690px;
  max-height: 400px;
  border-radius: 8px;
  border: 2px solid;
  background: #fff;
  border-color: rgba(0, 70, 132, 1);
}

.new-names-card {
  max-width: 350px;
  min-width: 270px;
  max-height: 341px;
  border-radius: 8px;
  border: 2px solid;
  background: #fff;
  border-color: #004684;
  overflow-y: hidden;
}

.checkButtonEditor {
  color: white;
  position: fixed;
  bottom: 192px;
  background-color: green;
  padding: 4px;
  outline: none;
}

.shrinkCard {
  width: 300px;
  margin: 5px;
  height: 310px;
  // background-color: lightgoldenrodyellow;
  border-radius: 15px;
}

// post it automatic color programming in SCSS

$postItBodyColors: red,
green,
blue;
// $postItBodyColors: #d6f8fd,
// #dde7f6,
// #d8ebfd;
@for $i from 1 through length($postItBodyColors) {
    $postItBodyColors: append($postItBodyColors, nth($postItBodyColors, $i));
}

$postItBodyColorsLength: length($postItBodyColors);
.biCard {
    @for $i from 1 through $postItBodyColorsLength {
        &:nth-of-type(#{$postItBodyColorsLength}n+#{$i}) .shrink-card {
            background-color: nth($postItBodyColors, $i);
            
        }
        &:nth-of-type(#{$postItBodyColorsLength}n+#{$i}) .shrink-card-content {
            background-color: nth($postItBodyColors, $i);
        }
        &:nth-of-type(#{$postItBodyColorsLength}n+#{$i}) .shrink-card-color {
            background-color: nth($postItBodyColors, $i);
        }

        
    }
}

$postItHeaderColors: red,
green,
violet;
$postItHeaderColorsLength: length($postItHeaderColors);
@for $i from 1 through length($postItHeaderColors) {
    $postItHeaderColors: append($postItHeaderColors, nth($postItHeaderColors, $i));
}

$postItHeaderColorsLength: length($postItHeaderColors);
.biCard {
    @for $i from 1 through $postItHeaderColorsLength {
        &:nth-of-type(#{$postItHeaderColorsLength}n+#{$i}) .bi-blue {
            background: nth($postItHeaderColors, $i);
            
        }
               
        &:nth-of-type(#{$postItHeaderColorsLength}n+#{$i}) .bi-blue:hover {
            background: nth($postItHeaderColors, $i);
            -o-transform:rotate(4deg);
            -webkit-transform:rotate(4deg);
            -moz-transform:rotate(4deg);
            position:relative;
            top:5px;
            background:#cfc;
        }

    }
}



.mwlResizable {
  box-sizing: border-box; // required for the enableGhostResize option to work
}


