<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <div class="presentation-box" [style]="slideBackground">

                <mat-toolbar class="toolbar mat-elevation-z4">
                    <!-- <div class="row">
                        <div class="col-md-1">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                        </div>
                        <div class="col-md-1">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">lightbulb_outline</mat-icon>
                        </div>
                        <div class="col-md-2">
                            <input class="search" placeholder="search" type="text">
                        </div>                        
                        <div class="col-md-1">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">chevron_left</mat-icon>
                            <mat-icon aria-hidden="false" aria-label="Example home icon">chevron_right</mat-icon>
                        </div>
                        <div class="col-md-1">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">comment</mat-icon>
                        </div>
                        <div class="col-md-1">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">phone_iphone</mat-icon>
                        </div>
                        <div class="col-md-1">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">import_contacts</mat-icon>
                        </div>
                        <div class="col-md-1">
                         <div style="font-size: 13px;"> Proprietary & Confidential</div>
                        </div>
                        <div class="col-md-1">
                          30/40                       
                        </div>
                        <div class="col-md-1">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">help</mat-icon>                         
                        </div>
                    </div> -->
                    <div class="example-button-row">
                        <button mat-icon-button aria-label="Example icon-button with a heart icon">
                          <mat-icon>favorite</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
                          <mat-icon>favorite</mat-icon>
                        </button>
                        <button mat-icon-button color="accent" aria-label="Example icon-button with a heart icon">
                          <mat-icon>favorite</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
                          <mat-icon>favorite</mat-icon>
                        </button>
                        <button mat-icon-button disabled aria-label="Example icon-button with a heart icon">
                          <mat-icon>favorite</mat-icon>
                        </button>
                      </div>
                </mat-toolbar>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>