<div style="position: relative;overflow: hidden;" fxLayoutAlign="center center">
    <!-- <div style="position: relative;overflow: hidden;background-image: url(toolbarBg.jpg);background-repeat: no-repeat;"
    fxLayoutAlign="center center"> -->

    <!-- DELETE BOX -->
    <div *ngIf="infoMessage && !isMobileInfo" style="width: 400px;">

        <div *ngIf="!isDeleting" class="mat-h2" style="text-align: center;">Are you sure you want to delete? </div>
        <!-- <div *ngIf="!isDeleting" class="mat-h4">This post will be removed permanently.</div> -->
        <div *ngIf="!isDeleting" class="mat-h1" style="text-align: center;color: #004684;">{{concept}}</div>
        <hr>

        <div class="row" style="text-align: center;">

            <div fxFlex fxLayoutAlign="end end">
                <div fxFlex>

                    <button *ngIf="!isDeleting" (click)="buttonOption('cancel')" class="refreshbutton" mat-mini-fab
                        style="color: white;background-color: grey;padding: 4px;outline: none;" color="success"
                        aria-label="icon">
                        <mat-icon>cancel</mat-icon>
                    </button><br>
                    <div style="color: #000;">cancel</div>
                </div>

                <div fxFlex>

                    <button *ngIf="!isDeleting && isDeletingName" (click)="buttonOption('delete')" class="refreshbutton"
                        mat-mini-fab style="color: white;background-color: red;padding: 4px;outline: none;"
                        color="success" aria-label="icon">
                        <mat-icon>check</mat-icon>
                    </button><br>
                   
                    <button *ngIf="!isDeleting && !isDeletingName" (click)="buttonOption('deleteName')"
                        class="refreshbutton" mat-mini-fab
                        style="color: white;background-color: red;padding: 4px;outline: none;" color="success"
                        aria-label="icon">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <div style="color: #000;">delete</div>
                </div>
            </div>
        </div>


    </div>
    <!-- MOBILE INFO PICTURE DISPLAY -->
    <div *ngIf="isMobileInfo">

        <div class="row" layout-align="center center">

            <div flex="" class="text-center flex" style="margin:0 18px">
                <p>1. Access
                    www.mynamepage.com/ti823</p>
                <img class="instruction-style mat-elevation-z4" src="assets/img/bsr/login_page.JPG" alt="Login">
            </div>
            <div flex="" class="text-center flex" style="margin-right:10px">
                <p>2.
                    Enter name suggestions</p>
                <img class="instruction-style" src="assets/img/bsr/page_creation.png" alt="Candidates">
            </div>
            <div flex="" class="text-center flex">
                <p>3.
                    Edit name suggestions (optional)</p>
                <img class="instruction-style" src="assets/img/bsr/editing_name.png" alt="Edit, Save and Delete">
            </div>
            <div flex="" class="text-center flex" style="margin:0 10px">
                <p>4.
                    Complete</p>
                <img class="instruction-style" src="assets/img/bsr/thank_you_page.png" alt="Logout">
            </div>
        </div>
        <div fxLayoutAlign="end end">
            <button (click)="buttonOption('')" class="refreshbutton" mat-fab style="color: white;position: fixed;
    bottom: 100px;background-color: #004684;padding: 4px;outline: none;" color="success" aria-label="icon">
                <mat-icon>cancel</mat-icon>
            </button>
        </div>

        <div ng-hide="!bsrMenubarController.isItNSR" class="nonprop-name-rule-style" aria-hidden="false">

            <!-- <h4>
                The letters h, j, k, w, and y should be avoided
            </h4>

            <h2 style="line-height: 1.5;margin-top:0px;">
                A B C D E F G H I J K L M N O P Q R S T U V W <mark>X</mark> Y <mark>Z</mark>
            </h2>

            <h4>
                Do Not Start With
            </h4>

            <ul>
                <li>
                    No Double Letters (OO, EE, etc.) OR Triple Consonants
                </li>
                <li>
                    Avoid Double Vowels (Qu- is the only exception)
                </li>
                <li>
                    No Numerical Connotations (TRI, DUB, etc.)
                </li>
                <li>
                    Preferences: “F” not “PH” / “T” not “TH”/ “E” not “AE” or “OE”/ “I” not “Y”
                </li>
                <li>
                    Avoid Beginning Letter Combination with “ME” or “STR”
                </li>
                <li>
                    Total Name (Prefix+Stem) = 4 to 5 Syllables
                </li>
                <li>
                    Special Cases Exist – Please Note Rules Above Are for Prefix + Stem Structure
                </li>
                <li>
                    <mark>Use the letters X, and Z to a minimum</mark>
                </li>
            </ul>

            <h4>
                <b>
                    <u>
                        Rules concerning letters
                    </u>
                </b>
            </h4>

            <ul>
                <li>
                    The beginning letter sequences “ar-”, “rac-”, “lev-”, “dex-”, “zu-“ or “es-” are reserved for
                    stereochemical configurations
                </li>
                <li type="square" style="padding-left:30px;">
                    Only used if an isomer of the compound has already been assigned a nonproprietary name
                </li>
            </ul>

            <h4>
                <b>
                    <u>
                        Rules concerning meanings
                    </u>
                </b>
            </h4>

            <ul>
                <li>
                    Prefixes should not explicitly or implicitly contain any references to:
                </li>
                <li type="square" style="padding-left:30px;">
                    chemical structure (unless present in the compound)
                </li>
                <li type="square" style="padding-left:30px;">
                    anatomical targets or medical conditions to treat
                </li>
                <li type="disc" style="padding-left:60px;">
                    eg “bone-”, “tumo-”, “melan-”
                </li>
                <li type="square" style="padding-left:30px;">
                    promotional language
                </li>
                <li type="disc" style="padding-left:60px;">
                    eg “best-”, “dura-”, “efex-”
                </li>
                <li type="square" style="padding-left:30px;">
                    the name of the manufacturer
                </li>
            </ul> -->
        </div>
    </div>

    <div *ngIf="!infoMessage && !isMobileInfo" class="mat-elevation-z4">
        <form name="loginForm" [formGroup]="loginForm" novalidate class="">
            <!-- EDITOR CARD -->
            <div class="container" fxLayout="column" fxLayoutAlign="center center">
                <div class="row ">
                    <div class="col">
                        <div class="title-card">

                            <div class="p-16" style="color: #004684;padding: 10px;" fxLayout="row"
                                fxLayoutAlign="start center">
                                <!-- <img class="w-40 h-40 border-radius-100" src="assets/images/avatars/Christy.jpg"> -->

                                <mat-icon style="margin-right: 10px;">assignment</mat-icon>
                                <h2 class="text-bold ">CONCEPT TITLE</h2>

                                <!-- <div class="ml-16">
                            <div class="h5 text-bold secondary-text">20 mins. ago</div>
                        </div> -->
                            </div>


                            <div fxLayoutAlign="center center">

                                <mat-form-field *ngIf="!isDeleting" style="width: 954px;
                                position: relative;
                                top: -20px;
                                font-size: 31px;">
                                    <!-- <mat-label>CONCEPT</mat-label> -->
                                    <input matInput type="Concept" formControlName="name">
                                </mat-form-field>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="ckeditor-card">


                            <div class="p-16" style="color: #004684;padding: 10px;" fxLayout="row"
                                fxLayoutAlign="start center">
                                <!-- <img class="w-40 h-40 border-radius-100" src="assets/images/avatars/Christy.jpg"> -->

                                <!-- <mat-icon style="margin-right: 10px;">assignment</mat-icon> -->
                                <h2 class="text-bold ">Key Words and Concepts</h2>

                                <mat-icon class="synonymsIcon" (click)="getSynonyms()">layers</mat-icon>

                                <!-- <div class="ml-16">
                            <div class="h5 text-bold secondary-text">20 mins. ago</div>
                        </div> -->
                            </div>

                            <ckeditor id="txtTexto" class="ckeditorcev" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="model.editorData" [data]="dataEditor" [config]="ckconfig"></ckeditor>
                        </div>
                    </div>
                    <div class="col">
                        <div class="new-names-card " style="overflow: hidden;">


                            <div class="p-16" style="color: #004684;padding: 5px;" fxLayout="row"
                                fxLayoutAlign="start center">
                                <h2 class="text-bold ">New Names</h2>
                            </div>

                            <div class="p-16" style="padding: 10px;height: 780px;" fxLayout="row"
                                fxLayoutAlign="start center">
                                <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="23" formControlName="suma"
                                    cdkAutosizeMaxRows="23" style="
                                                            height: 460px;
                                                            width: 248px;
                                                            position: absolute;
                                                            font-size: 30px;
                                                            line-height: 28px;
                                                            top: 40px;" appearance="outline"
                                    formControlName="suma"></textarea>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col">
                    <div fxLayoutAlign="end end">
                        <button (click)="buttonOption('savePost')" class="checkButtonEditor" mat-fab color="success"
                            aria-label="icon">
                            <mat-icon>check</mat-icon>
                        </button>
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>

<div class="synonyms-box" *ngIf="isSynonymBox">

    <!-- <div class="row">Synonyms for : <span style="font-size: 30px;color: #004684;"> {{synonymWord}} </span></div> -->
    <div class="row">
        <p>{{dataSource.length}}</p>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
    
            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Synonyms </th>
                <td mat-cell *matCellDef="let element"> {{element.synonyms}} </td>
            </ng-container>
    
            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Select </th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox 
                        (change)="setAll(element.synonyms)">
                    </mat-checkbox>
                </td>
    
            </ng-container>
    
    
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div class="row">  <button class="add-synonyms" (click)="addSynonymsToEditor()">DONE</button></div>


   

 
</div>