.cancel {
    outline: none;
    position: absolute;
    margin: 10px;
    right: 0px;
    z-index: 999999;
    top: 0;
}

.edit-icon {
    display: none;   
}

@media (max-width: 912px){
    .paragram-mobile{
        line-height: 25px;
    }
  
}
