<!-- <app-show-video></app-show-video> -->
<div *ngIf="showModalVideo" id="myModal" class="modal-video">
    <label class="container-checkbox">No volver a mostrar
        <input (click)="saveSelection()" type="checkbox" value="Bike" #modalChecked> 
        <span class="checkmark">&#x2714;</span>
        <span class="close-modal" (click)="showModalVideo=false">&times;</span>
    </label>
    
    
    <div class="modal-content">
        <img *ngFor="let path of VIDEO_PATH" [src]="path" alt="Girl in a jacket" style="margin-bottom: 10px">
    </div>
</div>
<!-- modal end -->
<button *ngIf="openSettings && bmxClientPageOverview" class="cancel" (click)=" replaceBiI_Markers(); openSettings = !openSettings"
    mat-icon-button>
    <mat-icon class="full-icon" style="font-size: 25px;">check_circle</mat-icon>
</button>
<button *ngIf="!openSettings && bmxClientPageOverview" mat-icon-button class="edit-icon"
    (click)="editTextWithEditor();openSettings = !openSettings;">
    <mat-icon class="full-icon" style="font-size: 25px;">edit</mat-icon>
</button>
<div class="paragram-mobile" style="margin: 30px;font-size: 20px;" [innerHTML]="bmxItem.componentText | safe: 'html'"></div>
<div cdkDrag>
    <ckeditor *ngIf="openSettings && bmxClientPageOverview" id="txtTexto" class="ckeditorcev"
        style="animation: fadeIn 0.5s ease forwards;" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="bmxItem.componentText" [data]="bmxItem.componentText" [config]="ckconfig">
    </ckeditor>    
</div>


<!-- <div style="display: flex;justify-content: space-around; align-items: center;width: 90vw;">
    <div style="text-align: left;width: 400px;">
        <div >Name</div>
        <div >Title</div>
    </div>
    <div style="text-align: left;width: 300px;">email</div>
    <div style="text-align: left;width: 300px;">phone</div>
</div> -->
<!-- 
<div style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
    <div style="font-family: auto;
    font-size: 16px;
    ">Name</div>
    <div style="font-family: auto;
    font-size: 16px;
    font-style: italic;">title</div>
    <div style="font-family: auto;
    font-size: 16px;
    font-style: italic;">email</div>
    <div style="font-family: auto;
    font-size: 16px;
    font-style: italic;">phone</div>
  </div> -->