@mixin BoxShadow($dp) {
    @if $dp==0 {
        box-shadow: none;
    } @else if $dp==1 {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    } @else if $dp==2 {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    } @else if $dp==3 {
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    } @else if $dp==4 {
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    } @else if $dp==6 {
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
            0 3px 5px -1px rgba(0, 0, 0, 0.2);
    } @else if $dp==8 {
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12),
            0 5px 5px -3px rgba(0, 0, 0, 0.2);
    } @else if $dp==9 {
        box-shadow: 0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12),
            0 5px 6px -3px rgba(0, 0, 0, 0.2);
    } @else if $dp==12 {
        box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12),
            0 7px 8px -4px rgba(0, 0, 0, 0.2);
    } @else if $dp==16 {
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12),
            0 8px 10px -5px rgba(0, 0, 0, 0.2);
    } @else if $dp==24 {
        box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12),
            0 11px 15px -7px rgba(0, 0, 0, 0.2);
    }
}

@media print {
    .no-print,
    .no-print * {
        display: none !important;
    }

    .break-page {
        page-break-after: always;
    }
}
//   BRAND MATRIX CREATOR DASH

.report-container::-webkit-scrollbar {
    display: none;
}

.main-container {
    display: flex;
    flex-direction: row;

    .logo-badge {
        // border: solid 5px darkblue;
        width: 15.5%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        background-color: white;
        box-shadow: 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%), 0 3px 5px -1px rgb(0 0 0 / 20%);
    }
    .welcome {
        // border: solid 5px #8b1500;
        width: 15.5%;
        height: 10%;
        top: 67px;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        background-color: #353f4b;
        box-shadow: 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%), 0 3px 5px -1px rgb(0 0 0 / 20%);
    }

    .menu {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        top: 166px;
        width: 15.5%;
        position: absolute;
        .menu-item {
            cursor: pointer;
            height: 70px;
            display: flex;
            flex-direction: row;
            margin: 1px 0px;
            align-items: center;
            position: relative;
            color: white;
            background-color: #353f4b;
            box-shadow: 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%), 0 3px 5px -1px rgb(0 0 0 / 20%);
        }
        .menu-item:hover {
            cursor: pointer;
            height: 75px;
            display: flex;
            flex-direction: row;
            margin: 1px 0px;
            align-items: center;
            position: relative;
            color: #353f4b;
            background-color: #bdbdbd;
            // transform: scale(1.1);
            box-shadow: 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%), 0 3px 5px -1px rgb(0 0 0 / 20%);
        }
        .menu-active {
            cursor: pointer;
            height: 75px;
            display: flex;
            flex-direction: row;
            margin: 1px 0px;
            align-items: center;
            position: relative;
            color: #353f4b;
            background-color: #bdbdbd;
            // transform: scale(1.1);
            box-shadow: 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%), 0 3px 5px -1px rgb(0 0 0 / 20%);
        }
    }

    .development-border {
        border: blue 1px solid;
    }

    .full-icon:hover {
        transform: scale(2);
        color: #ee7f25;
    }
    .full-icon {
        color: #324395;
        font-size: 25px;
        transition: all 0.1s ease-in-out;
        text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
        box-shadow: inset inset 0px 0px 5px #0bd659;
    }
    .project-name-global{
        color: #324395;
        font-size: 25px;
        transition: all 0.1s ease-in-out;
        text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
        box-shadow: inset inset 0px 0px 5px #0bd659;
    }

    .page-design::-webkit-scrollbar {
        display: none;
    }

    .page-design {
        width: 86%;
        height: 91vh;
        overflow-y: hidden;
    }

    .page-design-client {
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -53%);
        width: 90%;
        height: 97vh;
        overflow: visible;
        .project-info {
            position: absolute;
            right: -45px;
            background: white;
        }
    }



    .emoji-handle {
        // position: absolute;
        top: 5px;
        // border: red solid 1px;
        right: 2px;
        color: rgb(255, 255, 255);
        cursor: move;
        width: 100%;
        position: absolute;
        // height: 38px;
        // z-index: 999999;
    }

    .paragraph {
        margin-top: 10px;
        position: relative;

        .save {
            outline: none;
            position: absolute;
            margin: 10px;
            right: 50px;
            z-index: 999999;
            bottom: -13px;
        }
    }

    .paragraph:hover {
        .edit-icon {
            display: inline;
            outline: none;
            position: absolute;
            margin: 10px;
            top: 0;
            right: 0;
        }
    }

    .header {
        cursor: pointer;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 60px;
        position: relative;
    }

    .test-name-table {
        display: flex;
        flex-direction: row;
        // border: olive solid 1px;
        text-align: center;
        // justify-content: space-between;
        align-content: center;
    }



    .project-list::-webkit-scrollbar {
        display: none;
    }
    .template-list::-webkit-scrollbar {
        display: none;
    }

    .template-list-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        //background-color: lightgray;
        border: grey solid 1px;
        margin: 20px;
    }
    .template-list-selected {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        background-color: lightgray;
        border: #01a6ff 4px solid;
        margin: 20px;
    }
    .template-list-item:hover {
        border: #76d354 4px solid;
    }


}

// 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜 💜
// END OF THE SCSS PROJECT *******************************************************************************************
