@mixin BoxShadow($dp) {
    @if $dp==0 {
      box-shadow: none;
    } @else if $dp==1 {
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    } @else if $dp==2 {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    } @else if $dp==3 {
      box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    } @else if $dp==4 {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    } @else if $dp==6 {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    } @else if $dp==8 {
      box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12),
        0 5px 5px -3px rgba(0, 0, 0, 0.2);
    } @else if $dp==9 {
      box-shadow: 0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12),
        0 5px 6px -3px rgba(0, 0, 0, 0.2);
    } @else if $dp==12 {
      box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12),
        0 7px 8px -4px rgba(0, 0, 0, 0.2);
    } @else if $dp==16 {
      box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(0, 0, 0, 0.2);
    } @else if $dp==24 {
      box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12),
        0 11px 15px -7px rgba(0, 0, 0, 0.2);
    }
  }
  
  .active-rating-star {
    color: #76d354;
  }
  .active-rating-bar {
    color: #e7c00f;
  }
  .rating-star {
    color: grey;
  }
  
  @media (min-width: 1025px) {
    .desktop {
      display: flex;
      flex-direction: column;
    }
  
    .mobile {
      display: none;
    }
  
    .test-name-table {
      display: flex;
      flex-direction: row;
    }
  }
  
  @media (max-width: 1024px) {
    .desktop {
      display: none;
    }
    .test-name-table {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid rgb(235, 235, 235);
      border-radius: 5px;
      width: 100vw;
      overflow: hidden;
    }
  
    .mobile {
      padding-bottom: 30px;
    }
  
    .selectedCard {
      display: none;
    }
    .noSelectedCard {
      right: 7px;
    }
  }
  
  .rank-column {
    min-width: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: rgb(231, 230, 230) 1px solid;
    border-right: rgb(231, 230, 230) 1px solid;
    border-top: rgb(231, 230, 230) 1px solid;
  }
  
  .rank-column1 {
    min-width: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: rgb(231, 230, 230) 1px solid;
    border-right: rgb(231, 230, 230) 1px solid;
    border-top: rgb(231, 230, 230) 1px solid;
  }
  
  
  .red {
    background-color: white;
    border-right: rgb(231, 230, 230) 1px solid;
    border-top: rgb(231, 230, 230) 1px solid;
    padding: 0px;
    // margin: 5px;
  }
  
  .red:first-child {
    background-color: white;
    border-right: rgb(231, 230, 230) 1px solid;
    border-left: rgb(231, 230, 230) 1px solid;
    border-top: rgb(231, 230, 230) 1px solid;
    padding: 0px;
    // margin: 5px;
  }
  
  .blue {
    background-color: white;
    border-right: rgb(230, 230, 230) 1px solid;
    border-top: rgb(231, 230, 230) 1px solid;
    padding: 0px;
    // margin: 5px;
  }
  
  .test-name-table:last-child {
    border-bottom: rgb(231, 230, 230) 1px solid;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    // overflow-x: scroll;
  }
  
  .rating-text {
    font-size: 17px;
    // margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    color: #324395;
  }
  
  .header-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  
  .header-delete-icon {
    cursor: pointer;
    margin: -2px 5px;
    color: red;
    font-size: 20px;
  }
  
  .row-box {
    border: none;
    // max-width: 300px;
    height: 30px !important;
  }
  
  .rationale-box {
    border: none;
    // width: 300px;
  }
  
  .add-column {
    outline: none;
  
    float: right;
    color: grey;
  }
  .add-column-active {
    outline: none;
    float: right;
    
    mat-icon{
      color: #324395;
    }
  }
  
  .test-name-table:hover {
    @include BoxShadow(6);
  }
  
  .scroller-style::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  .scroller-style::-webkit-scrollbar-track {
    background: white;
  }
  
  /* Handle */
  .scroller-style::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .scroller-style::-webkit-scrollbar-thumb:hover {
    background: #283e90;
  }
  
  textarea {
    resize: none;
    outline: none;
    height: auto;
    overflow: auto;
  }
  
  textarea::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  textarea::-webkit-scrollbar-track {
    background: white;
  }
  
  /* Handle */
  textarea::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  textarea::-webkit-scrollbar-thumb:hover {
    background: #283e90;
  }
  
  // textarea::-webkit-scrollbar {
  //   display: none;
  // }
  
  textarea {
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    // min-height: 1.5rem;
    padding: 0.2rem 0rem;
    // font-size: 1rem;
    // line-height: 2rem;
    // font-weight: 300;
    background: #ffffff;
    justify-content: center;
  
    border-radius: 6px;
    outline: none;
    // box-shadow: inset 5px 7px 7px #d1d9e9, inset -19px -31px 1px #ffffff;
    // box-shadow: 5px 7px 7px #d1d9e9, 15px 0px 1px #ffffff;
    resize: vertical;
    transition: ease 0.2s;
    cursor: pointer;
  }
  
  textarea::placeholder {
    color: #9fa8da;
  }
  
  textarea:focus {
    min-height: 3rem;
    cursor: text;
    box-shadow: inset 5px 7px 7px #d1d9e9, inset -19px -31px 1px #ffffff;
  }
  
  textarea:placeholder-shown {
    background: none;
  }
  
  
  // INPUT RANGE STYLE
  
  input[type="range"] {
    -webkit-appearance: none;
    margin: 7px 8px;
    width: 100%;
  }
  input[type="range"]:focus {
    outline: none;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #ef7f25;
    border-radius: 1.3px;
    // border: 0.2px solid #010101;
  }
  input[type="range"]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
  }
  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #ef7f25;
  }
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #ef7f25;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type="range"]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type="range"]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type="range"]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type="range"]::-ms-fill-upper {
    background: #ef7f25;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type="range"]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type="range"]:focus::-ms-fill-lower {
    background: #ef7f25;
  }
  input[type="range"]:focus::-ms-fill-upper {
    background: #ef7f25;
  }
  
  @supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type="checkbox"],
    input[type="radio"] {
      --active: #ee7f25;
      --active-inner: #fff;
      --focus: 2px rgba(39, 94, 254, 0.3);
      --border: #bbc1e1;
      --border-hover: #ee7f25;
      --background: #fff;
      --disabled: #f6f8ff;
      --disabled-inner: #e1e6f9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
      &:after {
        content: "";
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
      }
      &:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: 0.3s;
        --d-t: 0.6s;
        --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
      }
      &:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: 0.9;
        &:checked {
          --b: var(--disabled-inner);
          --bc: var(--border);
        }
        & + label {
          cursor: not-allowed;
        }
      }
      &:hover {
        &:not(:checked) {
          &:not(:disabled) {
            --bc: var(--border-hover);
          }
        }
      }
      &:focus {
        box-shadow: 0 0 0 var(--focus);
      }
      &:not(.switch) {
        width: 21px;
        &:after {
          opacity: var(--o, 0);
        }
        &:checked {
          --o: 1;
        }
      }
      & + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
      }
    }
    input[type="checkbox"] {
      &:not(.switch) {
        border-radius: 7px;
        &:after {
          width: 5px;
          height: 9px;
          border: 2px solid var(--active-inner);
          border-top: 0;
          border-left: 0;
          left: 7px;
          top: 4px;
          transform: rotate(var(--r, 20deg));
        }
        &:checked {
          --r: 43deg;
        }
      }
      &.switch {
        width: 38px;
        border-radius: 11px;
        &:after {
          left: 2px;
          top: 2px;
          border-radius: 50%;
          width: 15px;
          height: 15px;
          background: var(--ab, var(--border));
          transform: translateX(var(--x, 0));
        }
        &:checked {
          --ab: var(--active-inner);
          --x: 17px;
        }
        &:disabled {
          &:not(:checked) {
            &:after {
              opacity: 0.6;
            }
          }
        }
      }
    }
    input[type="radio"] {
      border-radius: 50%;
      &:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        transform: scale(var(--s, 0.7));
      }
      &:checked {
        --s: 0.5;
      }
    }
  }
  