<div style="display: flex;flex-direction: column;align-items: center;justify-content: space-around;height: 100vh;">
    <h1>CURRENT ORDERS</h1>

    <div style="overflow-y: scroll;">
        <div *ngFor="let item of order.orderItems; index as i"
            style="display: flex;flex-direction: column;border: black solid 1px;border-radius: 5px;overflow-y: scroll;overflow-x: hidden;">
            <h2>{{item.name}}</h2>
            <!-- <div>Price &nbsp; &nbsp; </div> -->

            <div>{{item.description}}</div>
            <div>{{item.specialIntructions}}</div>
            <div>{{item.selectedOption}}</div>
            <div>{{item.selectedToppings}}</div>
            <br>
            <div class="row" style="justify-content: space-around;">
                <button mat-icon-button color="accent" style="color: black;outline: none;">
                    <mat-icon>remove_circle_outline</mat-icon>
                </button>
                <div>{{item.orderQuantity}} x ${{item.price}}</div>
                <button mat-icon-button color="primary" style="color: black;outline: none;">
                    <mat-icon>add_circle_outline</mat-icon>
                </button>
            </div>
        </div>
        <div *ngIf="order.orderItems.length === 0">Nothing Order Yet</div>
    </div>
    <br>
    <br>
    <button mat-mini-fab color="primary" style="color:white;background-color: green;font-size: 6px;">
        <mat-icon>attach_money</mat-icon>
    </button>
</div>