.row-field {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.directorInfo{
    outline: none;
  box-shadow: none;
}

.directorInfo:focus{
  box-shadow: revert ;
  outline: revert;
}

.optionButton{
  visibility: hidden;
}

.directorCard:hover > .optionButton { visibility: visible; }
