<div *ngIf="true" class="" style="position: absolute;z-index: 1;width: 120vh;">

    <h2 style="margin: 20px;">Project TEST BrandMatrix Setup</h2>
    <div style="margin: 20px;font-size: 20px;color:#063074;font-weight: 800;">Basic Project Information</div>
    <button mat-raised-button color="success" style="position: absolute;right: 79px;background-color:#063074;color: white;"
        (click)="saveProjectInfo()">Save</button>
    <br>
    <br>
    <br>
    <form [formGroup]="bmxEditData">
        <div style="display: flex;flex-direction: column;">

            <div class="row-field">
                <label class="selectLabels">Salesboard</label>
                <mat-form-field appearance="outline">
                    <!-- <mat-select formControlName="bmxSalesboard"> -->
                    <input type="text" placeholder="Enter Salesboard Project" formControlName="bmxSalesboard" matInput
                        [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let settingsList of filteredOptions | async" [value]="settingsList">
                            {{settingsList}}
                        </mat-option>
                    </mat-autocomplete>
                    <!-- </mat-select> -->
                </mat-form-field>
                <label class="selectLabels">Department</label>
                <mat-form-field appearance="outline">
                    <mat-label>Select Department</mat-label>
                    <mat-select formControlName="bmxDepartment">
                        <mat-option *ngFor="let settingsList of settingsData.DepartmentList" [value]="settingsList">
                            {{settingsList}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div class="row-field">
                <label class="selectLabels">Project</label>
                <mat-form-field appearance="outline">
                    <mat-label>Enter Project Name</mat-label>
                    <input type="text" matInput formControlName="bmxProjectName">
                </mat-form-field>
                <label class="selectLabels">Region</label>
                <mat-form-field appearance="outline">
                    <mat-label>Select Region</mat-label>
                    <mat-select formControlName="bmxRegion">
                        <mat-option *ngFor="let settingsList of settingsData.OfficeList" [value]="settingsList">
                            {{settingsList}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div class="row-field">
                <label class="selectLabels">Company</label>
                <mat-form-field appearance="outline">
                    <mat-label>Enter Company</mat-label>
                    <input type="text" matInput formControlName="bmxCompany">
                </mat-form-field>
                <label class="selectLabels">Language</label>
                <mat-form-field appearance="outline">
                    <mat-label>Select Language</mat-label>
                    <mat-select formControlName="bmxLanguage">
                        <mat-option *ngFor="let settingsList of settingsData.LanguageList" [value]="settingsList">
                            {{settingsList}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div></div>

        </div>
        <div style="margin: 20px;font-size: 20px;color:#063074;font-weight: 800;">Manage Directors</div>

        <div style="display: flex;flex-direction: column;">
            <div class="row-field">
                <label class="selectLabels">Regional Directors</label>
                <mat-form-field appearance="outline">
                    <mat-label>Select Region</mat-label>
                    <mat-select formControlName="bmxRegionalDirector" (selectionChange)="officeSelected(officeName)">
                        <mat-option *ngFor="let settingsList of settingsData.OfficeList" [value]="settingsList">
                            {{settingsList}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-mini-fab style="background-color:#063074;outline: none;"
                (click)="createDirector()">
                <mat-icon class="full-icon" style="color: white;" >add</mat-icon>
            </button>
            </div>
           
        </div>
    </form>

    <div style="display: flex; flex-direction: row;flex-wrap: wrap;justify-content: space-between;margin: 10px 100px;">
        <div *ngFor="let director of DIRECTORS, index as i" >
            <!-- <div style="  display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 390px;
            padding: 10px;
            border-radius: 5px;">
                -->
                <!-- <button mat-mini-fab style="position: absolute; top: 9px; right: 500px;" color="success" (click)="appendElement()"><mat-icon>add</mat-icon></button> -->
                <!-- <button mat-button color="primary" (click)="saveData()">Save</button> -->
            <!-- </div> -->
            <mat-card  class="directorCard" style="margin:20px 0px;width: 400px;">

                <label style="margin-right: 20px;">Director Name</label>
                <mat-form-field appearance="outline">
                    <mat-label>Director</mat-label>
                    <mat-select [(ngModel)]="director.ngModel" (selectionChange)="fillDirectorInfo(director, i)">
                        <mat-option *ngFor="let directorName of directorNames" [value]="directorName.name">
                            {{directorName.name}}
                        </mat-option>   
                    </mat-select>
                </mat-form-field>

                <div *ngIf="director.title.length > 0">
                <div style="display: flex;flex-direction: row;">
                    <div style="margin-right: 6px;" class="selectLabels">Title: </div>
                    <div>{{director.title}}</div>
                </div>

                <div style="display: flex;flex-direction: row;">
                    <div style="margin-right: 6px;" class="selectLabels">Email: </div>
                    <div>{{director.email}}</div>
                </div>

                <div style="display: flex;flex-direction: row;">
                    <div style="margin-right: 6px;" class="selectLabels">Phone #: </div>
                    <div>{{director.phone}}</div>
                </div>
                <button mat-icon-button style="position: absolute; top: 9px; right: 5px;color: red;"
                    (click)="removeDirector(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            </mat-card>

        </div>
    </div>
    <br>
    <br>
 