<div style="display: flex;">
    <div style="flex-direction: column;" class="bmx-page" *ngIf="isMenuActive11" dragula="TASKS"
        [(dragulaModel)]="bmxPages[currentPage].page" (dragulaModelChange)="checkDragEvetn($event);">


        <!-- BRAND MATRIX MODULAR TEMPLATE COMPONENTS  🧑🏻‍🚀🧑🏻‍🚀🧑🏻‍🚀🧑🏻‍🚀🧑🏻‍🚀🧑🏻‍🚀🧑🏻‍🚀🧑🏻‍🚀🧑🏻‍🚀🧑🏻‍🚀🧑🏻‍🚀🧑🏻‍🚀🧑🏻‍🚀 -->
        <div *ngFor="let bmxItem of bmxPages[currentPage].page; let i = index"
            style="display: flex;flex-direction: column;margin: 10px;align-content: center;">


            <!-- BMX HEADER 😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋 -->

            <div *ngIf="bmxItem.componentType === 'logo-header'" class="paragraph">
                <div style="position: absolute;right: 0px;">
                    <button *ngIf="bmxClientPageOverview" style="outline: none;color:#f10a0a;top: 19px;" mat-icon-button (click)="deleteComponent(i)"
                        aria-label="delte">
                        <mat-icon style="font-size: 17px;">cancel</mat-icon>
                    </button>
                </div>
              <app-logo-header [bmxItem]="bmxItem" [i]="i" [bmxClientPageDesignMode]="bmxClientPageDesignMode" [bmxClientPageOverview]="bmxClientPageOverview"></app-logo-header>
            </div>
            <!--😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋😋 END BMX HEADER  -->


            <!-- BMX instructions EDITOR 📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑 -->
            <div *ngIf="bmxItem.componentType === 'instructions' && displayInstructions" class="paragraph ">
                <div class="emoji-handle">.</div>
                <div style="position: absolute;right: 0px;">
                    <button *ngIf="bmxClientPageOverview" style="outline: none;color:#f10a0a;top: 19px;" mat-icon-button (click)="deleteComponent(i)"
                        aria-label="delte">
                        <mat-icon style="font-size: 17px;">cancel</mat-icon>
                    </button>
                </div>
                <div style="margin: 30px;" [innerHTML]="bmxItem.componentText | safe: 'html'"></div>
                <ckeditor *ngIf="i === selectedIndex" id="txtTexto" class="ckeditorcev"
                    style="animation: fadeIn 0.5s ease forwards;" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="bmxItem.componentText" [data]="bmxItem.componentText" [config]="ckconfig">
                </ckeditor>

                <button *ngIf="i === selectedIndex && bmxClientPageOverview" class="cancel" (click)="selectedIndex = '';" mat-icon-button>
                    <mat-icon style="font-size: 25px;">cancel</mat-icon>
                </button>
                <button *ngIf="i !== selectedIndex && bmxClientPageOverview" mat-icon-button class="edit-icon" (click)="selectedIndex = i">
                    <mat-icon style="font-size: 25px;">edit</mat-icon>
                </button>
            </div>
            <!-- 📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑 END BMX instructions EDITOR -->


            <!-- BMX PARAGRAPH EDITOR 📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑 -->
            <div *ngIf="bmxItem.componentType === 'text-editor'" class="paragraph ">
                <div class="emoji-handle">.</div>
                <div style="position: absolute;right: 0px;">
                    <button *ngIf="bmxClientPageOverview" style="outline: none;color:#f10a0a;top: 19px;" mat-icon-button (click)="deleteComponent(i)"
                        aria-label="delte">
                        <mat-icon style="font-size: 17px;">cancel</mat-icon>
                    </button>
                </div>
                <app-text-paragraph [bmxItem]="bmxItem" [i]="i" [bmxClientPageDesignMode]="bmxClientPageDesignMode" [bmxClientPageOverview]="bmxClientPageOverview"></app-text-paragraph>
            </div>
            <!-- 📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑📑 END BMX PARAGRAPH EDITOR -->


            <!-- STARS SCALE 👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽-->
            <div *ngIf="bmxItem.componentType === 'rate-scale'" class="paragraph " style="margin-bottom: 30px;">
                <div class="emoji-handle">.</div>
                <div style="position: absolute;right: 0px;">
                    <button *ngIf="bmxClientPageOverview" style="outline: none;color:#f10a0a;top: 19px;" mat-icon-button (click)="deleteComponent(i)"
                        aria-label="delte">
                        <mat-icon style="font-size: 17px;">cancel</mat-icon>
                    </button>
                </div>
                <app-rating-scale [bmxItem]="bmxItem" [i]="i" [bmxClientPageDesignMode]="bmxClientPageDesignMode" [bmxClientPageOverview]="bmxClientPageOverview"></app-rating-scale>

            </div>
            <!-- END STARS SCALE 👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽 -->


            <!-- RANK SCALE 😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭-->
            <div *ngIf="bmxItem.componentType === 'ranking-scale'" class="paragraph">
                <div class="emoji-handle">.</div>
                <div style="position: absolute;right: 0px;">
                    <button *ngIf="bmxClientPageOverview"  style="outline: none;color:#f10a0a;top: 19px;" mat-icon-button (click)="deleteComponent(i)"
                        aria-label="delte">
                        <mat-icon style="font-size: 17px;">cancel</mat-icon>
                    </button>
                </div>
                <app-rank-scale [bmxItem]="bmxItem" [i]="i" [bmxClientPageDesignMode]="bmxClientPageDesignMode" [bmxClientPageOverview]="bmxClientPageOverview"></app-rank-scale>
            </div>
            <!-- END RANK SCALE 😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭 -->

            <!-- IMAGE SCALE 👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀-->
            <div *ngIf="bmxItem.componentType === 'image-rate-scale'" class="paragraph">
                <div class="emoji-handle">.</div>
                <div style="position: absolute;right: 0px;">
                    <button *ngIf="bmxClientPageOverview"  style="outline: none;color:#f10a0a;top: 19px;" mat-icon-button (click)="deleteComponent(i)"
                        aria-label="delte">
                        <mat-icon style="font-size: 17px;">cancel</mat-icon>
                    </button>
                </div>
                <app-image-rate-scale  [bmxItem]="bmxItem" [i]="i" [bmxClientPageDesignMode]="bmxClientPageDesignMode" [bmxClientPageOverview]="bmxClientPageOverview"></app-image-rate-scale>
            </div>
            <!-- END IMAGE SCALE 👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀👀 -->

        </div>


        <!-- PAGE BUTTONS AND DIRECTIONS 1 2 3 📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲-->
        <div class="page-buttons">
            <div [ngClass]="bmxClientPageDesignMode?'page-buttons-heigth-40':'page-buttons-heigth-minus-50'">
                <button (click)="changePage('previous')" mat-icon-button>
                    <mat-icon class="full-icon">chevron_left</mat-icon>
                </button>
                <div *ngFor="let page of bmxPages; let pageIndex = index">
                    <button style="min-width: 35px;" (click)="selectPageNumber(pageIndex)"
                        [ngClass]="(currentPage === pageIndex)?'pageNumberActive':'pageNumber'" mat-raised-button>
                        {{page.pageNumber}}
                    </button>
                </div>

                <button (click)="changePage('next')" mat-icon-button>
                    <mat-icon class="full-icon">chevron_right</mat-icon>
                </button>
            </div>
        </div>
        <!-- 📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲📲 END PAGE BUTTONS AND DIRECTIONS -->

        <!-- END 🧑🏻‍🚀🧑🏻‍🚀🧑🏻‍🚀🧑🏻‍🚀🧑🏻‍🚀🧑🏻‍🚀🧑🏻‍🚀🧑🏻‍🚀🧑🏻‍🚀🧑🏻‍🚀🧑🏻‍🚀🧑🏻‍🚀🧑🏻‍🚀 BRAND MATRIX MODULAR LEGO TEMPLATE COMPONENTS   -->
    </div>


    <!-- 🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵  RIGHT SIDE MENU 🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵-->
    <!-- <div class="project-info" *ngIf="bmxClientPageDesignMode" style="border: pink solid 1px; width: 25%; height: 100vh;"> -->
    <div class="project-info" *ngIf="bmxClientPageOverview">

        <div style="display: flex;flex-direction: column;margin-top: 50px;">
            <button (click)="createNewBmxComponent('logo-header')" mat-icon-button matTooltip="add header"
                matTooltipPosition="right">
                <mat-icon class="full-icon">account_circle</mat-icon>
            </button>
            <button (click)="createNewBmxComponent('text-editor')" mat-icon-button matTooltip="add paragraph"
                matTooltipPosition="right">
                <mat-icon class="full-icon">note_add</mat-icon>
            </button>
            <button (click)="createNewBmxComponent('rate-scale')" matTooltip="rating table" matTooltipPosition="right"
                mat-icon-button color="warn" aria-label="aria">
                <mat-icon class="full-icon">grading</mat-icon>
            </button>
            <button (click)="createNewBmxComponent('ranking-scale')" matTooltip="rank table" matTooltipPosition="right"
                mat-icon-button color="warn" aria-label="aria">
                <mat-icon class="full-icon">trending_down</mat-icon>
            </button>
            <button (click)="createNewBmxComponent('image-rate-scale')" matTooltip="image rate table" matTooltipPosition="right"
                mat-icon-button color="warn" aria-label="aria">
                <mat-icon class="full-icon">image</mat-icon>
            </button>
            <button *ngIf="!false" (click)="createPage()" matTooltip="Create New Page" matTooltipPosition="right"
                mat-icon-button aria-label="aria">
                <mat-icon class="full-icon">post_add</mat-icon>
            </button>
            <button (click)="openSaveTemplateBox()" matTooltip="save template" matTooltipPosition="right"
                mat-icon-button color="warn" aria-label="aria">
                <mat-icon class="full-icon">save</mat-icon>
            </button>
            <button *ngIf="true" (click)="openResetConfirmationBox()" mat-icon-button matTooltip="reset template"
                matTooltipPosition="right">
                <mat-icon class="full-icon">delete_sweep
                </mat-icon>
            </button>
            <button *ngIf="true" (click)="bmxClientPageOverview=!bmxClientPageOverview" mat-icon-button matTooltip="reset template"
                matTooltipPosition="right">
                <mat-icon class="full-icon">visibility
                </mat-icon>
            </button>                      
        </div>
    </div>

    
    <!-- 🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵 END RIGHT SIDE MENU 🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵-->

</div>


<div *ngIf="isTemplateBoxOn" class="save-template-box"
    style="display: flex;flex-direction: column;align-items: center;justify-content: space-around;">
    <h2 style="text-align: center;padding-top: 5px;color: #2a3f8a;">{{templateTitle}}</h2>

    <mat-form-field appearance="outline">
        <mat-label>New Template Name</mat-label>
        <input matInput [(ngModel)]="templateName" placeholder="New Name" (click)="isSaveOrUpdate = false">
        <button *ngIf="templateName" matSuffix mat-icon-button aria-label="Clear" (click)="templateName=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <p style="text-align: center;color: grey;" *ngIf="templateName.length == 0">or select one to load or update</p>
    <mat-form-field *ngIf="templateName.length == 0" appearance="outline">
        <mat-label>Templates</mat-label>
        <mat-select [(ngModel)]="templateName" (selectionChange)="templateSelected()">
            <mat-option *ngFor="let template of TEMPLATES " [value]="template">
                {{template}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div *ngIf="templateName.length > 3" style="display: flex;flex-direction: row;justify-content: space-evenly; width: 200px;">
        <button *ngIf="!isSaveOrUpdate"  (click)="saveOrUpdateTemplate(templateName)" mat-raised-button
            style="color: white;background-color: #2a3f8a">
            save
        </button>
        <button *ngIf="isSaveOrUpdate" (click)="saveOrUpdateTemplate(templateName)" mat-raised-button
            style="color: white;background-color: #8a2a5a">
            update
        </button>
        <p *ngIf="isSaveOrUpdate">or</p>
        <button *ngIf="isSaveOrUpdate" (click)="loadTemplate(templateName)" mat-raised-button id="loadBtn"
            style="color: white;background-color: #2a3f8a">
            load
        </button>
    </div>
</div>

<div *ngIf="isResetConfirmation" class="save-template-box"
    style="display: flex;flex-direction: column;align-items: center;justify-content: space-around;">
    <h2 style="text-align: center;padding-top: 5px;color: #2a3f8a;">{{templateTitle}}</h2>

        <h1 style="text-align: center;">Are you sure you want to reset the template?</h1>
       
    <div style="display: flex;flex-direction: row;justify-content: space-evenly; width: 200px;">
        <button mat-raised-button
            style="color: white;background-color: #2a3f8a" (click)="resetTemplate()">
            Confirm
        </button>
        <button mat-raised-button
            style="color: white;background-color: red" (click)="isResetConfirmation = false">
            Cancel
        </button>
    </div>
</div>

<div *ngIf="isUpdateConfirmation" class="save-template-box"
    style="display: flex;flex-direction: column;align-items: center;justify-content: space-around;">
    <h2 style="text-align: center;padding-top: 5px;color: #2a3f8a;">{{templateTitle}}</h2>
    
        <h2 *ngIf="isUpdateBoxOn">Are you sure you want to update the current template?</h2>
    
    <div style="display: flex;flex-direction: row;justify-content: space-evenly; width: 200px;">
        <button mat-raised-button
            style="color: white;background-color: #2a3f8a" (click)="resetTemplate()">
            Confirm
        </button>
        <button mat-raised-button
            style="color: white;background-color: red" (click)="isResetConfirmation = false">
            Cancel
        </button>
    </div>
</div>