app-survey-creation-design {
    /* Estilos específicos para app-survey-creation-design */
    width: 100%;
}

app-dashboard{
    width: 100%;
}
.mat-icon {
   
    overflow: visible !important;
}
@import './styles/theme';

