<!-- ➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗  SETTINGS ICONS  ➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗ -->
<div *ngIf="bmxClientPageOverview">
    <button (click)="selectedIndex = ''" class="add-column" matTooltip="cancel" matTooltipPosition="above"
        style=" margin: -50px 29px;" *ngIf="i === selectedIndex" mat-icon-button>
        <mat-icon style="font-size: 25px;" class="full-icon">check_circle</mat-icon>
    </button>
    <button (click)="selectedIndex = i" class="add-column" matTooltip="edit table content & settings"
        matTooltipPosition="above" style=" margin: -50px 29px;" *ngIf="i !== selectedIndex" mat-icon-button>
        <mat-icon style="font-size: 25px;" class="full-icon">edit</mat-icon>
    </button>
    <button (click)="insertTextColumn()" class="add-column" style=" margin: -50px 65px;" matTooltip="add Text column"
        matTooltipPosition="above" mat-icon-button aria-label="ranking">
        <mat-icon style="font-size: 26px;" class="full-icon">view_list</mat-icon>
    </button>
    <button (click)="insertRadioColumn()" class="add-column" style="margin: -50px 95px;" matTooltip="add radio column"
        matTooltipPosition="above" mat-icon-button aria-label="ranking">
        <mat-icon style="font-size: 26px;" class="full-icon">radio_button_checked</mat-icon>
    </button>
    <button (click)="insertCommentBoxColumn()" class="add-column" style="margin: -50px 125px;"
        matTooltip="add a Comment box column" matTooltipPosition="above" mat-icon-button aria-label="ranking">
        <mat-icon style="font-size: 26px;" class="full-icon">wysiwyg</mat-icon>
    </button>
    <button (click)="insertRow()" class="add-column" style="margin: -50px 155px;" matTooltip="insert row"
        matTooltipPosition="above" mat-icon-button aria-label="ranking">
        <mat-icon style="font-size: 26px;" class="full-icon">vertical_distribute</mat-icon>
    </button>
    <button (click)="editSingleTableCells = !editSingleTableCells"
        [ngClass]="(!editSingleTableCells)?'add-column':'add-column-active'" style="margin: -50px 195px;"
        matTooltip="edit tabel cells" matTooltipPosition="above" mat-icon-button aria-label="ranking">
        <mat-icon style="font-size: 26px;" class="full-icon">explicit</mat-icon>
    </button>
    <button (click)="dragRows = !dragRows" [ngClass]="(!dragRows)?'add-column':'add-column-active'"
        style="margin: -50px  225px;" matTooltip="drag rows" matTooltipPosition="above" mat-icon-button
        aria-label="ranking">
        <mat-icon style="font-size: 26px;" class="full-icon">drag_indicator</mat-icon>
    </button>
    <button (click)="deleteRows = !deleteRows" [ngClass]="(!deleteRows)?'add-column':'add-column-active'"
        style="margin: -50px 255px;" matTooltip="delete rows" matTooltipPosition="above" mat-icon-button
        aria-label="ranking">
        <mat-icon style="font-size: 26px;" class="full-icon">delete_outline</mat-icon>
    </button>
    <button (click)="isColumnResizerOn = !isColumnResizerOn"
        [ngClass]="(!isColumnResizerOn)?'add-column':'add-column-active'" style="margin: -50px 290px;"
        matTooltip="columns width" matTooltipPosition="above" mat-icon-button aria-label="ranking">
        <mat-icon style="font-size: 26px;" class="full-icon">swap_horizontal_circle</mat-icon>
    </button>

</div>
<!-- ➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗  END  ➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗➗ -->


<!-- 🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧 CONFIG BOX 🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧 -->
<div *ngIf="i === selectedIndex" class="mat-elevation-z4" cdkDrag
    style="position: absolute;width: 62vw;background: #fafafa;z-index: 1;top: -8px;left: 15%;border: lightgrey 3px solid;">
    <div style="position: absolute;
    top: 10px;
    right: 10px;
    color: #ccc;
    cursor: move;
    width: 1024px;
    height: 54px;" cdkDragHandle> </div>
    <div style="text-align: center;">
        <div style="font-size: 16px;margin: 20px;color: #48535e;">Copy & Paste TEST NAMES</div>
        <!-- <div style="font-size: 14px;margin-bottom: 20px;color: lightgray;">Brief Description Here</div> -->
    </div>
    <div style="display: flex;justify-content: center;justify-items: center;">

        <mat-form-field style="width: 90%;margin-left: 20px;" appearance="outline">
            <mat-label>Copy & Paste TEST NAMES</mat-label>
            <textarea matInput rows="4" cols="50" [(ngModel)]="testNamesInput"
                placeholder="ENHANCE,Hance, En-,EVOLVE,Evo,GUARD,Gard, Guard,INVEST,In, Inv,OMNI,Omni,OPTIMAL"></textarea>
        </mat-form-field>

    </div>

    <hr>
    <div style="display: flex;flex-direction: row;justify-content: space-around;gap: 30px;">

        <input type="text" [(ngModel)]="bmxItem.componentSettings[0].categoryName"
            [value]="bmxItem.componentSettings[0].categoryName"
            style="font-size: 20px;color: #324395;padding-bottom: 10px;">
        <input type="text" [(ngModel)]="bmxItem.componentSettings[0].categoryDescription"
            [value]="bmxItem.componentSettings[0].categoryDescription"
            style="font-size: 20px;color: #ee7f25;padding-bottom: 20px;">


        MIN<input type="number" min="0" [(ngModel)]="bmxItem.componentSettings[0].minRule" style="width: 50px;"
            [value]="bmxItem.componentSettings[0].minRule">
        MAX<input type="number" min="0" [(ngModel)]="bmxItem.componentSettings[0].maxRule" style="width: 50px;"
            [value]="bmxItem.componentSettings[0].maxRule">

    </div>

    <hr>
    <div style="text-align: center;display: flex;flex-direction: row;justify-content: space-around;">
        <div>
            <div style="font-size: 16px;margin-top: 10px;color: #48535e;">SELECT RATING RANGE</div>
            <br>

            <div style="text-align: center;display: flex;flex-direction: row;justify-content: space-around;">
                5 <input [(ngModel)]="rankingScaleValue" type="range" id="volume" name="volume" min="5" max="10">
                10 <br>
            </div>
            <label for="volume">{{rankingScaleValue}}</label>
            <hr>

        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>choose criteria</mat-label>
                <mat-select multiple [(ngModel)]="selectedCriteria"
                    (selectionChange)="criteriaSelection(selectedCriteria)">
                    <mat-option *ngFor="let cirteriaItem of CRITERIA" [value]="cirteriaItem">{{cirteriaItem.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <div style="font-size: 16px;margin-top: 10px;color: #48535e;">CHOOSE RATING ICON</div>
            <br>
            <mat-radio-group aria-label="Select an option" [(ngModel)]="ratingScaleIcon">
                <mat-icon style="color:#76d354;">grade</mat-icon>
                <mat-radio-button value="grade">
                </mat-radio-button>
                <mat-icon style="color:#e6ad11;">settings_cell</mat-icon>
                <mat-radio-button value="settings_cell">
                </mat-radio-button>
            </mat-radio-group>
            <hr>
        </div>

        <button style="outline: none;color:#76d354;margin-bottom: 50px;" mat-icon-button
            (click)="selectedIndex = '';upLoadNamesAndRationales(testNamesInput)" aria-label="ranking">
            <mat-icon>check_circle</mat-icon><br> DONE
        </button>
    </div>
</div>
<!-- 🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧END CONFIG BOX 🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧 -->



<!--🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑 RATING TABLE 🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑🥑-->


<!-- ⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺RAGE INPUTS FOR COLUMN SETTINGS ⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺ -->
<div *ngIf="isColumnResizerOn && bmxClientPageOverview" class="" style="display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75%;
    position: absolute;
    top: -50px;
    left: 40px;
    border-radius: 15px;">

    <div style="display: flex;flex-direction: column;align-items: center;">
        <p style="margin: 0 0 -12px;color: grey;">columns width: {{bmxItem.componentSettings[0].columnWidth}} px</p>
        <input type="range" style="margin: 20px;width: 100px;" [(ngModel)]="bmxItem.componentSettings[0].columnWidth"
            class="slider-font-size" tickInterval="1" min="50" max="1000"
            [value]="bmxItem.componentSettings[0].columnWidth">
    </div>
    <div style="display: flex;flex-direction: column;align-items: center;">
        <p style="margin: 0 0 -12px;color: grey;">ratinale width: {{bmxItem.componentSettings[0].rationalewidth}} px</p>
        <input type="range" style="margin: 20px;width: 100px;" [(ngModel)]="bmxItem.componentSettings[0].rationalewidth"
            class="slider-font-size" tickInterval="1" min="50" max="1000"
            [value]="bmxItem.componentSettings[0].rationalewidth">
    </div>
    <div style="display: flex;flex-direction: column;align-items: center;">
        <p style="margin: 0 0 -12px;color: grey;">font size: {{bmxItem.componentSettings[0].fontSize}} px</p>
        <input type="range" style="margin: 20px;width: 100px;" [(ngModel)]="bmxItem.componentSettings[0].fontSize"
            class="slider-font-size" tickInterval="1" min="2" max="40" [value]="bmxItem.componentSettings[0].fontSize">
    </div>
    <div style="display: flex;flex-direction: column;align-items: center;">
        <p style="margin: 0 0 -12px;color: grey;">row height: {{bmxItem.componentSettings[0].rowHeight}} px</p>
        <input type="range" style="margin: 20px;width: 100px;" [(ngModel)]="bmxItem.componentSettings[0].rowHeight"
            class="slider-font-size" tickInterval="1" min="2" max="20" [value]="bmxItem.componentSettings[0].rowHeight">
    </div>
    <div *ngIf="radioColumnCounter > 1" style="display: flex;flex-direction: column;align-items: center;">
        <p style="margin: 0 0 -12px;color: grey;">radio Columns width:
            {{bmxItem.componentSettings[0].radioColumnsWidth}} px</p>
        <input type="range" style="margin: 20px;width: 100px;"
            [(ngModel)]="bmxItem.componentSettings[0].radioColumnsWidth" class="slider-font-size" tickInterval="1"
            min="50" max="100" [value]="bmxItem.componentSettings[0].radioColumnsWidth">
    </div>
</div>
<!-- <mat-slider min="200" max="500" step="10" value="200" [(value)]="bmxItem.componentSettings[0].columnWidth"></mat-slider><p>{{bmxItem.componentSettings[0].columnWidth}}</p> -->
<!-- ⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺  END  ⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺⏺ -->



<!--💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲 TABLE 💻 DESKTOP 💻 GENERATOR 💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲-->
<div class="desktop">
    <div style="display: flex;flex-direction: column;padding-left: 40px;">

        <div style="font-size: 25px;color: #324395;padding-bottom: 10px;">{{bmxItem.componentSettings[0].categoryName}}
        </div>
        <div style="font-size: 18px;color: #ee7f25;padding-bottom: 20px;">
            {{bmxItem.componentSettings[0].categoryDescription}}</div>
    </div>
    <div class="scroller-style main-container">

        <div style="display: flex;flex-direction: row;gap: 20px; align-items: center;width: 750px;">

            <mat-icon (click)="moveleft()" style="font-size: 30px;color: grey;cursor: pointer;" class="full-icon">
                chevron_left</mat-icon>

            <div class="tinder-box">

                <div
                    style="font-size: 80px;text-align: center;font-weight: bolder;animation: fadeInRight 1s ease-in 0 1 forwards;">
                    {{( bmxItem.componentText[testNameIndex].nameCandidates)?
                    bmxItem.componentText[testNameIndex].nameCandidates:'TEST NAME'}}
                </div>
                <div style="font-size: 24px;text-align: center;color: #bababa;max-width: 80%;">
                    {{( bmxItem.componentText[testNameIndex].rationale)?
                    bmxItem.componentText[testNameIndex].rationale:'Rationale of an undisclosed length'}}
                </div>
                <textarea name="comments" placeholder="comments" style="width: 100%;
                padding: 20px;"></textarea>
                <div style="display: flex;flex-direction:row;justify-content: center;align-items: center;gap: 110px;">

                    <!-- <mat-icon (click)="voteName('neutral')" style="font-size: 65px;color: #ee252f;cursor: pointer;" class="full-icon">highlight_off</mat-icon> -->
                    <!-- <mat-icon style="font-size: 65px;color: #ee252f;cursor: pointer;" class="full-icon">close</mat-icon> -->


                    <mat-icon (click)="voteName('negative')" style="font-size: 65px;color: #ee252f;cursor: pointer;"
                        class="full-icon">highlight_off</mat-icon>
                    <!-- <mat-icon style="font-size: 65px;color: #00cd38;cursor: pointer;" class="full-icon">favorite</mat-icon> -->
                    <!-- <mat-icon style="font-size: 65px;color: #00cd38;cursor: pointer;" class="full-icon">thumb_up</mat-icon> -->

                    <mat-icon (click)="voteName('positive')" style="font-size: 65px;color: #00cd38;cursor: pointer;"
                        class="full-icon">sentiment_satisfied_alt</mat-icon>
                    <!-- <mat-icon (click)="voteName('positive')" style="font-size: 65px;color: #00cd38;cursor: pointer;"
                        class="full-icon">check_circle</mat-icon> -->
                </div>

            </div>

            <mat-icon (click)="moveRight()" style="font-size: 30px;color: grey;cursor: pointer;" class="full-icon">
                chevron_right</mat-icon>

        </div>
    </div>
</div>
<!--💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲 END TABLE GENERATOR 💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲-->



<!--📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱 TABLE 📱 MOBILE 📱 GENERATOR 📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱-->
<div class="mobile">
    <div style="display: flex;flex-direction: column;text-align: center;">

        <div style="font-size: 25px;color: #324395;padding-bottom: 10px;margin: 5px;">
            {{bmxItem.componentSettings[0].categoryName}}
        </div>
        <div style="font-size: 18px;color: #ee7f25;padding-bottom: 20px;margin: 10px;">
            {{bmxItem.componentSettings[0].categoryDescription}}</div>

    </div>
    <div class="scroller-style main-container">

        <div style="border: #bababa 2px solid;height: 442px;
        width:310px;display: flex;flex-direction:column;justify-content: space-around  ;align-items: center;gap: 10px">

            <div style="font-size: 40px;text-align: center;font-weight: bolder;">
                {{'TEST NAME'}}
            </div>
            <div style="font-size: 20px;text-align: center;color: #bababa;max-width: 500px;">
                {{'ORal New Chemical Entity Aiming to Slow Disease Trajectory in Early Parkinson’s'}}
            </div>
            <textarea name="comments" placeholder="comments" style="max-width: 450px;
                padding: 20px;"></textarea>
            <div style="display: flex;flex-direction:row;justify-content: center;align-items: center;gap: 110px;">
                <button matRipple [matRippleCentered]="true" mat-icon-button style="outline: none;">
                    <mat-icon style="font-size: 65px;color: brown;" class="full-icon">cancel</mat-icon>
                </button>
                <button matRipple [matRippleCentered]="true" mat-icon-button style="outline: none;">
                    <mat-icon style="font-size: 65px;color: green;" class="full-icon">check</mat-icon>
                </button>
            </div>

        </div>

    </div>
</div>

<!--📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱 END TABLE GENERATOR 📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱-->