<!-- <div id="example1" style="background: url('./assets/img/elite/CesarVega/charlieVBG.jpg')">
    
  </div> -->
<div class="mainContainer disable-dbl-tap-zoom">
    <div
        style="display: flex;flex-direction: column;align-items: center;justify-items: space-evenly;align-items: center;justify-content: center;max-width: 500px;">
        <h1 style="font-family: Anggraini;color: #d5ad6d;position: absolute;top: 82px;z-index: 1;">{{title}}</h1>
        <img src="./assets/img/elite/CesarVega/header.jpg"style="width: 100%;position:fixed;top: 0px;max-width: 500px;">
        <img src="./assets/img/elite/CesarVega/body.jpg" style="width: 368px;
        position: absolute;
        top: 152px;
        z-index: -1;">


        <!-- BI BRAND GO BUTTON -->
        <div class="smartRadialButton"
            style="position: absolute;display: flex;flex-direction: column;top: 50%;left: 50%;-ms-transform: translate(-50%, -53%);transform: translate(-50%, -53%);">

            <button [ngClass]="(isGoVoteOn)?'GO':'GO_Off'" style="-webkit-background-clip: text; background-clip: text;"
                mat-icon-button (click)="goVote()">
                {{logoInitial}}
            </button>

            <button (click)="sendQrCode('WhatsApp')" *ngIf="isRadialMenuOn" class="G4 GG" mat-icon-button>
                <mat-icon>whatsapp</mat-icon>
            </button>

            <button (click)="sendQrCode('Phone')" *ngIf="isRadialMenuOn" class="G2 GG" mat-icon-button>
                <mat-icon>phone_in_talk</mat-icon>
            </button>

            <button (click)="sendQrCode('Instagram')" *ngIf="isRadialMenuOn" class="G3 GG" mat-icon-button>
                <fa-icon [icon]="faInstagram"></fa-icon>
            </button>

            <button (click)="sendQrCode('Ca$hApp')" *ngIf="isRadialMenuOn" class="G1 GG" mat-icon-button>
                <mat-icon>attach_money</mat-icon>
            </button>

        </div>
      
       
        <div style="    font-family: oprah;
        color: #d5ad6d;
        position: absolute;
        width: 100%;
        height:100px;
        bottom: 65px;
        z-index: 1;
        padding: 10px;
        margin: 10px;
        font-size: 20px; line-height: 1.3em !important;overflow: visible;text-overflow: inherit;text-size-adjust: 30;">{{username}}</div>


        <h3 style="font-family: caviar;color: #d5ad6d;position: absolute;padding-top: 80px;bottom: 40px;z-index: 1;">{{userDescription}}</h3>

        <!-- <img src="./assets/img/elite/CesarVega/bodyR.jpg" style="width: 100%;"> -->
        <img src="./assets/img/elite/CesarVega/footer.jpg"
            style="width: 100%;position: fixed;bottom: 0px;max-width: 500px;">
  
    </div>
</div>
