<!-- <div id="example1" style="background: url('./assets/img/elite/CesarVega/charlieVBG.jpg')">
    
  </div> -->

  <div style="display: flex;flex-direction: column;align-items: center;justify-items: space-evenly;align-items: center;justify-content: center;max-width: 500px;">

    <img src="./assets/img/elite/CesarVega/header.jpg" style="width: 100%;position: fixed;
    top: 0px;">
    <img src="./assets/img/elite/CesarVega/body.jpg" style="width: 100%;">


     <!-- BI BRAND GO BUTTON -->
     <div class="smartRadialButton">

        <button [ngClass]="(isGoVoteOn)?'GO':'GO_Off'" mat-icon-button (click)="goVote()">
            BI
        </button>
        

         <button *ngIf="isRadialMenuOn" class="G4 GG" mat-icon-button>
        N
    </button>

    <button *ngIf="isRadialMenuOn" class="G2 GG" mat-icon-button>
        C
    </button>

    <button *ngIf="isRadialMenuOn" class="G3 GG" mat-icon-button>
        P
    </button>

    <button *ngIf="isRadialMenuOn" class="G1 GG" mat-icon-button>
        T
    </button>

   
    </div>



    <img src="./assets/img/elite/CesarVega/bodyR.jpg" style="width: 100%;">
    <img src="./assets/img/elite/CesarVega/footer.jpg" style="width: 100%;position: fixed;
    bottom: 0px;">

</div>
   
 