<div style="margin: 20px;font-size: 20px;color:#063074;font-weight: 800;">Send</div>

<mat-form-field style="    width: 94%;margin: 20px;" appearance="outline">
    <mat-label>Copy & Paste Respondents</mat-label>
    <textarea matInput rows="4" cols="50" placeholder="First name, Last Name, respondentName@email.com"></textarea>
</mat-form-field>
<div style="display: flex;flex-direction: row;">


    <!-- CHNAGE THE DROP DOWN FOR CHECK BoXES Select All/Deselect All checkbox & a Select All Not Completed -->

    <mat-form-field appearance="outline" style="margin-left: 20px;">
        <mat-label>Select not completed</mat-label>
        <mat-select class="selectLabels">
            <mat-option *ngFor="let settingsList of ['Select All', 'Deselect All', 'Select All Not Completed']"
                [value]="settingsList">
                {{settingsList}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div style="display: flex;flex-direction: column;">
        <div>
            <button mat-raised-button style="background-color: #003180;color:white;margin: 5px 20px 0 20px;">
                Upload Participants
            </button>
        </div>
        <div style="position: relative;left: 89px;top: 2px;color: grey;">{{'0 Participants'}}</div>
    </div>
</div>


<br>
<br>
<br>
<!-- MAKE YOUR TABLE BELOW THIS IS SAMPLE TABLE -->
<table class="table table-bordered">
    <tr>
        <th>Fisrt Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Group</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
</table>
<div style="display: flex;flex-direction: row; justify-content: space-between;align-items: center;"
    *ngFor="let settingsList of RESPONDENTS_LIST">

    
        <div style="width: 10%;text-align: start;margin-left: 10px;">{{settingsList.firstName}}</div>
    
    
        <div style="width: 10%;text-align: start;margin-left: 10px;">{{settingsList.lastName}}</div>
    
    
        <div style="width: 10%;text-align: start;margin-left: 10px;">{{settingsList.email}}</div>
    
    
        <button style="width: 10%;text-align: start;margin-left: 10px;" mat-icon-button style="color: #488abc;" aria-label="Example icon button with a home icon">
            <mat-icon>email</mat-icon>
        </button>
    
    
        <button style="width: 10%;text-align: start;margin-left: 10px;" mat-icon-button style="color: #48bcb4;" aria-label="Example icon button with a home icon">
             <mat-icon>build</mat-icon>
        </button>
    
    
        <button style="width: 10%;text-align: start;margin-left: 10px;" mat-icon-button style="color: #bc488a;" aria-label="Example icon button with a home icon">
            <mat-icon>delete</mat-icon>
        </button>
    
</div>