<div id="login" fxLayout="column">
    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <div id="login-form">
            <div class="logo">
                <img src="assets/images/logos/bi-logo-with-tagline.svg">
            </div>
            <div class="mat-display-1  secondary-text">Thank you!</div>
            <div class="mat-subheading-1 secondary-text">Your appointment meeting is scheduled</div>
            <!-- <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'scheduler'">go to scheduler?</a>
            </div> -->
        </div>
    </div>
</div>