:host {
    .toolbar {
        background-color: #004684;
        color: rgba(255, 255, 255, 0.87);
        height: 56px;
        max-height: 56px;
        display: flex;
        box-sizing: border-box;
        padding: 0 16px;
        width: 100%;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
    }

    #login {
        width: 100%;
        // background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat;
        background-color: white;
        background-size: cover;

        #login-form-wrapper {
            flex: 1 0 auto;
            padding: 32px;

            #login-form {
                // padding: 32px;
                background: #ffffff;
                text-align: center;

                .logo {
                    width: 191px;
                }

                .title {
                    font-size: 20px;
                    margin: 22px 0 18px 0;
                }

                form {
                    width: 100%;
                    text-align: left;

                    mat-form-field {
                        width: 100%;
                    }

                    mat-checkbox {
                        margin: 0;
                    }

                    .remember-forgot-password {
                        font-size: 13px;
                        margin-top: 8px;

                        .remember-me {
                            margin-bottom: 8px;
                        }

                        .forgot-password {
                            font-size: 13px;
                            font-weight: 500;
                            margin-bottom: 8px;
                        }
                    }

                    .submit-button {
                        width: 220px;
                        margin: 8px auto;
                        display: block;
                    }
                }

                .register {
                    margin: 22px auto 24px auto;
                    font-weight: 500;

                    .text {
                        margin-right: 8px;
                    }
                }

                .separator {
                    font-size: 15px;
                    font-weight: 600;
                    margin: 14px auto;
                    position: relative;
                    overflow: hidden;
                    width: 100px;
                    color: rgba(0, 0, 0, 0.54);

                    .text {
                        display: inline-flex;
                        position: relative;
                        padding: 0 8px;
                        z-index: 9999;

                        &:before,
                        &:after {
                            content: "";
                            display: block;
                            width: 30px;
                            position: absolute;
                            top: 10px;
                            border-top: 1px solid rgba(0, 0, 0, 0.12);
                        }

                        &:before {
                            right: 100%;
                        }

                        &:after {
                            left: 100%;
                        }
                    }
                }

                button {
                    &.google,
                    &.facebook {
                        width: 192px;
                        text-transform: none;
                        color: #ffffff;
                        font-size: 13px;
                    }

                    &.google {
                        background-color: #d73d32;
                        margin-bottom: 8px;
                    }

                    &.facebook {
                        background-color: rgb(63, 92, 154);
                    }
                }
            }
        }
    }

    .nameform {
        // position: absolute;
        // top: 350px;
    }
}
