:host {
    .toolbar {
        background-color: #004684;
        color: rgba(255, 255, 255, 0.87);
        height: 56px;
        max-height: 56px;
        display: flex;
        box-sizing: border-box;
        padding: 0 16px;
        width: 100%;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
    }

    @media (min-width: 576px) {
        .bsr-mobile-container {
            max-width: 400px;
            position: relative;
            min-height: 90%;
            top: 30px;
            overflow-y: hidden;
            border: solid #020263;
            border-radius: 10px;
        }
        .tab-emoji {
            max-width: 355px;
            min-width: 355px;
            overflow-y: scroll;
        }
        .emoji-mobile-box {
            background-color: #fff;
            position: absolute;
            top: 12%;
            border: lightgrey solid 4px;
            border-radius: 10px;
            padding: 10px;
            max-height: 220px;
            max-width: 387px;
            font-size: 14px;
            margin: 7px;
            line-height: 19px;
            overflow-y: scroll;
            opacity: 0;
            animation: jackInTheBox 0.3s ease 0.1s forwards;
        }
    }

    @media (max-width: 576px) {
        .bsr-mobile-container {
            max-width: 500px;
            position: relative;
            min-height: 100%;
            overflow-y: hidden;
           
        }

        .tab-emoji {
            max-width: 380px;
            min-width: 380px;
        }

        .emoji-mobile-box {
            background-color: #ffffff;
            position: absolute;
            top: 14%;
            border: lightgrey 2px solid;
            border-radius: 10px;
            padding: 0px 11px 0px 16px;
            margin: 10px;
            max-height: 220px;
            font-size: 14px;
            line-height: 19px;
            overflow-y: scroll;
            opacity: 0;
            animation: jackInTheBox 0.3s ease 0.1s forwards;
        }
    }

    .emoji-icon {
        outline: none;
        position: absolute;
        top: -70px;
        right: -17px;
        opacity: 1;
        animation: flip 0.4s  0.8s ease-in-out 1 forwards;
    }

    @keyframes drop {
        0% {
            top: -200px;
        }
        25% {
            top: 50px;
        }
        50% {
            top: 100px;
        }
        75% {
            top: 200px;
        }
        100% {
            top: 150px;
        }
    }

    .tab-emoji {
        max-width: 380px;
        min-width: 380px;
    }

    .names-list-card {
        height: 300px;
        overflow-y: scroll;
        min-width: 330px;
        line-height: 26px;
        border-bottom: #1e41ea solid 1px;
        opacity: 0;
        animation: bounceIn 0.5s ease 0.3s forwards;
    }

    .names-list-card::-webkit-scrollbar {
        display: none;
    }

    .name-input-field {
        left: 0px;
        animation: rotateInDownLeft 0.4s ease 0.6s backwards;
    }

    .submit-button {
        right: 0px;
        animation: rotateInDownRight 0.2s ease 0.1s backwards;
    }

    .finish-button {
        right: 0px;
        animation: rotateInDownLeft 0.2s ease 0.4s backwards;
    }

    .enable-anonymous {
        animation: bounceIn 0.2s ease 0.6s backwards;
    }

    .emoji-mobile-box::-webkit-scrollbar {
        display: none;
    }

    .remember-me {
        // opacity: 0;
        margin-bottom: 8px;
        // animation: jackInTheBox 1s ease 2s forwards;
    }

    #login {
        width: 100%;
        // background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat;
        background-color: white;
        background-size: cover;

        #login-form-wrapper {
            flex: 1 0 auto;
            padding: 5px;

            #login-form {
                // padding: 32px;
                background: #ffffff;
                text-align: center;

                .logo {
                    width: 286px;
                }

                .title {
                    font-size: 20px;
                    margin: 22px 0 18px 0;
                }

                form {
                    width: 100%;
                    text-align: left;

                    mat-form-field {
                        width: 100%;
                    }

                    mat-checkbox {
                        margin: 0;
                    }

                    .remember-forgot-password {
                        font-size: 13px;
                        margin-top: 8px;

                        .forgot-password {
                            font-size: 13px;
                            font-weight: 500;
                            margin-bottom: 8px;
                        }
                    }

                    .submit-button {
                        width: 220px;
                        margin: 8px auto;
                        display: block;
                    }
                }

                .register {
                    margin: 22px auto 24px auto;
                    font-weight: 500;

                    .text {
                        margin-right: 8px;
                    }
                }

                .separator {
                    font-size: 15px;
                    font-weight: 600;
                    margin: 14px auto;
                    position: relative;
                    overflow: hidden;
                    width: 100px;
                    color: rgba(0, 0, 0, 0.54);

                    .text {
                        display: inline-flex;
                        position: relative;
                        padding: 0 8px;
                        z-index: 9999;

                        &:before,
                        &:after {
                            content: "";
                            display: block;
                            width: 30px;
                            position: absolute;
                            top: 10px;
                            border-top: 1px solid rgba(0, 0, 0, 0.12);
                        }

                        &:before {
                            right: 100%;
                        }

                        &:after {
                            left: 100%;
                        }
                    }
                }

                button {
                    &.google,
                    &.facebook {
                        width: 192px;
                        text-transform: none;
                        color: #ffffff;
                        font-size: 13px;
                    }

                    &.google {
                        background-color: #d73d32;
                        margin-bottom: 8px;
                    }

                    &.facebook {
                        background-color: rgb(63, 92, 154);
                    }
                }
            }
        }
    }

    .refreshbutton {
        color: #004684;
        background-color: white;
        font-size: 8px;
        outline: none;
        animation: heartBeat 1s ease-in-out 0.3s 1  forwards;
        :hover{
            animation: heartBeat 1s ease-in-out 0.3s 1  forwards;
        }
    }
}
