<div style="display: flex;flex-direction: row;">
    <div style="display: flex;border:brown 0px solid;width: 15%; height: 100vh;">


        <div class="logo-badge" style="font-size: 21px;overflow-x: hidden;">

            <img style="width: 50px;margin-left: 10px;" src="./assets/img/bmxLogo.png">
            <div style="display: flex;flex-direction: column;">
                <div class="title secondary-text"
                    style="color: #004684; margin-top: 10px;text-align: center;font-family: Arial, Helvetica, sans-serif;font-weight: 800;">
                    {{'BRANDMATRIX'}}
                </div>
                <div
                    style="color: #004684; text-align: end;font-family: Arial, Helvetica, sans-serif;font-weight: 600;">
                    {{'Dashboard'}}
                </div>
            </div>
        </div>

        <div class="welcome">
            <button mat-icon-button style="background-color: white;margin: 0 20px 0 10px">
                <mat-icon>account_circle</mat-icon>
            </button>
            <div class="title secondary-text"
                style="color: white; text-align: end;font-family: Arial, Helvetica, sans-serif;font-size: 20px;">
                {{' welcome Alexa!'}}
            </div>

        </div>



        <div class="menu" >
            <div class="menu-item">
                <button mat-icon-button style="color: white;margin: 0 20px 0 10px">
                    <mat-icon style="font-size: 40px;">list</mat-icon>
                </button>
                <div
                    style=" text-align: end;font-family: Arial, Helvetica, sans-serif;font-size: 20px;">
                    {{'Project List'}}
                </div>
            </div>
            <div class="menu-item">
                <button mat-icon-button style="margin: 0 20px 0 10px">
                    <mat-icon style="font-size: 40px;">open_in_full</mat-icon>
                </button>

                <div style=" display: flex;flex-direction: column;align-items: flex-start;">
                    <div
                        style=" text-align: end;font-family: Arial, Helvetica, sans-serif;font-size: 20px;">
                        {{'Open Links'}}
                     
                    </div>
                    <div
                        style=" text-align: end;font-family: Arial, Helvetica, sans-serif;font-size: 20px;">
                        
                        {{'Archive'}}
                      
                    </div>
                    <div
                        style=" text-align: end;font-family: Arial, Helvetica, sans-serif;font-size: 20px;">
                       
                        {{'Stats'}}
                    </div>

                </div>


            </div>
            <div class="menu-item">
                <button mat-icon-button style="margin: 0 20px 0 10px">
                    <mat-icon style="font-size: 40px;">mail</mat-icon>
                </button>
                <div class="title secondary-text"
                    style=" text-align: end;font-family: Arial, Helvetica, sans-serif;font-size: 20px;">
                    {{'Matrix Invites'}}
                </div>
            </div>
            <div class="menu-item">
                <button mat-icon-button style="margin: 0 20px 0 10px">
                    <mat-icon style="font-size: 40px;">edit</mat-icon>
                </button>
                <div  style=" text-align: end;font-family: Arial, Helvetica, sans-serif;font-size: 20px;">
                    {{'Create/Edit Matrix'}}
                </div>
            </div>
            <div class="menu-item">
                <button mat-icon-button style="margin: 0 20px 0 10px">
                    <mat-icon style="font-size: 40px;">stacked_bar_chart</mat-icon>
                </button>
                <div style=" text-align: end;font-family: Arial, Helvetica, sans-serif;font-size: 20px;">
                    {{'Reports'}}
                </div>
            </div>
            <div class="menu-item">
                <button mat-icon-button style="margin: 0 20px 0 10px">
                    <mat-icon style="font-size: 40px;">settings</mat-icon>
                </button>
                <div style=" text-align: end;font-family: Arial, Helvetica, sans-serif;font-size: 20px;">
                    {{'Settings'}}
                </div>
            </div>
        </div>

    </div>
    <div style="width: 60%; height: 100vh;"></div>
    <div style="width: 25%; height: 100vh;"></div>
</div>