<div class="main-container">
    <div style="display: flex;border:brown 0px solid;width: 25%; height: 100vh;">

        <!-- LOGO BRANDING 🎭-->
        <div class="logo-badge" style="font-size: 21px;overflow-x: hidden;">

            <img style="width: 50px;margin-left: 10px;" src="./assets/img/bmxLogo.png">
            <div style="display: flex;flex-direction: column;">
                <div class="title secondary-text"
                    style="color: #004684; margin-top: 10px;text-align: center;font-family: Arial, Helvetica, sans-serif;font-weight: 800;">
                    {{'BRANDMATRIX'}}
                </div>
                <div
                    style="color: #004684; text-align: end;font-family: Arial, Helvetica, sans-serif;font-weight: 600;">
                    {{'Dashboard'}}
                </div>
            </div>
        </div>
        <!--🎭 END LOGO BRANDING -->

        <div class="welcome">
            <button mat-icon-button style="background-color: white;margin: 0 20px 0 20px">
                <mat-icon>account_circle</mat-icon>
            </button>
            <div style="color: white; text-align: end;font-family: Arial, Helvetica, sans-serif;font-size: 20px;">
                {{' welcome Alexa!'}}
            </div>
        </div>

        <!-- SIDE MENU 🎀 -->
        <div class="menu">
            <div [ngClass]="(isMenuActive1)?'menu-active':'menu-item'" (click)="toggleMenuActive('isMenuActive1')">
                <button mat-icon-button style="margin: 0 20px 0 10px">
                    <mat-icon style="font-size: 40px;">list</mat-icon>
                </button>
                <div style=" text-align: end;font-family: Arial, Helvetica, sans-serif;font-size: 20px;">
                    {{'Project List'}}
                </div>
            </div>
            <div [ngClass]="(isMenuActive2)?'menu-active':'menu-item'" (click)="toggleMenuActive('isMenuActive2')">
                <button mat-icon-button style="margin: 0 20px 0 10px">
                    <mat-icon style="font-size: 40px;">open_in_full</mat-icon>
                </button>

                <div style=" display: flex;flex-direction: column;align-items: flex-start;">
                    <div style=" text-align: end;font-family: Arial, Helvetica, sans-serif;font-size: 20px;">
                        {{'Open Links'}}
                    </div>
                    <div style=" text-align: end;font-family: Arial, Helvetica, sans-serif;font-size: 20px;">
                        {{'Archive'}}
                    </div>
                    <div style=" text-align: end;font-family: Arial, Helvetica, sans-serif;font-size: 20px;">
                        {{'Stats'}}
                    </div>
                </div>
            </div>
            <div [ngClass]="(isMenuActive3)?'menu-active':'menu-item'" (click)="toggleMenuActive('isMenuActive3')">
                <button mat-icon-button style="margin: 0 20px 0 10px">
                    <mat-icon style="font-size: 40px;">mail</mat-icon>
                </button>
                <div class="title secondary-text"
                    style=" text-align: end;font-family: Arial, Helvetica, sans-serif;font-size: 20px;">
                    {{'Matrix Invites'}}
                </div>
            </div>
            <div [ngClass]="(isMenuActive4)?'menu-active':'menu-item'" (click)="toggleMenuActive('isMenuActive4')">
                <button mat-icon-button style="margin: 0 20px 0 10px">
                    <mat-icon style="font-size: 40px;">edit</mat-icon>
                </button>
                <div style=" text-align: end;font-family: Arial, Helvetica, sans-serif;font-size: 20px;">
                    {{'Create/Edit Matrix'}}
                </div>
            </div>
            <div [ngClass]="(isMenuActive5)?'menu-active':'menu-item'" (click)="toggleMenuActive('isMenuActive5')">
                <button mat-icon-button style="margin: 0 20px 0 10px">
                    <mat-icon style="font-size: 40px;">stacked_bar_chart</mat-icon>
                </button>
                <div style=" text-align: end;font-family: Arial, Helvetica, sans-serif;font-size: 20px;">
                    {{'Reports'}}
                </div>
            </div>
            <div [ngClass]="(isMenuActive6)?'menu-active':'menu-item'" (click)="toggleMenuActive('isMenuActive6')">
                <button mat-icon-button style="margin: 0 20px 0 10px">
                    <mat-icon style="font-size: 40px;">settings</mat-icon>
                </button>
                <div style=" text-align: end;font-family: Arial, Helvetica, sans-serif;font-size: 20px;">
                    {{'Settings'}}
                </div>
            </div>
        </div>
        <!--🎀 END SIDE MENU -->

    </div>

    <!-- PROJECT LIST-->
    <div class="project-list" *ngIf="isMenuActive1" style="border: hotpink solid 1px; width: 60%; height: 100vh;">
        PROJECT LIST
    </div>
    <div class="project-list" *ngIf="isMenuActive1" style="border: pink solid 1px; width: 25%; height: 100vh;">
        side panel 1</div>
    <!--END  PROJECT LIST-->

    <!-- OPEN LINKS-->
    <div class="open-links" *ngIf="isMenuActive2" style="border: hotpink solid 1px; width: 60%; height: 100vh;">OPEN LINKS</div>
    <div class="open-links" *ngIf="isMenuActive2" style="border: pink solid 1px; width: 25%; height: 100vh;">side panel 2</div>
    <!--END OPEN LINKS-->

    <!-- MATRIX INVITES -->
    <div class="matrix-invites" *ngIf="isMenuActive3" style="border: hotpink solid 1px; width: 60%; height: 100vh;">MATRIX INVITES</div>
    <div class="matrix-invites" *ngIf="isMenuActive3" style="border: pink solid 1px; width: 25%; height: 100vh;">side panel 3</div>
    <!--END MATRIX INVITES -->

    <!-- CREATE/EDIT COMPONENT  🧠-->

    <div class="create-edit" *ngIf="isMenuActive4" dragula="TASKS" [(dragulaModel)]="brandMatrixObjects"
        (dragulaModelChange)="checkDragEvetn($event);brandMatrixObjects = $event">

        <div *ngIf="true" class="mainContainerPresent" style="position: absolute;
        z-index: 1;
        width: 1011px;">


<div class="dropdowns" style="display: flex;flex-direction: column;">

    <div style="display: flex;flex-direction: row;">
        
            <mat-label>SalesBoardProjectList</mat-label>
            <mat-select>
                <mat-option *ngFor="let settingsList of settingsData.SalesBoardProjectList" [value]="settingsList">
                    {{settingsList}}
                </mat-option>
            </mat-select>
        

       
            <mat-label>DepartmentList</mat-label>
            <mat-select>
                <mat-option *ngFor="let settingsList of settingsData.DepartmentList" [value]="settingsList">
                    {{settingsList}}
                </mat-option>
            </mat-select>
       
    
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="display: flex;flex-direction: row;">
        
            <mat-label>SalesBoardProjectList</mat-label>
            <mat-select>
                <mat-option *ngFor="let settingsList of settingsData.SalesBoardProjectList" [value]="settingsList">
                    {{settingsList}}
                </mat-option>
            </mat-select>
        

       
            <mat-label>DepartmentList</mat-label>
            <mat-select>
                <mat-option *ngFor="let settingsList of settingsData.DepartmentList" [value]="settingsList">
                    {{settingsList}}
                </mat-option>
            </mat-select>
       
    
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="display: flex;flex-direction: row;">
        
            <mat-label>SalesBoardProjectList</mat-label>
            <mat-select>
                <mat-option *ngFor="let settingsList of settingsData.SalesBoardProjectList" [value]="settingsList">
                    {{settingsList}}
                </mat-option>
            </mat-select>
        

       
            <mat-label>DepartmentList</mat-label>
            <mat-select>
                <mat-option *ngFor="let settingsList of settingsData.DepartmentList" [value]="settingsList">
                    {{settingsList}}
                </mat-option>
            </mat-select>
       
    
    </div>
    <div></div>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
     
            <div class="dropdowns" style="display: flex;flex-direction: column;">

                <div style="display: flex;flex-direction: row;">
                    
                        <mat-label>SalesBoardProjectList</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let settingsList of settingsData.SalesBoardProjectList" [value]="settingsList">
                                {{settingsList}}
                            </mat-option>
                        </mat-select>
                
                
                </div>

                <div></div>

            </div>
     

           
        </div>

        <div *ngFor="let bmxItem of brandMatrixObjects; let i = index"
            style="display: flex;flex-direction: column;margin: 10px;">
            <!-- BMX HEADER 😋 -->

            <div *ngIf="bmxItem.componentType === 'logo-header'" class="header development-border">
                <div class="emoji-handle">.</div>
                <div>
                    <img style="width: 127px;margin-left: 20px;" src="./assets/img/bi-logo-with-tagline.svg">
                </div>
                <div><span style="color: #253b7d;">Brand</span> <span style="color: #253b7d;">Matrix</span></div>
                <div>
                    <img style="width: 127px;margin-right: 20px;" src="./assets/img/bmx/BD.png">
                </div>
            </div>
            <!--😋 END BMX HEADER  -->

            <!-- BMX PARAGRAPH EDITOR 📑 -->
            <div *ngIf="bmxItem.componentType === 'text-editor'" class="paragraph development-border">
                <div class="emoji-handle">.</div>
                <div style="margin: 30px;" [innerHTML]="bmxItem.componentText | safe: 'html'"></div>
                <ckeditor *ngIf="i === selectedIndex" id="txtTexto" class="ckeditorcev"
                    style="animation: fadeIn 0.5s ease forwards;" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="bmxItem.componentText" [data]="bmxItem.componentText" [config]="ckconfig">
                </ckeditor>

                <button *ngIf="i === selectedIndex" class="cancel" (click)="selectedIndex = '';" mat-icon-button>
                    <mat-icon style="font-size: 25px;">cancel</mat-icon>
                </button>
                <button *ngIf="i !== selectedIndex" mat-icon-button class="edit-icon" (click)="selectedIndex = i">
                    <mat-icon style="font-size: 25px;">edit</mat-icon>
                </button>
            </div>
            <!-- 📑 END BMX PARAGRAPH EDITOR -->


            <!-- LINEAR SCALE -->
            <div *ngIf="bmxItem.componentType === 'ranking-scale'" class="development-border"
                style="display: flex;flex-direction: column;position: relative;">
                <div class="emoji-handle">.</div>
                <div *ngFor="let testName of testNames" style="margin:10px 10px;">
                    <div class="test-name-table">
                        <label style="width: 10%;text-align: start;margin-left: 10px;"
                            for="html">{{testName.name}}</label>
                        <label style="width: 10%;text-align: start;margin-left: 10px;"
                            for="html">{{testName.rationale}}</label>

                        <button mat-raised-button color="primary" class="edit-icon">
                            1
                        </button>
                        <button mat-raised-button color="primary" class="edit-icon">
                            2
                        </button>
                        <button mat-raised-button color="primary" class="edit-icon">
                            3
                        </button>
                        <button mat-raised-button color="primary" class="edit-icon">
                            4
                        </button>
                        <!-- <input type="radio" id="1" [name]="testName.name" value="1">
                        <label for="1">1</label>
                        <input type="radio" id="2" [name]="testName.name" value="2">
                        <label for="2">2</label>
                        <input type="radio" id="3" [name]="testName.name" value="3">
                        <label for="3">3</label> -->
                    </div>
                </div>x

            </div>

            <!-- END LINEAR SCALE -->

        </div>

    </div>

    <div class="create-edit" *ngIf="isMenuActive4" style="border: pink solid 1px; width: 25%; height: 100vh;">

        <div *ngIf="true" class="" style="display: flex;flex-direction: column;margin-top: 50px;">
            <button (click)="createNewBmxComponent()" mat-icon-button matTooltip="home" matTooltipPosition="right">
                <mat-icon class="full-icon">note_add</mat-icon>
            </button>
            <button matTooltip="full-screen" matTooltipPosition="right" mat-icon-button color="warn" aria-label="aria">
                <mat-icon class="full-icon">aspect_ratio</mat-icon>
            </button>
            <button matTooltip="search" matTooltipPosition="right" mat-icon-button color="warn" aria-label="aria">
                <mat-icon class="full-icon">search</mat-icon>
            </button>
            <button *ngIf="!true" mat-icon-button matTooltip="slide comments" matTooltipPosition="right">
                <mat-icon class="full-icon">comment</mat-icon>
            </button>
            <button *ngIf="!false" matTooltip="qr code" matTooltipPosition="right" mat-icon-button aria-label="aria">
                <mat-icon class="full-icon">qr_code</mat-icon>
            </button>
        </div>
    </div>

    <!--🧠 END CREATE/EDIT COMPONENT-->

    <!-- REPORTS -->
    <div class="reports" *ngIf="isMenuActive5" style="border: hotpink solid 1px; width: 60%; height: 100vh;">REPORTS</div>
    <div class="reports" *ngIf="isMenuActive5" div style="border: pink solid 1px; width: 25%; height: 100vh;">SIDE PANEL5</div>
    <!--END REPORTS -->
    <!-- SETTINGS -->
    <div class="settings" *ngIf="isMenuActive6" style="border: hotpink solid 1px; width: 60%; height: 100vh;">SETTINGS</div>
    <div class="settings" *ngIf="isMenuActive6" div style="border: pink solid 1px; width: 25%; height: 100vh;">SIDE PANEL 6</div>
    <!--END SETTINGS -->
</div>